@import './_variables';
@import './_mixins';


.mat-tree li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    li {
        list-style-type: none;
        border-left: $table-border;
        margin-left: 1em;
        p {
            padding-left: 1em;
            position: relative;
            margin: 0px;
            color: #616167;
            font-size: 0.85rem;
            font-weight: 400;
            width: 100%;
            box-sizing: border-box;
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            span {
                white-space: nowrap;
                width: calc(100% - 100px);
                display: inline-flex;
                min-width: 6rem;
                // text-align: left;
                text-align: left;
                align-items: center;
                font-size: inherit;
                .dots {
                    // white-space: nowrap;
                    // width: calc(100% - 100px);
                    // text-overflow: ellipsis;
                    // display: inline-block;
                    // overflow: hidden;
                    // min-width: 6rem;
                    text-align: left;
                    display:inline-block;
                    color:#616167;
                    font-size: 1.2rem;
                    font-weight: 400;
                    line-height: 1;
                }
            }
        }
    }
}

ul.sub-category {
    padding: 0px 0px 0px 17px;
}

ul.sub-category li ul.sub-child-category {
    padding: 0px 0px 0px 17px;
}

li p::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1px;
    bottom: 50%;
    width: 1.75em;
    border: $table-border;
    border-top: 0 none transparent;
    border-right: 0 none transparent;
}

ul>li:last-child {
    border-left: 1px solid transparent;
}

ul.main-category>li {
    margin-left: 0px;
}

.category_btn {
    transform: rotate(90deg);
    float: right;
}
.rotate-horizontal-btn{
    width: 100%;
}

.node-deactive {
    opacity: 0.5;
}

.right-menu-option.mat-icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
}
app-category-tree-action-btn{text-align:right;}

ul li p:hover {
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}