<ul [class.main-category]="level == 0" [class.sub-category]="level > 0">
  <li *ngFor="let node of data" class="container">
    <p id = "cat{{node.id}}">
      <span>
        <button class="not-clickable-sec" mat-icon-button [ngClass]="!node.isActive ? 'node-deactive' : ''">
          <mat-icon *ngIf="!displayActionButtons && node.childrens.length > 0; else info;"><img
              src="../assets/images/folder-deselect.svg" /></mat-icon>
          <ng-template #info>
            <mat-icon *ngIf="node.isInfoAvailable;else noinfo;"><img src="../assets/images/folder-red.svg" /></mat-icon>
          </ng-template>
          <ng-template #noinfo>
            <mat-icon *ngIf="!node.isInfoAvailable"><img src="../assets/images/folder-active.svg" /></mat-icon>
          </ng-template>
        </button>
        <span [ngClass]="!node.isActive ? 'node-deactive' : ''" *ngIf="node.name.length <= 30">{{node.name}}</span>
        <div [ngClass]="!node.isActive ? 'node-deactive' : ''" *ngIf="node.name.length > 30">
          <span>{{(node.name | slice:0:30)  }}
            <span class="dots" matTooltip="{{node.name}}">...</span>
          </span>
        </div>
      </span>
      <span *ngIf="displayActionButtons;else checktemplate">
        <app-category-tree-action-btn [childData]="node" class="rotate-horizontal-btn"></app-category-tree-action-btn>
      </span>
      <ng-template #checktemplate>
        <mat-checkbox *ngIf="node.childrens.length == 0 && node.isActive" [(ngModel)]="node.checked"></mat-checkbox>
      </ng-template>
    </p>
    <!-- passing one more Input from here to manage child level css only -->
    <app-category-tree [displayActionButtons]="displayActionButtons" [level]="1" [data]="node.childrens">
    </app-category-tree>
  </li>
</ul>