.example-full-width{
    width: 100%;
}

h6{margin:0rem 0rem 0.5rem 0rem; font-size:1rem; color: #616167;
    font-weight: 500;}
p{margin:0;}
.tech-support-sec{
    margin-bottom:2rem;
    p{
        display:flex; flex-direction: column;
        a{
            font-size: 1rem;
            text-decoration: none;
            color: #4d89f7;
            cursor:pointer;
                &:hover{text-decoration: underline;     color: #4d89f7; cursor:pointer;}
        }
    }
}
.acc-manager-sec{
    p{
        display:flex; flex-direction: column;     color: #4d89f7;
        
        span{   
            display: inline-flex;
            margin: 0.2rem 0rem;
            font-size: 1rem;
            color: #4d89f7;
            a{
                text-decoration: none;
                color: #4d89f7;
                cursor:pointer;
                &:hover{text-decoration: underline;     color: #4d89f7; cursor:pointer;}
                &:active{    color: #4d89f7;}
            }
            
        
    }
    }
}

.popup-btn-sec.aligned-right{
    border-top: solid 1px #ccc;
    margin-top: 1rem;
}

.acc-phone{
    font-size: 0.9rem!important;
}