<div class="custom-defined-msg-box">
  <div class="popup-sec-icon">
    <div class="sparkle-bg"></div>

    <button class="alert-popup-icon">
      <mat-icon><img src="../assets/images/contact-email-popup.png" alt="" /></mat-icon>
    </button>

  </div>

  <mat-dialog-content class="add-sub-category-popup">
    <div class="contact-email-list-popup">
      <div class="tech-support-sec">
        <h6>Technical Support</h6>
        <p>
          <span><a target="_blank" href="mailto:helpdesk@wearesparks.com">helpdesk@wearesparks.com</a></span>
        </p>
      </div>
      <div class="acc-manager-sec" *ngIf="accountManagerEmail">
        <h6>Account Manager</h6>
        <p>
          <span>{{accountManagerName}}</span>
          <a target="_blank" href="mailto:{{ accountManagerEmail }}">{{accountManagerEmail}}</a>
          <span class="acc-phone">{{accountManagerPhoneNumber}}</span>
          <!-- <span *ngFor="let listItem of accManager">
            <a target="_blank" href="mailto:{{ listItem }}">{{listItem}}</a>
          </span> -->
        </p>
      </div>

    </div>
  </mat-dialog-content>

  <div class="popup-btn-sec aligned-right">
    <div mat-dialog-actions>
      <button mat-button class="transparent-btn popup-sec-btn" (click)="close()">CANCEL</button>
    </div>
  </div>

</div>