@import './_variables';
@import './_mixins';


.store-page-content-sec {
    .white-bg {
        background: #fff;
        border-radius: 5px;
        padding: 2rem 1.25rem;
        width:100%;
        @media screen and (max-width: $break-at-mobile-414) {
            padding: 1rem 0.75rem;
        }
    }
}

.add-user-btn-sec.s-add-event-cal{z-index:999; bottom: 4rem;
    @media screen and (max-width: $break-at-ipad) {
        right: 1rem;
        bottom:4rem;
    }
    @media screen and (max-width: $break-at-mobile-414) {
        right: 1rem;
        bottom:2.75rem;
    }
}

.print-btn-sec{
    display: inline-flex;
    .print-icon{
        width:2.5rem;
        height:2.5rem;
        padding-bottom: 1rem;
        @media screen and (max-width: $break-at-mobile-414) {
            width:1.5rem;
            height:1.5rem;
            padding-bottom: 0rem;
        }
        .material-icons{font-size:2.5rem; color:#fff; cursor:pointer;
            @media screen and (max-width: $break-at-mobile-414) {
                font-size:1.5rem;
               
            }
        }
    }
}
