@import './_variables';
@import './_mixins';

.mat-table{
    .mat-header-row{
        .mat-header-cell{
            &:nth-child(1){width:12%; flex: inherit;}
            &:nth-child(2){width:12%; flex: inherit;}
            &:nth-child(3){width:12%; flex: inherit;}
            &:nth-child(4){width:10%; flex: inherit;}
            &:nth-child(5){width:10%; flex: inherit;}
            &:nth-child(6){width:10%; flex: inherit;}
            &:nth-child(7){width:20%; flex: inherit;}
            &:nth-child(8){width:14%; flex: inherit; padding-right:0px;}
        }
    }
    .mat-row{
       // cursor:pointer;
        //padding-right: 0px;
        margin-bottom:5px;
        //background: linear-gradient(to right, #F8F8F8 70%, #ffffff 31%);
        @media screen and (max-width: $break-at-ipad) {
            min-height:5rem;
        }
        .mat-cell{

            &:nth-child(1){width:12%; flex: inherit; }
            &:nth-child(2){width:12%; flex: inherit; }
            &:nth-child(3){width:12%; flex: inherit; }
            &:nth-child(4){width:10%; flex: inherit; }
            &:nth-child(5){width:10%; flex: inherit; }
            &:nth-child(6){width:10%; flex: inherit;}
            &:nth-child(7){width:20%; flex: inherit;}
            &:nth-child(8){width:14%; flex: inherit; padding-right:0px;}
        }

    }
}

ul {
    margin: 0;
    padding: 0px;
    li {
        list-style: none;
        display: inline-block;
        width: 40%;
        padding: 0px 3%;
        box-sizing: border-box;
        &:first-child{padding-left:0;}

    }
}


.padding-l-0{padding-left:0px;}
.padding-r-0{padding-right:0px;}


.left-col-content-sec {
    @extend .gutterR2nh;
}

.right-col-content-sec {
    @extend .gutterL2nh;
    textarea.mat-input-element{height:6rem;}
}

.other-resource-images-upload-sec,
.product-images-upload-sec {
    width: 100%;
    min-height: 2rem;
    border: dashed 1px #dedede;
    display: inline-flex;
    margin-bottom: 0.5rem;
    justify-content: center;
    position: relative;

    #imginputfile, #docinputfile{position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;}

    .product-images-upload-sec-placeholder-icon-sec {
        display: inline-flex;
        width: 50%;
        align-items: center;
        justify-content: center;
        img {
            max-width: 6.5rem;
        }
    }
    .product-images-upload-sec-click-to-upload-sec {
        display: inline-flex;
        width: 50%;
        align-items: center;
        justify-content: center;
        .placeholder-img-sec {
            display: inline-flex;
            width: 25%;
            align-items: center;
            justify-content: flex-end;
            img {
                max-width: 3rem;
                opacity: 0.4;
            }
        }
        p {
            display: inline-flex;
            width: 75%;
            align-items: center;
            justify-content: flex-start;
            flex-flow: column nowrap;
            strong {
                font-weight: 500;
                color: #616167;
                float: left;
                width: 100%;
            }
            a {
                font-weight: 400;
                color: #4D89F7;
                float: left;
                width: 100%;
                font-size: 0.85rem;
                em {
                    font-weight: 400;
                    color: #616167;
                    display: inline-block;
                    margin-right: 0.5rem;
                    pointer-events: none;
                    font-style: inherit;
                }
            }
        }
    }
}

.product-res-img-sec {
    padding: 0px; // margin-left: -30px;
    li {
        // list-style: none;
        // width: 33.333%;
        // display: inline-block;
        // padding: 0px 30px;
        // box-sizing: border-box;
        list-style: none;
        width: 30%;
        display: inline-flex;
        padding: 1rem;
        box-sizing: border-box;
        margin: 0% 2.5% 2rem;
        min-height: 15rem;
        border: solid 1px #ddd;
        align-items: center;
        justify-content: center;
        position: relative;

        .inactive-status{
            position: absolute;
            top: 0.6rem;
            left: 0.6rem;
        }
        #link{position: absolute;
            right: 0rem;
            top: 0.3rem;
            opacity: 0.4;}

        img {
            max-width: 100%;
            float: left;
        }

        &:nth-child(1){margin-left:0px;}
        &:nth-child(3){margin-right:0px;}
    }
}



h5 {
    @extend .subheading;
    border-bottom: solid 1px #ddd;
    padding-bottom: 0.5rem;
    margin-bottom: 1.25em;
}

h6 {
    float: left;
    width: 100%;
    margin: 0px;
    font-size: 0.85rem;
    font-weight: 500;
    color: #616161;
    padding-top: 0.85rem;
    padding-bottom: 1rem;
}

small {
    display: block;
    margin-bottom: 1rem;
    color: #616167;
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
    
}

.mat-row{border: solid 1px #dedede;}
.damage-lost-prod-ckeditor{width:100%;}