<div class="custom-defined-msg-box">
  <div class="popup-sec-icon info-category-headline">
    <div class="sparkle-bg"></div>

    <button class="alert-popup-icon">
      <mat-icon><img src="../assets/images/info-path-popup.svg" alt="" /></mat-icon>
    </button>
    <p class="info-headline-name">{{data.childData.name}}</p>
  </div>
  <h6 class="popup-content-heading">{{data.content}}</h6>
  <form #categoryInfoForm="ngForm">
    <mat-dialog-content class="add-sub-category-popup">
      <div class="editor-sec">
        <small>Title</small>
        <ckeditor name="editor1" debounce="500" [(ngModel)]="categoryInfo.title" language="en"
          #editor1="ngModel" [config]="util.ckEditorBaseConfigTitle"></ckeditor>
        <!-- <mat-error *ngIf="editor1.touched && editor1.value && editor1.value.length > 270 ">Maximum 200 characters are
          allowed.</mat-error> -->
        <mat-error *ngIf="titleError">{{titleError}}</mat-error>
      </div>

      <div class="editor-sec">
        <small>Category Description</small>
        <ckeditor name="editor2" debounce="500" [(ngModel)]="categoryInfo.description"language="en" 
        #editor2="ngModel" [config]="util.ckEditorBaseConfigDescription"></ckeditor>
        <mat-error *ngIf="descriptionError">{{descriptionError}}</mat-error>
        <!-- <mat-error *ngIf="editor2.touched && editor2.value && editor2.value.length > 2070 ">Maximum 2000 characters are
          allowed.</mat-error> -->
      </div>

    </mat-dialog-content>

    <div class="popup-btn-sec aligned-right">
      <div mat-dialog-actions class="popup-left-right-btn-sec">
        <div>
          <button mat-button class="transparent-btn popup-sec-btn" *ngIf="data.isEdit != null" (click)="delete()">DELETE</button>
        </div>
        <div>
          <button mat-button class="transparent-btn popup-sec-btn" (click)="close()">CANCEL</button>
          <button *ngIf="data.isEdit == null" mat-flat-button class="popup-sec-btn" [class.active-btn]="categoryInfoForm.dirty" 
          (click)="addInfo()" [disabled]="!categoryInfoForm.dirty">ADD INFO</button>
          <button *ngIf="data.isEdit != null" mat-flat-button class="popup-sec-btn" [class.active-btn]="categoryInfoForm.dirty" 
          (click)="addInfo()" [disabled]="!categoryInfoForm.dirty">SUBMIT INFO</button>
        </div>
      </div>
    </div>
  </form>

</div>