@import './_variables';
@import './_mixins';

.mat-dialog-content.add-sub-category-popup{
    padding: 0rem 2rem 1rem!important;

    small{
        color: #1C57B7;
        font-size: 0.85rem;
        font-weight: 400;
        padding: 0.75rem 1rem 0.75rem;
        width: 100%;
        display: flex;
    }
}

.popup-btn-sec.aligned-right{
    padding: 1rem 2rem 2rem!important;
}


.mat-flat-button.popup-sec-btn,
.mat-flat-button.popup-sec-btn.active-btn{@extend .button-shadow;}
.info-category-headline{display: flex!important; flex-direction: column; height: 7rem!important;}
.info-headline-name{margin: 0;color: #fff;text-align: center;}
