@import './_variables';
@import './_mixins';

.quantity {
    display: inline-block;
}

.quantity .input-text.qty {
    width: 33px;
    height: 28px;
    padding: 0 5px;
    text-align: center;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    @media screen and (max-width: $break-at-ipad) {
        width: 25px;
    }
}

.quantity.buttons_added {
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top;
    border: 1px solid #dedede;
    border-radius: 3px;
}

.quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
    padding: 2px 0px 5px;
    height: 28px;
    width:22px;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    font-size: 1.5rem;
    line-height: 1;
    color: #b5acac;
    cursor: pointer;
    @media screen and (max-width: $break-at-ipad) {
        padding: 2px 5px 5px;
        width: 22px;
    }
}

.quantity.buttons_added .minus {
    font-size: 1.8rem;
    line-height: 1.2rem;
    border-right: 0;
}

.quantity.buttons_added .plus {
    border-left: 0;
}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
    background: #eeeeee;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
    outline: none;
}

.quantity input[type=number] {
    -moz-appearance:textfield;
}