<div class="">
  
    <div class="dy-body-txt-color no-of-qty-input-sec">
      <div class="quantity buttons_added">
          <input type="button" value="-" class="minus" (click)="decreaseQuantity()">
          <input type="number" step="1" min="1" max="{{data.maxOrderQuantity}}" name="quantity" class="input-text qty text"
          [pattern]="appConstant.wholeNumberRegEx" [(ngModel)]='data.orderedQuantity' #quantity=ngModel>
          <input type="button" value="+" class="plus" (click)="increaseQuantity()">
      </div>

      <!-- <mat-error *ngIf="quantity.errors?.pattern && !quantityError">
        {{appMessage.U0054}}
      </mat-error>
      <mat-error *ngIf="quantityError">
        {{appMessage.U0087 + requiredQty}}
      </mat-error> -->
    </div>
  
</div>
