.message {
    margin-left: 1.25rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    font-weight: 500;
    width: 100%;
    img{margin-right:1.25rem;}
}
.white-bg {
    background: #fff;
    border-radius: 5px;
    padding: 2rem 1.25rem;
    width: 100%;
    display: flex;
    box-sizing: border-box;}