
<div class="container-fluid">
    <div class="main-container-sec">

       
        <div class="common-header-sec">
            <div class="store-header-overlay dy-header-color"></div>

            <div class="common-header-tab-sec">
                <div class="cmn-hdr-title-sec">
                    Oops! Not Found
                </div>
            </div>

        </div>
 
        <div class="store-page-content-sec s-dashboard-page">
            <div class="white-bg">
                    <p class="message">
                            <img src="../assets/images/pending_actions.png" />Page Not Found!
                    </p>
            </div>
            

        </div>

    </div>
</div>