@import './_variables';
@import './_mixins';
.row-2 {
    display: flex;
    align-items: stretch;
}
.button-group-in-heading-sec.relative-sec-cls{align-items: center;}

.dashboard-box-layout {
    display: flex;
    background: #fff;
    height: 100%;
    @extend .card-layout-shadow;
    .dashboard-img-sec {
        width: 25%;
        box-sizing: border-box;
        padding: 0px 0.75rem;
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
        @media screen and (max-width: $break-at-desktop) {
            width: 33%;
        }
        h4 {
            // color: #83CFC1;
            font-weight: 900;
            text-transform: uppercase;
            font-size: 1.25rem;
            line-height: 1.4rem;
            margin-bottom: 0.5rem;
            margin-top: 0.5rem;
            span {
                font-weight: 300;
                text-transform: uppercase;
                display: flex;
            }
        }
    }
    .new-order-sec {
        background-image: linear-gradient(to bottom, #ffffff, #fbfdff, #f4fdff, #ecfdff, #e7fcf7);
        h4 {
            color: #83CFC1;
            span {
                display: flex;
            }
        }
    }
    .orders-not-returned-sec {
        background-image: linear-gradient(to bottom, #ffffff, #fafafd, #f6f5fc, #f1f0fa, #ecebf9);
        h4 {
            color: #7976C7;
            span {
                display: flex;
            }
        }
    }
    .upcoming-shipment-sec {
        background-image: linear-gradient(to bottom, #ffffff, #fafcff, #f2f9ff, #e7f7ff, #dbf6ff);
        h4 {
            color: #6A79A8;
            span {
                display: flex;
            }
        }
    }
    .damage-items-sec {
        background-image: linear-gradient(to bottom, #ffe6e2, #ffebe7, #ffefec, #fff4f1, #fff8f6);
        h4 {
            color: #A24A3E;
            span {
                display: flex;
            }
        }
    }
    .dashboard-con-sec {
        width: 75%;
        box-sizing: border-box;
        padding: 0px 0.75rem;
        // margin-top: 1.5rem;
        margin-top: 0.5rem;
        // height:18rem;
        height:17rem;
        @extend .offsetB2;
        @media screen and (max-width: $break-at-desktop) {
            width: 67%;
        }
        margin-bottom: 0.75rem;
        &.dmg-item-sec {
            justify-content: center;
            align-items: center;
            display: flex;
            background: url('./../../../assets/images/dashboard-start-bg.svg') no-repeat center center;
            background-size:100% 100%;
        }
        .damage-item-no-sec {
            width: 9rem;
            height: 9rem;
            background: #fef9db;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-size: 3rem;
            line-height: 1;
            border-radius: 50%;
            margin: 1.5rem;
            color: #ffbb00;
            font-weight: 900;
            position: relative;
            &:after {
                position: absolute;
                border: solid 0.5rem #f7f7f7;
                content: "";
                width: 12rem;
                height: 12rem;
                border-radius: 50%;
            }
        }
        .mat-table {
            // max-height: 18rem; //18.1rem;
            // height: 100%;
            // overflow-y: auto;
            padding-right: 0.25rem;
            padding-left: 0.25rem;
            .mat-header-row {
                // border-top: solid 1px #ddd;
                position: sticky;
                top: 0;
                background: #fff;
                padding-right: 0px;
                min-height: 1.5rem;
                .mat-header-cell {
                    &:nth-child(1) {
                        width: 25%;
                        flex: inherit;
                    }
                    &:nth-child(2) {
                        width: 32%;
                        flex: inherit;
                    }
                    &:nth-child(3) {
                        width: 43%;
                        flex: inherit;
                    }
                }
            }
            .mat-row {
                cursor: pointer;
                padding-right: 0px;
                //box-shadow: 0px 1px 4px 0px #d2d1d1; // 0px 2px 4px #d2d1d1;
                @extend .table-row-shadow;
                min-height: 2.75rem;
                transition: all 0.3s ease-in-out;
                &:hover {
                    transition: all 0.3s ease-in-out;
                    // box-shadow: 0px 3px 18px 0px #d2d1d1;
                    @extend .hover-on-table-row-shadow;
                }
                .mat-cell {
                    &:nth-child(1) {
                        width: 25%;
                        flex: inherit;
                        color: #4D89F7;
                    }
                    &:nth-child(2) {
                        width: 32%;
                        flex: inherit;
                    }
                    &:nth-child(3) {
                        width: 43%;
                        flex: inherit;
                    }
                }
            }
        }
    }
}

.padding-l-0 {
    padding-left: 0px;
}

.padding-r-0 {
    padding-right: 0px;
}

.active-btn.mat-flat-button{@extend .button-shadow; margin-left:0.35rem!important;}

.mat-flat-button[disabled][disabled]{margin-left:0.35rem;}