<div class="row extra-top-margin-spc">
  <div class="col s12 m12 l12">
    <h5>Product Resources</h5>
  </div>

  <div class="row">

    <div class="col s12 m6 l6">

      <div class="left-col-content-sec">
        <h6>Product Images  <mat-icon matTooltip="Primary image will appear as a Thumbnail on Store">info</mat-icon></h6>
        <div *ngIf="showImageDragPanel()" class="row" [class.disabled-cls]="isWorkshopTeamMember">
          <div class="product-images-upload-sec">
            <div class="product-images-upload-sec-placeholder-icon-sec">
              <img src="./assets/images/upload-images-icon-img.svg" alt="" />
            </div>
            <div class="product-images-upload-sec-click-to-upload-sec">
              <p class="placeholder-img-sec"><img src="./assets/images/cloud-computing.svg" alt="" /></p>
              <p><strong>Drag & Drop</strong> <a class="browse-file-anchor-tag" (click)="browseFileClick('imginputfile')" href="javascript:void(0)"><em>your
                    files here, or </em>Browse file</a></p>
            </div>
            <input style="opacity:0;" id="imginputfile" [disabled]="productId == 0" accept="image/*" type="file" (change)="fileChangeEvent($event, 'PRODUCT_IMAGES')" />
          </div>
          <small><em>Note:</em> Only 3 images are allowed. Available format: PNG, JPEG, JPG.</small>
        </div>
        
        <ul class="product-res-img-sec">
          <li *ngFor="let item of imagesSrcArr;let i = index;" [class.image-container]="productResLoaderCheck || productFetchLoaderCheck[i]">
            <!-- <div class="overlay overlay-content overlay-content-inner" *ngIf="(productResLoaderCheck && productUploadImageSpace == i) && ((productResLoaderCheck && productUploadImageSpace == i )|| item.url == defaultImageSrc)"> -->
            <div class="overlay overlay-content overlay-content-inner" *ngIf="(productResLoaderCheck && productUploadImageSpace == i) || productFetchLoaderCheck[i]">  
              <div class="overlay-content-inner">
                <mat-spinner></mat-spinner>
              </div>
            </div>
            <span *ngIf="item.isPrimary" class="primary-status">
              {{item.isPrimary ? 'P' : ''}}
            </span>
            <div>
              <button *ngIf="item.resourceId" id="link" [matMenuTriggerFor]="menu" mat-icon-button [disabled]="isWorkshopTeamMember">
                <mat-icon aria-label="">
                  <i id="link" class="material-icons three-dots-icon">more_vert</i>
                </mat-icon>
                <mat-menu #menu="matMenu" y-position="below" [overlapTrigger]="false">
                  <button [disabled]="item.isPrimary" mat-menu-item (click)="markPrimary(item.resourceId, i)">Mark
                    Primary</button>
                  <button mat-menu-item (click)="deleteFile(item.resourceId, i)">Delete</button>
                </mat-menu>
              </button>
            </div>
            <img [src]="item.url ? _domSanitizationService.bypassSecurityTrustUrl(item.url) : defaultImageSrc"
            (click)="displayImage(item)" [ngClass]="item.imgClass"/>
          </li>
        </ul>
      </div>
    </div>

    <div class="col s12 m6 l6">

      <div class="right-col-content-sec">
        <h6>Other Resources</h6>
        <div class="row">
          <div class="other-resource-images-upload-sec product-images-upload-sec" [class.disabled-cls]="isWorkshopTeamMember">

            <div class="product-images-upload-sec-placeholder-icon-sec">
              <img src="./assets/images/other-res-upload-icon-img.svg" alt="" />
            </div>
            <div class="product-images-upload-sec-click-to-upload-sec">
              <p class="placeholder-img-sec"><img src="./assets/images/cloud-computing.svg" alt="" /></p>
              <p><strong>Drag & Drop</strong> <a class="browse-file-anchor-tag" (click)="browseFileClick('docinputfile')" href="javascript:void(0)"><em>your
                    files here, or </em>Browse file</a></p>
            </div>
            <input style="opacity:0;" id="docinputfile" [disabled]="productId == 0" type="file" (change)="fileChangeEvent($event, 'OTHER_RESOURCES')" />
          </div>

          <small><em>Note:</em> Available format: DOCX, PDF, XLSX, CSV, PPT, JPG, JPEG, PNG. Size must be less than 30MB.</small>
          <div *ngIf="otherResourceArr.length > 0" class="other-resource-upload-img-list-sec">
            <div class="heading-row">
              <div class="heading-row-col-cell">File Name</div>
              <div class="heading-row-col-cell">Action</div>
            </div>
            <div class="content-row" *ngFor="let item of otherResourceArr;let i = index;">
              <div *ngIf="!item.isRename;else renameFile1;" class="content-row-col-cell">{{item.fileName}}</div>
              <ng-template #renameFile1>
                <div class="content-row-col-cell">
                  <mat-form-field class="">
                    <input matInput placeholder="File name" name="filename" maxlength="100" class="form-control" trimDirective
                      [(ngModel)]="item.newFileName" #filename=ngModel required />
                    <mat-hint *ngIf="filename.errors?.required && filename.touched" class="alert alert-danger">
                      {{appMessage.U0066}}
                    </mat-hint>
                  </mat-form-field>

                </div>
              </ng-template>
              <div *ngIf="item.isRename" class="content-row-col-cell">
                <div class="edit-sec-btn">
                  <mat-icon matSuffix (click)="renameFile(item, i)" class="done-btn">done</mat-icon>
                  <mat-icon matSuffix (click)="item.isRename = false;">close</mat-icon>
                </div>
              </div>
              <div *ngIf="!item.isRename" class="content-row-col-cell">
                <button mat-icon-button id="link" [matMenuTriggerFor]="menu">
                  <mat-icon aria-label="">more_vert</mat-icon>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="downloadFile(item.resourceId)">Download</button>
                    <button mat-menu-item (click)="renameAction(item)" [disabled]="isWorkshopTeamMember">Rename</button>
                    <button mat-menu-item (click)="deleteFile(item.resourceId, i, 'OTHER_RESOURCES')" [disabled]="isWorkshopTeamMember">Delete</button>
                  </mat-menu>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>