<div class="container-fluid">
  <div class="main-container-sec">

    <div class="common-header-sec">
      <div class="store-header-overlay dy-header-color"></div>

      <div class="common-header-tab-sec">
        <div class="cmn-hdr-title-sec">
          {{id > 0 ? 'Edit Event' : 'Add Event'}}
        </div>
        <div class="" *ngIf="id >0 && !editPreviousEvent">
            <button mat-flat-button class="popup-sec-btn dy-action-btn-color" (click)="placeOrder()">PLACE ORDER</button>
        </div>
      </div>

    </div>

    <div class="store-page-content-sec">
      <div class="page-content-sec card-view-layout">
        <div class="store-page-heading">
          <div class="dsbrd-left-hdng-sec dy-body-txt-color">{{id > 0 ? 'Event Details' : 'New Event'}}
              <span class="dy-body-txt-color" *ngIf="editPreviousEvent">{{appMessage.U0126}}</span>
          </div>
          <div class="dsbrd-right-hdng-sec">
              <button mat-flat-button [class.dy-action-btn-color]="!editPreviousEvent && canAddEdit" class="popup-sec-btn"
              [disabled]="!canAddEdit || editPreviousEvent" (click)="addEvent()">SUBMIT</button>
            <button mat-button class="transparent-btn popup-sec-btn" (click)="close()">CANCEL</button>
          </div>
        </div>
        <div class="service-value-sec">
          <div class="ser-field-two-col" *ngFor="let field of eventDetailsField">
            <app-dynamic-input-field class="add-edit-event-page-only" [field]="field" obj="eventDetails" type="eventCalender"></app-dynamic-input-field>
            <div class="field-derived-fromcalendar" *ngIf="field.value">
              <app-display-linked-fields [field]="field" obj="eventDetails"></app-display-linked-fields>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>