<div class="row extra-top-margin-spc">

      <div class="left-col-content-sec">
        <div *ngIf="showImageDragPanel()" class="row">
          <div class="product-images-upload-sec">
            <div class="product-images-upload-sec-placeholder-icon-sec">
              <img src="./assets/images/upload-images-icon-img.svg" alt="" />
            </div>
            <div class="product-images-upload-sec-click-to-upload-sec">
              <p class="placeholder-img-sec"><img src="./assets/images/cloud-computing.svg" alt="" /></p>
              <p><strong>Drag & Drop</strong> <a class="browse-file-anchor-tag" (click)="browseFileClick('imgInput')" href="javascript:void(0)"><em>your
                    files here, or </em>Browse file</a></p>
            </div>
            <input style="opacity:0;" id="imgInput" accept="image/*" type="file" (change)="fileChangeEvent($event, 0)" />
          </div>
          <small><!--<mat-icon>info</mat-icon> --><em>Note:</em> Only 3 images are allowed. Available format: PNG, JPEG, JPG. </small>
        </div>
        <ul class="product-res-img-sec">
          <li *ngFor="let item of resourceList;let i = index;" [class.image-container]="damageResLoaderCheck || DamageFetchLoaderCheck[i]">
            <div class="overlay overlay-content overlay-content-inner" *ngIf="(damageResLoaderCheck && damageUploadImageSpace == i ) || DamageFetchLoaderCheck[i]">
              <div class="overlay-content-inner">
                <mat-spinner></mat-spinner>
              </div>
              </div>
            <div>
              <button *ngIf="item.resourceId" id="link" [matMenuTriggerFor]="menu" mat-icon-button>
                <mat-icon aria-label="">
                  <i id="link" class="material-icons three-dots-icon">more_vert</i>
                </mat-icon>
                <mat-menu #menu="matMenu" y-position="below" [overlapTrigger]="false">
                  <button mat-menu-item (click)="deleteFile(item.resourceId, i)">Delete</button>
                </mat-menu>
              </button>
            </div>
            <img [src]="item.url ? _domSanitizationService.bypassSecurityTrustUrl(item.url) : defaultImageUrl" />
          </li>
        </ul>
  
      </div>
   

</div>