<div class="custom-defined-msg-box store-event-popup">
  <div class="popup-sec-icon store-popup-header-sec">
    <div class="store-popup-header-overlay dy-header-color"></div>

    <div class="store-popup-heading-sec">
      <button type="button" mat-mini-fab class="dy-action-btn-color close-btn-popup" routerLink="/store-dashboard"
        (click)="dialogRef.close()">
        <mat-icon class="mini-fab-btn"><i class="material-icons">close</i></mat-icon>
      </button>
      <h3 class="dy-body-txt-color">
          <!-- {{ isAddEvent ? 'Add Event Details' : 'Select Event Details' }} -->
        {{ isAddEvent ? 'Add Event Details' : isSelectEvent ? 'Select Event' : 'Select Event Details' }}
      </h3>
      <!-- <p class="dy-body-txt-color" *ngIf="!isSelectEvent && !isAddEvent">Please select respective options before
        proceeding</p>
      <p class="dy-body-txt-color" *ngIf="isSelectEvent">Please select event dates before proceeding further</p>
      <p class="dy-body-txt-color" *ngIf="isAddEvent">Please add event dates before proceeding further</p> -->

      <p class="dy-body-txt-color" *ngIf="!isSelectEvent && !isAddEvent">Please select respective option</p>
        <p class="dy-body-txt-color" *ngIf="isSelectEvent">Please search by event name to proceed</p>
        <p class="dy-body-txt-color" *ngIf="isAddEvent">Please specify event name and dates</p>
    </div>
  </div>

  <mat-dialog-content>

    <div mat-dialog-actions *ngIf="!isSelectEvent && !isAddEvent" class="store-popup-content-sec">
      <button mat-button class="store-active-btn  dy-action-btn-color popup-sec-btn" (click)="selectEvent()">Select Event</button>
      <div *ngIf="isAddButtonVisible" class="seprator-cls"><span>or</span> </div>
      <button mat-button class="store-active-btn  dy-action-btn-color popup-sec-btn" *ngIf="isAddButtonVisible" (click)="addEvent()">Add Event</button>
    </div>


    <!-- This section is for select event -->
    <div *ngIf="isSelectEvent" class="event-pop-up-eventSelected">
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Search Event Name" aria-label="Number" matInput [formControl]="searchText"
          [matAutocomplete]="auto" appFocus/>
        <mat-hint *ngIf="selectEventError" class="alert alert-danger">
          {{appMessage.U0085}}
        </mat-hint>
        <mat-icon matSuffix (click)="clear()">close</mat-icon>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let event of filteredOptions" [value]="event.title" (onSelectionChange)="eventSelected(event,$event)">
            {{event.title}}
          </mat-option>
        </mat-autocomplete>
        <mat-hint *ngIf="noRecord">{{appMessage.U0100}}</mat-hint>
      </mat-form-field>

      <div class="date-picker-sec full-width">
        <button mat-flat-button class="popup-sec-btn store-active-btn" [disabled]="noRecord || eventId == 0"
          [class.dy-action-btn-color]="eventId !=0 && !noRecord" (click)="selectEventSubmit()">BROWSE
          PRODUCTS</button>
          <button mat-flat-button class="popup-sec-btn store-active-btn cancel-btn-at-popup" (click)="backBtnEvent()">BACK</button>
      </div>
    </div>


    <!-- This section is for add event -->
    <div class="add-event-popup-sec" *ngIf="isAddEvent">
      <div class="row">
        <form #addEventForm="ngForm">
          <div class="col s12 left-padding-0 right-padding-0">
            <mat-form-field class="full-width">
              <input matInput placeholder="Provide Event Name" maxlength="500" trimDirective required class="form-control"
                [(ngModel)]="eventName" #eventNme=ngModel name="eventNme" appFocus/>
              <mat-hint *ngIf="eventNme.errors?.required && (eventNme.touched || !isFormValid)" class="alert alert-danger">
                {{appMessage.U0085}}
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="col s6 m6 l6 left-padding-0">
            <mat-form-field class="full-width">
              <input matInput [min]="minDate" [matDatepicker]="eventStart" placeholder="Event Start Date" required [(ngModel)]="eventStartDate"
                name="startDate" (ngModelChange)="validateDate('eventStart')" readonly (click)="eventStart.open()">
              <mat-datepicker-toggle matSuffix [for]="eventStart"></mat-datepicker-toggle>
              <mat-datepicker #eventStart></mat-datepicker>
              <mat-hint *ngIf="startDateError" class="alert alert-danger">
                {{appMessage.U0084}}
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="col s6 m6 l6 right-padding-0">
            <mat-form-field class="full-width">
              <input matInput [min]="minDate" [matDatepicker]="eventEnd" placeholder="Event End Date" required [(ngModel)]="eventEndDate"
                name="endDate" (ngModelChange)="validateDate('eventEnd')" readonly (click)="eventEnd.open()">
              <mat-datepicker-toggle matSuffix [for]="eventEnd"></mat-datepicker-toggle>
              <mat-datepicker #eventEnd></mat-datepicker>
              <mat-hint *ngIf="endDateError" class="alert alert-danger">
                {{appMessage.U0071}}
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="date-picker-sec full-width">
            <button mat-flat-button class="store-active-btn dy-action-btn-color popup-sec-btn" [disabled]="!addEventForm.dirty || endDateError || startDateError || (eventNme.errors?.required && (eventNme.touched || !isFormValid))" [class.dy-action-btn-color]="addEventForm.dirty && !endDateError && !startDateError && !(eventNme.errors?.required && (eventNme.touched || !isFormValid))" (click)="addNewEventSubmit()">BROWSE
              PRODUCTS</button>
              <button mat-flat-button class="store-active-btn popup-sec-btn cancel-btn-at-popup" (click)="backBtnEvent()">BACK</button>
          </div>

          <!-- <div class="date-picker-sec full-width">
              <button mat-flat-button class="popup-sec-btn store-active-btn" [disabled]="noRecord || eventId == 0" [class.dy-action-btn-color]= "eventId !=0 && !noRecord" (click)="selectEventSubmit()">BROWSE
                PRODUCT</button>
            </div> -->
        </form>
      </div>
    </div>

  </mat-dialog-content>
</div>