@import './_variables';
@import './_mixins';
.custom-defined-msg-box.store-event-popup {
    max-width: 30rem; //30vw;
    @media screen and (max-width: $break-at-mobile-414) {
        max-width: 100%;
    }

    .popup-sec-icon.store-popup-header-sec {
        //background: url('/assets/images/store-header-banner-bg-pattern.jpg') no-repeat center center;
        background-size: 100% cover;
        position: left;
        height: 9rem;
        width: 100%;
        @media screen and (max-width: $break-at-mobile-414) {
            height: 7rem;
        }
        .store-popup-header-overlay {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.6;
        }
        .store-popup-heading-sec {
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;
            z-index: 9;
            padding: 0rem 2rem;
            @media screen and (max-width: $break-at-mobile-414) {
                padding: 0rem 1rem;
            }
            .close-btn-popup {
                position: absolute;
                right: 0.75rem;
                top: 0.75rem;
                @media screen and (max-width: $break-at-mobile-414) {
                    right: 0.5rem;
                    top: 0.5rem;
                }
            }
            h3 {
                font-size: $heading-font;
                font-weight: $heading-font-weight;
                margin: 0px;
                //color: inherit;
                color: #ffffff!important;
                word-break: break-word;
                @media screen and (max-width: $break-at-mobile-414) {
                    font-size: 1.0rem;
                }
            }
            p {
                font-size: 0.875rem;
                font-weight: 400;
                margin: 0px;
                //color: inherit;
                color: #ffffff!important;
                margin-top: 0.3rem;
                word-break: break-word;
                @media screen and (max-width: $break-at-mobile-414) {
                    font-size: 0.83rem;
                    text-align: center;
                }
            }
        }
    }
    .mat-dialog-content {
        margin-top: 0;
        padding: 2.5rem 2rem;
        @media screen and (max-width: $break-at-mobile-414) {
            padding: 1.0rem 1rem;
        }
        .store-popup-content-sec.mat-dialog-actions {
            margin-bottom: 0px;
            padding: 0px;
            .mat-flat-button.popup-sec-btn,
            .mat-button.popup-sec-btn {
                width: 100%;
                padding: 0.3rem 0rem;
                color: #fff;
                font-weight: 700;
                @extend .button-shadow;
            }
            .seprator-cls {
                margin: 1.5rem 0rem;
                position: relative;
                width: 100%;
                text-align: center;
                @media screen and (max-width: $break-at-mobile-414) {
                    margin: 0.75rem 0rem;
                }
                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    width: 60%;
                    left: 20%;
                    border-bottom: dashed 2px #dedede;
                }
                span {
                    display: inline-block;
                    background: #fff;
                    z-index: 11;
                    width: 2rem;
                    position: relative;
                    color: #c7c2c2;
                    font-weight: 400;
                }
            }
        }
        .add-event-popup-sec {
            display: flex;
            width: 100%;
            box-sizing: border-box;
            @media screen and (max-width: $break-at-mobile-414) {
            .row{margin-bottom:10px;}
            }

            .left-padding-0 {
                padding-left: 0px !important;
            }
            .right-padding-0 {
                padding-right: 0px !important;
            }
            .full-width.mat-form-field {
                width: 100%;
            }
            .date-picker-sec.full-width {
                width: 100%;
                display: inline-flex;
                margin-top: 0.75rem;
                justify-content: space-between;
                @media screen and (max-width: $break-at-ipad) {margin-top: 1rem;}
                .mat-flat-button.popup-sec-btn,
                .mat-button.popup-sec-btn {
                    width: calc(50% - 0.5rem);
                    padding: 0.3rem 0rem;
                    color: #fff;
                    font-weight: 700;
                    @extend .button-shadow;
                    &.cancel-btn-at-popup{
                        color: #616167!important;
                        background: #f7f7f7;
                    }
                    
                }
            }
        }
    }
}
.example-full-width{
    width: 100%;
}

.date-picker-sec.full-width {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin-top: 0.75rem;
    @media screen and (max-width: $break-at-ipad) {margin-top: 1rem;}
    .mat-flat-button.popup-sec-btn,
    .mat-button.popup-sec-btn {
        width: calc(50% - 0.5rem);
        padding: 0.3rem 0rem;
        color: #fff;
        font-weight: 700;
        @extend .button-shadow;
        margin-left:0!important;

        &.cancel-btn-at-popup{
            color: #616167!important;
            background: #f7f7f7;
        }
    }
}