<form #settingForm="ngForm">

  <div class="row">

    <div class="col s12 m6 l6">
      <div class="left-col-content-sec">

        <div class="row">
          <h5>
            <mat-checkbox [(ngModel)]="data.isClientProductName" name="isClientProductName"> Client Product Name
            </mat-checkbox>
          </h5>
          <div *ngIf="data.isClientProductName">
            <mat-form-field>
              <input matInput class="form-control" placeholder="Label Name" maxlength="100" trimDirective
                [(ngModel)]="data.clientProductName" #clientProductName="ngModel" required="true"
                name="clientProductName" appFocus />
              <mat-hint *ngIf="clientProductName.errors?.required && clientProductName.touched"
                class="alert alert-danger">
                {{appMessage.U0014}}
              </mat-hint>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <h5>
            <mat-checkbox [(ngModel)]="data.isVisibilityRestriction" name="isVisibilityRestriction">Visibility
              Restriction</mat-checkbox>
          </h5>

          <div *ngIf="data.isVisibilityRestriction">
            <div *ngFor="let item of data.visibilityRestriction;let i = index;">
              <div class="visibility-restriction-add-row">
                <mat-form-field>
                  <input matInput placeholder="Visibility Group" maxlength="100" trimDirective appFocus
                    [(ngModel)]="item['visibilityGroupName']" required [ngModelOptions]="{standalone: true}"
                    #vr="ngModel">
                  <img *ngIf="item.isDefault" class="setting-flag" matTooltip="Marked as default"
                    src="./assets/images/flag-checked.png" (click)="setVisibility(item)" />
                  <img *ngIf="!item.isDefault" class="setting-flag" matTooltip="Mark as default"
                    src="./assets/images/flag-not-checked.png" (click)="setVisibility(item)" />
                  <mat-hint *ngIf="vr.errors?.required && (vr.touched || !isFormValid)" class="alert alert-danger">
                    {{appMessage.U0015}}
                  </mat-hint>
                </mat-form-field>
                <button type="button" *ngIf="data.visibilityRestriction.length > 1 && item.id == 0" mat-mini-fab
                  (click)="onRemoveVisibilityRestrictionItems(i)">
                  <mat-icon class="mini-fab-btn"><i class="material-icons">clear</i></mat-icon>
                </button>
              </div>
            </div>
            <button type="button" mat-mini-fab (click)="onAddVisibilityRestrictionItems()">
              <mat-icon class="mini-fab-btn"><i class="material-icons incrs-size">add</i></mat-icon>
            </button>
          </div>
        </div>

        <div class="row">
          <h5>
            <mat-checkbox [(ngModel)]="data.welcome" name="welcome-message">Welcome Message
            </mat-checkbox>
          </h5>
          <div *ngIf="data.welcome">
            <mat-form-field>
              <input matInput class="form-control" placeholder="Welcome Title" maxlength="50"
                [(ngModel)]="data.welcomeTitle" name="welcomeTitle" />
            </mat-form-field>
            <small>Welcome Description</small>
            <ckeditor name="editor4" debounce="500" [(ngModel)]="data.welcomeTxt" language="en" #editor4="ngModel"
              [config]="util.ckEditorConfigWithHyperlink"></ckeditor>
            <mat-error *ngIf="welcomeTextError">{{welcomeTextError}}</mat-error>
          </div>
        </div>

        <div class="row">
          <h5>
            <mat-checkbox [(ngModel)]="data.creditCardPayment" name="creditcard-payment">Enable Payment Details </mat-checkbox>
          </h5>
          <!-- <div >
            <mat-form-field>
              <input matInput class="form-control" placeholder="Welcome Title" maxlength="50"
                [(ngModel)]="data.welcomeTitle" name="welcomeTitle" />
            </mat-form-field>
          </div> -->
        </div>

        <div class="row">
          <h5>
            <mat-checkbox [(ngModel)]="data.twoFactorAuth" name="twoFactor">Two Factor Authentication on Store</mat-checkbox>
          </h5>
        </div>

        <div class="row">
          <div>
            <mat-form-field>
              <input maxlength="3" matInput class="form-control" placeholder="Product Expiration Days" [pattern]="appConstant.naturalNumberRegex"
                [(ngModel)]="data.expirationDaysLimit" name="expirationDaysLimit" #expirationDaysLimit=ngModel />
              <mat-hint *ngIf="expirationDaysLimit.errors?.pattern || expirationDaysLimit.value<30" class="alert alert-danger">
                {{ appMessage.U0187 }}
              </mat-hint>
            </mat-form-field>
          </div>
        </div>

      </div>
    </div>

    <div class="col s12 m6 l6">
      <div class="right-col-content-sec">
        <div class="row">

          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Select Primary Account Manager" aria-label="Number" matInput
              [formControl]="searchText" #managerInput [matAutocomplete]="auto">
            <mat-icon matSuffix *ngIf="searchText.value" (click)="clear()">close</mat-icon>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions" [value]="option.name"
                (onSelectionChange)="getAccManagerById(option,$event)">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
            <!-- <mat-hint *ngIf="searchText.hasError('required') && (searchText.touched || !isFormValid)">Primary Account Manager cannot be blank.</mat-hint>-->
            <mat-hint *ngIf="noResult">{{appMessage.U0100}}</mat-hint>
          </mat-form-field>
          <!-- <div class="custom-error-sec" [formGroup]="form"> -->
          <!-- <mat-form-field> -->
          <!-- <input type="text" placeholder="Select Primary Account Manager" matInput class="filter-search" [matAutocomplete]="auto"
                formControlName="primaryAccManager" required> -->
          <!-- <input type="text" placeholder="Select Primary Account Manager" matInput class="filter-search" [matAutocomplete]="auto"
                trimDirective name="accManager" [(ngModel)]="primaryAccountManagertext" required (ngModelChange)="getAccountManager()">
              <mat-autocomplete #auto="matAutocomplete" class="account-search-auto">
                <mat-option *ngFor="let option of filteredOptions" (onSelectionChange)="getAccManagerById(option)">{{option.name}}</mat-option>
              </mat-autocomplete>              -->
          <!-- <mat-hint  *ngIf="form.controls.primaryAccManager.hasError('required')">Primary Account Manager cannot be blank.</mat-hint>
              <mat-hint *ngIf="form.controls.primaryAccManager.value && filteredOptions.length == 0">No Records Found.</mat-hint> -->
          <!-- </mat-form-field> -->

          <!-- </div> -->

          <h5>
            <mat-checkbox [(ngModel)]="data.isHierarchy" name="isHierarchy">Hierarchy</mat-checkbox>
          </h5>
          <div *ngIf="data.isHierarchy" class="row">
            <mat-form-field>
              <input matInput placeholder="Label Name" maxlength="100" [(ngModel)]="data.hierarchyLabelName"
                trimDirective required name="hirLabelName" #hirLabelName="ngModel">
              <mat-hint *ngIf="hirLabelName.errors?.required && hirLabelName.touched" class="alert alert-danger">
                {{appMessage.U0014}}
              </mat-hint>
            </mat-form-field>


            <div class="right-col-content-sec">
              <div class="visibility-restriction-add-row" *ngFor="let hitem of data.hierarchy;let i = index;">
                <mat-form-field>
                  <input matInput placeholder="Hierarchy Name" maxlength="100" [(ngModel)]="hitem['hierarchyName']"
                    trimDirective required [ngModelOptions]="{standalone: true}" #h="ngModel" appFocus>
                  <mat-hint *ngIf="h.errors?.required && (h.touched || !isFormValid)" class="alert alert-danger">
                    {{appMessage.U0016}}
                  </mat-hint>
                </mat-form-field>
                <button type="button" *ngIf="data.hierarchy.length > 1 && hitem.id == 0" mat-mini-fab
                  (click)="onRemoveHierarchyItems(i)">
                  <mat-icon class="mini-fab-btn"><i class="material-icons">clear</i></mat-icon>
                </button>
              </div>
              <button type="button" mat-mini-fab (click)="onAddHierarchyItems()">
                <mat-icon class="mini-fab-btn"><i class="material-icons">add</i></mat-icon>
              </button>
            </div>

          </div>

          <h5>Reports </h5>
          <div class="row setting-reports" *ngIf="data && data.reportSetting">
            <mat-checkbox class="col s6" [(ngModel)]="data.reportSetting.damageProductReport" name="damageProductReport">Damage Product Report</mat-checkbox>
            <mat-checkbox class="col s6" [(ngModel)]="data.reportSetting.inventoryReport" name="inventoryReport">Inventory Report</mat-checkbox>
            <mat-checkbox class="col s6" [(ngModel)]="data.reportSetting.orderDetailReport" name="orderDetailReport">Order Details Report</mat-checkbox>
            <mat-checkbox class="col s6" [(ngModel)]="data.reportSetting.orderMonthlyReport" name="orderMonthlyReport">Order Monthly Report</mat-checkbox>
            <mat-checkbox class="col s6" [(ngModel)]="data.reportSetting.orderSummaryReport" name="orderSummaryReport">Order Summary Report</mat-checkbox>
            <mat-checkbox class="col s6" [(ngModel)]="data.reportSetting.productListingReport" name="productListingReport">Product Listing Report</mat-checkbox>
            <mat-checkbox class="col s6" [(ngModel)]="data.reportSetting.productUsagesMothlyReport" name="productUsagesMothlyReport">Product Usage Monthly Report</mat-checkbox>
            <mat-checkbox class="col s6" [(ngModel)]="data.reportSetting.productUsagesReport" name="productUsagesReport">Product Usage Report</mat-checkbox>
          </div>

          <h5>Excel Upload</h5>

          <div class="row">
            <div class="help-resource-upload-sec">

              <div class="upload-sec-placeholder-icon-sec">
                <img src="./assets/images/other-res-upload-icon-img-2.svg" alt="" />
              </div>
              <div class="upload-sec-click-to-upload-sec">
                <p class="placeholder-img-sec"><img src="./assets/images/cloud-computing.svg" alt="" /></p>
                <p><strong>Drag & Drop</strong> <a class="browse-file-anchor-tag" href="javascript:void(0)"><em>your
                      files here, or </em>Browse file</a></p>
              </div>
              <input style="opacity:0;" id="excelinputfile" type="file" (change)="excelUploadChangeEvent($event)" />
            </div>

            <small><em>Note:</em> Available format: XLSX.</small>
            <div *ngIf="productExcelArr.length > 0" class="help-resource-upload-img-list-sec">
              <div class="heading-row">
                <div class="heading-row-col-cell">File Name</div>
                <div class="heading-row-col-cell">File Type</div>
                <div class="heading-row-col-cell">Success Count</div>
                <div class="heading-row-col-cell">Duplicate Count</div>
                <div class="heading-row-col-cell">Failed Count</div>
                <div class="heading-row-col-cell">Action</div>
              </div>
              <div class="content-row" *ngFor="let item of productExcelArr;let i = index;">
                <div *ngIf="!item.isRename;else renameFile1;" class="content-row-col-cell">
                  <span matTooltip="{{item.updatedTime}}">{{item.fileName}}</span>
                </div>
                <div class="content-row-col-cell">
                  <span>{{item.type == enum.Product_Migration ? "Product Migration" : item.type == enum.STORE_USER_MIGRATION ? " Store User Migration" : "Event Migration"}}</span>
                </div>
                <div class="content-row-col-cell">
                  <span>{{item.successCount}}</span>
                </div>
                <div class="content-row-col-cell">
                  <span>{{item.duplicateCount}}</span>
                </div>
                <div class="content-row-col-cell">
                  <span>{{item.errorCount}}</span>
                </div>
                <ng-template #renameFile1>
                  <div class="content-row-col-cell">
                    <mat-form-field class="">
                      <input matInput placeholder="File name" name="filename" maxlength="100" class="form-control"
                        trimDirective [(ngModel)]="item.newFileName" #filename=ngModel required />
                      <mat-hint *ngIf="filename.errors?.required && filename.touched" class="alert alert-danger">
                        {{appMessage.U0066}}
                      </mat-hint>
                    </mat-form-field>
                  </div>
                </ng-template>
                <div *ngIf="item.isRename" class="content-row-col-cell">
                  <div class="edit-sec-btn">
                    <mat-icon matSuffix (click)="renameFile(item, i)" class="done-btn">done</mat-icon>
                    <mat-icon matSuffix (click)="item.isRename = false;">close</mat-icon>
                  </div>
                </div>
                <div *ngIf="!item.isRename" class="content-row-col-cell">
                  <button mat-icon-button id="link" [matMenuTriggerFor]="menu">
                    <mat-icon aria-label="">more_vert</mat-icon>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="downloadFile(item.id)">Download</button>
                      <button mat-menu-item (click)="renameAction(item)">Rename</button>
                      <button mat-menu-item (click)="deleteFile(item.id, i)">Delete</button>
                    </mat-menu>
                  </button>
                </div>
              </div>
            </div>
          </div>

         

        </div>
      </div>
    </div>
  </div>

</form>