<div *ngIf="!isAssociateProductDetail" class="row">
  <h4>{{step.stepDescription}}</h4>
  <div class="col s12 m4 l4 product-list-box associate-prod" *ngFor="let item of step.associateBrowseProduct; let i = index">
    <div class="prod-item-list">
      <div class="prod-img-sec" (click)="navigateToDetail(item)">
        <span class="new-tag" *ngIf="item.isNewProduct"><img src="../assets/images/newlabel-tag.png" /></span>
        <span class="new-tag" *ngIf="item.productStatus == enum.Product_Status_On_Hold"><img src="../assets/images/hold-tag.png" /></span>
        <span class="new-tag" *ngIf="item.isKit"><img src="../assets/images/kitlabel-tag.svg" /></span>
        <img [src]="item.url ? _domSanitizationService.bypassSecurityTrustUrl(item.url) : defaultImageSrc"
          [ngClass]="item.imgClass" style="height: 100px;" />
      </div>

      <div class="prod-detail-sec">
        <div class="prod-name dy-body-txt-color">
          <a>{{item.productNumber}}</a>
        </div>
        <div class="prod-desc dy-body-txt-color">{{item.productName}}</div>
        <div class="prod-qty dy-body-txt-color">
          <span class="total-qty dy-body-txt-color" *ngIf="item.totalQuantity">
            Total Qty: {{item.totalQuantity}}
          </span>
          <span class="avl-qty dy-body-txt-color">
            Available Qty: {{item.availableQuantity}}
          </span>
        </div>
        <div class="show-on-hover-sec" *ngIf="item.productStatus == 'ACTIVE' && !isViewOnlyStore">
          <div class="select-qty-sec">
            <span class="dy-body-txt-color">Select Qty</span>
          </div>
          <div class="add-to-cart-btn-sec">
            <app-quantity [data]="item"></app-quantity>

            <button [disabled]="!item.availableQuantity" (click)="onAddCart(item, step)" mat-flat-button
              [class.dy-action-btn-color]="item.availableQuantity" class="store-active-btn">
              <span>Add to cart</span>
            </button>
          </div>
          <div class="cart-update-msg-sec dy-body-txt-color" *ngIf="item.alreadyAddedCartQuantity">
            {{item.alreadyAddedCartQuantity}}
            already in cart</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="store-page-right-content-sec" *ngIf="isAssociateProductDetail">
  <div class="store-card-layout">
    <div class="store-page-heading">
      <mat-icon class="back-arrow-sec" (click)="isAssociateProductDetail = false;"><i class="material-icons">keyboard_backspace</i></mat-icon>
      <h2 class="dy-body-txt-color">{{'Product#'}} {{productData.productNumber}} : <span
          class="dy-body-txt-color">{{productData.productName}}</span></h2>
      <!-- <small class="dy-body-txt-color">{{common.selectedCategoryName}}</small> -->
    </div>
    <div class="row store-product-details">
      <!-- Product Image Gallery Section -->
      <div class="col s12 m5 l5 left-padding-0">
        <div class="product-img-gallery-sec">
          <div class="thumb-prod-img-sec">
            <img *ngIf="productData.url"
              [src]="productData.url ? _domSanitizationService.bypassSecurityTrustUrl(productData.url) : defaultImageSrc"
              [ngClass]="productData.imgClass" />
          </div>
        </div>
      </div>

      <!-- Product Detail Section -->
      <div class="col s12 m7 l7 right-padding-0">
        <div class="product-detail-sec">
          <div class="product-qty-sec">
            <div class="qty-sec" *ngIf="productData.totalQuantity">
              <p class="dy-body-txt-color"><span class="t_qty_label dy-body-txt-color">Total
                  Quantity</span>{{productData.totalQuantity}}</p>
            </div>
            <div class="qty-sec">
              <p class="dy-body-txt-color"><span class="t_qty_label dy-body-txt-color">Available Quantity</span>
                {{productData.availableQuantity}}</p>
            </div>
          </div>
          <div class="select-prod-qty-sec" *ngIf="productData.productStatus == 'ACTIVE' && !isOnlyViewStore">
            <div class="select-qty-sec">
              <span class="dy-body-txt-color">Select Quantity</span>
            </div>
            <div class="add-to-cart-btn-sec">
              <app-quantity [data]="productData"></app-quantity>
              <button [disabled]="!productData.availableQuantity" (click)="onAddCart(productData,step)"
                [class.dy-action-btn-color]="productData.availableQuantity" mat-flat-button
                class="store-active-btn add-to-cart-btn">Add to
                cart</button>
            </div>
            <div class="cart-update-msg-sec dy-body-txt-color" *ngIf="productData.alreadyAddedCartQuantity">
              {{productData.alreadyAddedCartQuantity}}
              already in cart</div>
          </div>
          <div class="prod-detail-item" *ngIf="!productData.isKit">
            <div class="prod-detail-item-sec" *ngIf="productData.productPrice && productData.isPriceVisible">
              <p class="dy-body-txt-color" *ngIf="!productData.isPriceRange">
                <span class="prod-det-label dy-body-txt-color">Product Price</span>
                {{productData.productPrice | currency}}
              </p>
              <p class="dy-body-txt-color" *ngIf="productData.isPriceRange">
                <span class="prod-det-label dy-body-txt-color">Price Range</span>
                {{productData.productPrice | currency}} - {{productData.productMaxPrice | currency}}
              </p>
            </div>
            <div class="prod-detail-item-sec" *ngIf="productData.productExpirationDate">
              <p class="dy-body-txt-color"><span class="prod-det-label dy-body-txt-color">Expiration Date</span>
                {{productData.productExpirationDate}}</p>
            </div>
            <div class="prod-detail-item-sec" *ngIf="productData.clientProductName">
              <p class="dy-body-txt-color"><span
                  class="prod-det-label dy-body-txt-color">{{productData.clientProductLabel}}</span>
                {{productData.clientProductName}}</p>
            </div>
          </div>

          <div class="product-overview-sec">
            <p class="sec-heading dy-body-txt-color">Overview</p>
            <div class="product-overview-con-sec dy-body-txt-color" innerHtml='{{productData.briefDescription}}'></div>
          </div>

          <!-- <div class="product-dimension-sec" *ngIf="productData.dimensions && (productData.dimensions.height || productData.dimensions.length
            || productData.dimensions.width || productData.dimensions.weight)">
            <p class="sec-heading dy-body-txt-color">Dimensions</p>
            <div class="product-dimension-con-sec">
              <p *ngIf="productData.dimensions.height">Height: {{productData.dimensions.height}}</p>
              <p *ngIf="productData.dimensions.length">Length: {{productData.dimensions.length}}</p>
              <p *ngIf="productData.dimensions.width">Width: {{productData.dimensions.width}}</p>
              <p *ngIf="productData.dimensions.weight">Weight: {{productData.dimensions.weight}}</p>
            </div>
          </div> -->

        </div>
      </div>

    </div>
  </div>
</div>