@import './_variables';
@import './_mixins';

.mat-table{
    .mat-header-row{
        padding-right:8px;
        box-sizing: border-box;
        .mat-header-cell{
            &:nth-child(1){width:15%; flex: inherit;}
            &:nth-child(2){width:15%; flex: inherit;}
            &:nth-child(3){width:15%; flex: inherit;}
            &:nth-child(4){width:15%; flex: inherit;}
            &:nth-child(5){width:10%; flex: inherit; padding-right: 8px; justify-content: flex-start; box-sizing: border-box;}
            &:nth-child(6){width:12%; flex: inherit;}
            &:nth-child(7){width:10%; flex: inherit;}
            &:nth-child(8){width:13%; flex: inherit; 
                // padding-right:0px;
            }
        }
    }
    .mat-row{
       // cursor:pointer;
        //padding-right: 0px;
        margin-bottom:5px;
        padding-right:8px;
        background: linear-gradient(to right, #F8F8F8 65%, #ffffff 36%);
        box-sizing: border-box;

        .mat-cell{

            &:nth-child(1){width:15%; flex: inherit; }
            &:nth-child(2){width:15%; flex: inherit; }
            &:nth-child(3){width:15%; flex: inherit; }
            &:nth-child(4){width:15%; flex: inherit; }
            &:nth-child(5){width:10%; flex: inherit;  padding-right: 8px; justify-content: flex-start; box-sizing: border-box;}
            &:nth-child(6){width:12%; flex: inherit;}
            &:nth-child(7){width:10%; flex: inherit;}
            &:nth-child(8){width:13%; flex: inherit; 
                // padding-right:0px;
            }
        }

    }
}


ul {
    margin: 0;
    padding: 0px;
    li {
        list-style: none;
        display: inline-block;
        width: 40%;
        padding: 0px 3%;
        box-sizing: border-box;
        &:first-child{padding-left:0;}
        &:last-child {
            width: 20%;
        }
    }
}

.left-col-content-sec{
    padding-right: 2.5rem;
}
.right-col-content-sec{
    padding-left: 2.5rem;
    textarea.mat-input-element{height:6rem;}
}
.padding-l-0{padding-left:0px;}
.padding-r-0{padding-right:0px;}

.mat-mini-fab{
    margin-left:0rem;
    background-color: #f3f0f0;
    color:#727270;
}
.mat-row{border: solid 1px #dedede;}