@import './_variables';
@import './_mixins';


h5{
    @extend .subheading;
    @extend .offsetB1;
}

.mat-table{
    @extend .offsetB2;

    .mat-header-row{
        border-top: solid 1px #ddd;
        padding-right: 0px;

        .mat-header-cell{
            text-transform: uppercase;
            justify-content: flex-start;
            &:nth-child(1){width:13%; flex: inherit;}
            &:nth-child(2){width:13%; flex: inherit;}
            &:nth-child(3){width:18%; flex: inherit;}
            &:nth-child(4){width:13%; flex: inherit;}
            &:nth-child(5){width:17%; flex: inherit;}
            &:nth-child(6){width:16%; flex: inherit;}
            &:nth-child(7){width:10%; flex: inherit; justify-content: flex-end; padding-right:0px;}
            
        }
    }
    .mat-row{
        // cursor:pointer;
        padding-right: 0px;

        .mat-cell{

            &:nth-child(1){width:13%; flex: inherit; }
            &:nth-child(2){width:13%; flex: inherit;}
            &:nth-child(3){width:18%; flex: inherit;}
            &:nth-child(4){width:13%; flex: inherit;}
            &:nth-child(5){width:17%; flex: inherit;}
            &:nth-child(6){width:16%; flex: inherit;}
            &:nth-child(7){width:10%; flex: inherit; justify-content: flex-end; padding-right:0px; color: $color-4d89f7; text-transform: capitalize;
                .mat-icon.edit-btn-cus{    vertical-align: top!important;}
                i.material-icons{
                    width: 1rem;
                    font-size: 16px;
                    line-height: 1;
                }

                // a{
                //     display: inline-flex;
                //     align-items: center;
                //     text-decoration: none;
                //     color: $color-4d89f7;

                //     .material-icons{margin-right:0.25rem; font-size:1.5rem!important;  color: $color-4d89f7;}


                // }
                // .mat-icon-button{width: auto;}
            }
        }

    }
}
.active-btn.mat-primary.mat-flat-button{@extend .button-shadow;}