@import './_variables';
@import './_mixins';
.white-bg {
    background: #fff;
    border-radius: 5px;
    padding: 2rem 2rem;
    @media screen and (max-width: $break-at-ipad) {
        padding: 1.25rem 1rem;
    }
    h2 {
        margin: 0px;
        padding: 0rem;
        box-sizing: border-box;
    }
}

.store-category-sec {
    float: left;
    width: 100%;
    box-sizing: border-box;
}

.product-detail-sec {
    .product-qty-sec {
        display: flex;
        justify-content: space-between;
        margin: 0.25rem 0rem 1.75rem;
        @media screen and (max-width: $break-at-ipad) {
            margin: 0.25rem 0rem 1.25rem;
        }
        .qty-sec {
            p {
                margin: 0rem;
                font-size: 0.875rem;
                line-height: 1;
                font-weight: 400;
                span {
                    // min-width: 8.5rem;
                    padding-right:1rem;
                    box-sizing: border-box;
                    display: inline-flex;
                    font-size: 0.875rem;
                    line-height: 1;
                    font-weight: 400;
                }
            }
        }
    }
    .select-prod-qty-sec {
        display: block; //flex;
        // justify-content: flex-start;
        // align-items: center;
        //@extend .offsetB2;
        margin-bottom: 2rem;
        @media screen and (max-width: $break-at-ipad) {
            margin-bottom: 1.25rem;
        }
        .select-qty-sec {
            width: 100%;
            span {
                font-weight: 500;
                text-transform: uppercase;
                font-size: 0.875rem;
                line-height: 1;
            }
        }
        .add-to-cart-btn-sec {
            margin-top: 1rem;
            display: flex;
            width: 100%;
            justify-content: flex-start;
            align-items: flex-start;
            @media screen and (max-width: $break-at-ipad) {
                margin-top: 0.5rem;
            }
            .add-to-cart-btn {
                margin-left: 2rem;
                line-height: 30px;
            }
            .no-of-qty-input-sec {
                width: 100%;
                input[type=number] {
                    width: 50%;
                }
                .mat-hint {
                    float: left;
                    width: 100%;
                    margin-top: 2px;
                    word-break: break-word;
                    color: #f44336;
                    font-weight: 400;
                    line-height: 1.125;
                    font-size: 12px;
                }
            }
        }
        .cart-update-msg-sec {
            display: flex;
            font-size: 0.75em;
            font-style: italic;
            line-height: 1;
            padding: 0.5rem 0rem;
            font-weight: 400;
            justify-content: flex-start;
        }
    }
    .product-overview-sec,
    .product-dimension-sec,
    .product-resource-list-sec {
        //@extend .offsetB2;
        margin-bottom: 2rem;
        @media screen and (max-width: $break-at-ipad) {
            margin-bottom:1.25rem;
        }
        p.sec-heading {
            font-weight: 500;
            text-transform: capitalize;
            font-size: 0.875rem;
            line-height: 1;
        }
    }
}

.store-page-right-content-sec.white-bg {
    .store-card-layout {
        .store-page-heading {
            border-bottom: solid 1px #dedede;
            margin-bottom: 0.75rem;
            padding-bottom: 1rem;
            @media screen and (max-width: $break-at-mobile-414) {
                margin-bottom: 0.5rem;
                padding-bottom: 0.5rem;
            }
            h2 {}
            small {
                // padding-bottom: 0.5rem;
                // width: 100%;
            }

            &.kit-detail-heading-sec{
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                width: 100%;

                .kit-detail-heading{
                    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: auto;
    h2{
        display: flex;
        width: 100%;
    }
    small{
        display: flex;
    width: 100%;
    }
                }
            }
        }
        .row.store-product-details {
            display: flex;
            align-items: stretch;
            @media screen and (max-width: $break-at-mobile-414) {
            display: flex;
    align-items: initial;
    flex-direction: column;
            }

            .left-padding-0 {
                padding-left: 0px;
                padding-right: 3rem;
                @media screen and (max-width: $break-at-ipad) {
                    padding-right: 2rem;
                }
                @media screen and (max-width: $break-at-mobile-414) {
                    padding-right: 0rem;
                }
            }
            .right-padding-0 {
                padding-right: 0px;
                @media screen and (max-width: $break-at-mobile-414) {
                    padding-right: 0rem;
                    padding-left: 0px;
                }
            }
            .product-img-gallery-sec {
                padding-right: 2rem;
                @media screen and (max-width: $break-at-ipad) {
                    padding-right: 0rem;
                }
                @media screen and (max-width: $break-at-mobile-414) {
                    margin-bottom: 2rem;
                }
                .big-prod-img-sec {
                    max-width: 100%;
                    /* height: auto; */
                    //max-height: 25rem;
                    height: 40rem;
                    display: inline-block;
                    overflow: hidden;
                    display: flex;
                    width: 100%;
                    border: solid 1px #dedede;
                    justify-content: center;
                    align-items: center;
                    @media screen and (max-width: $break-at-small-monitor) {
                        height: 37rem;
                    }
                    @media screen and (max-width: $break-at-desktop) {
                        height: 27rem;
                    }
                    @media screen and (max-width: $break-at-ipad) {
                        height: 20rem;
                    }
                    @media screen and (max-width: $break-at-mobile-414) {
                        height: 15rem;
                    } // img {
                    //     max-width: 100%; // height: auto;
                    //     // display: inline-block;
                    //     // float: left;
                    // }
                    img.img-rectangle {
                        float: left;
                        max-width: 100%;
                    }
                    img.img-square {
                        float: left;
                        max-width: 100%;
                        max-height: 100%;
                    }
                    img.img-vertical {
                        float: left;
                        max-height: 100%;
                    }
                }
                .thumb-prod-img-sec {
                    display: flex;
                    justify-content: center;
                    margin-top: 1rem;
                    height: 4.5rem;
                    @media screen and (max-width: $break-at-ipad) {
                        margin-top: 0.75rem;
                        height: 3.5rem;
                    }
                    @media screen and (max-width: $break-at-mobile-414) {
                        margin-top: 0.5rem;
                        height: 2.5rem;
                    }
                    span {
                        display: inline-flex;
                        width: 4.5rem;
                        height: 4.5rem;
                        margin: 0rem 0.25rem;
                        border: solid 1px #dedede;
                        justify-content: center;
                        align-items: center;
                        @media screen and (max-width: $break-at-ipad) {
                            width: 3.5rem;
                            height: 3.5rem;
                        }
                        @media screen and (max-width: $break-at-mobile-414) {
                            width: 2.5rem;
                            height: 2.5rem;
                            margin: 0rem 0.15rem;
                        } // img {
                        //     max-width: 4.5rem;
                        //     width: 100%;
                        //     margin-right: 1rem;
                        //     float: left;
                        //     height: 4.5rem;
                        // }
                        img.img-rectangle {
                            float: left;
                            max-width: 100%;
                        }
                        img.img-square {
                            float: left;
                            max-width: 100%;
                            max-height: 100%;
                        }
                        img.img-vertical {
                            float: left;
                            max-height: 100%;
                        }
                    }
                }
            }
        }
    }
}

.prod-res-list {
    .other-resource-upload-img-list-sec {
        .content-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            padding-left: 1rem;
            box-shadow: 0 2px 7px #dedede;
            margin-bottom: 0.5rem;
            border-radius: 3px;
            min-height: 3.0rem;
            .content-row-col-cell {
                display: flex;
                align-items: center;
                cursor: pointer;
                img {
                    max-width: 1.6rem;
                    float: left;
                    margin: 0.3rem 1rem 0.3rem 0rem;
                }
                span {
                    display: inline-block;
                    font-size: 0.75rem;
                    line-height: 1;
                    font-weight: 400;
                    opacity: 0.8;
                    text-transform: capitalize;
                    width: 100%;
                    min-width: 15rem;
                    color: #4d89f7;
                    word-break: break-word;
                    @media screen and (max-width: $break-at-mobile-414) {
                        min-width: 9rem;
                        word-break: break-all;
                    }
                }
            }
        }
    }
}

.product-detail-list-sec {
    //@extend .offsetB2;
    margin-bottom: 2rem;
    @media screen and (max-width: $break-at-ipad) {
        margin-bottom:1.25rem;
    }
    p.sec-heading {
        font-weight: 500;
        text-transform: capitalize;
        font-size: 0.875rem;
        line-height: 1;
        margin-bottom: 0;
    }
    .mat-table {
        color: inherit;
        width: 100%;
        box-shadow: none;
        .mat-header-row {
            display: flex;
            @media screen and (max-width: $break-at-mobile-414) {
                min-height: 2.0rem;
            }
            .mat-header-cell {
                color: inherit;
                &:nth-child(1) {
                    width: 40%;
                    flex: inherit;
                    padding-left: 0px;
                }
                &:nth-child(2) {
                    width: 40%;
                    flex: inherit;
                }
                &:nth-child(3) {
                    width: 20%;
                    flex: inherit;
                    padding-right: 0;
                }
            }
        }
        .mat-row {
            display: flex;
            @extend .table-row-shadow;
            cursor: pointer;
            @media screen and (max-width: $break-at-mobile-414) {
                min-height: 2.5rem;
            }
            .mat-cell {
                color: inherit;
                &:nth-child(1) {
                    width: 40%;
                    flex: inherit;
                    padding-left: 0px;
                }
                &:nth-child(2) {
                    width: 40%;
                    flex: inherit;
                }
                &:nth-child(3) {
                    width: 20%;
                    flex: inherit;
                    padding-right: 0;
                }
            }
            &:hover {
                @extend .hover-on-table-row-shadow
            }
        }
    }
}

.demo-area {
    border-radius: 8px;
    padding: 20px;
    section {
        padding-top: 0;
    }
}

.detail {
    .drift-open {
        .demo-trigger {
            display: inline-block;
            width: 50%;
        }
    }
}

.detail {
    position: relative;
    width: 65%;
    margin-left: 5%;
    float: left;
    button {
        // vertical-align: middle;
        // opacity: .5;
        // cursor: unset;
        // margin-left: 1em;
    }
}

.prod-detail-item {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: flex-start;
    flex-wrap: wrap;
    .prod-detail-item-sec {
        display: inline-flex;
        width: 50%;
        box-sizing: border-box;
        margin: 0.7rem 0;
        p {
            display: inline-flex;
            width: 100%;
            box-sizing: border-box;
            justify-content: flex-start;
            font-weight: 400;
            text-transform: capitalize;
            font-size: 0.875rem;
            line-height: 1;
            flex-direction: column;
            margin:0;
            .prod-det-label {
                display: inline-flex;
                width: 100%;
                box-sizing: border-box;
                text-transform: uppercase;
                margin-bottom: 0.35rem;
                font-weight: 500;
            }
        }
    }}