@import './_variables';
@import './_mixins';
.custom-defined-msg-box.store-event-popup {
    max-width: 50rem; //30vw;
    @media screen and (max-width: $break-at-mobile-414) {
        max-width: 100%;
    }

    .popup-sec-icon.store-popup-header-sec {
        //background: url('/assets/images/store-header-banner-bg-pattern.jpg') no-repeat center center;
        background-size: 100% cover;
        position: left;
        height: 9rem;
        width: 100%;
        @media screen and (max-width: $break-at-mobile-414) {
            height: 7rem;
        }
        .store-popup-header-overlay {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.6;
        }
        .store-popup-heading-sec {
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;
            z-index: 9;
            padding: 0rem 2rem;
            @media screen and (max-width: $break-at-mobile-414) {
                padding: 0rem 1rem;
            }
            .close-btn-popup {
                position: absolute;
                right: 0.75rem;
                top: 0.75rem;
                @media screen and (max-width: $break-at-mobile-414) {
                    right: 0.5rem;
                    top: 0.5rem;
                }
            }
            h3 {
                // font-size: $heading-font;
                font-size: 1.3rem;
                font-weight: $heading-font-weight;
                margin: 0px;
                //color: inherit;
                color: #ffffff!important;
                word-break: break-word;
                @media screen and (max-width: $break-at-mobile-414) {
                    font-size: 1.0rem;
                }
            }
            p {
                font-size: 0.875rem;
                font-weight: 400;
                margin: 0px;
                //color: inherit;
                color: #ffffff!important;
                margin-top: 0.3rem;
                word-break: break-word;
                @media screen and (max-width: $break-at-mobile-414) {
                    font-size: 0.83rem;
                    text-align: center;
                }
            }
        }
    }
    .mat-dialog-content {
        margin-top: 0;
        padding: 2.5rem 2rem;
        font-size:0.9rem;
        @media screen and (max-width: $break-at-mobile-414) {
            padding: 1.0rem 1rem;
        }
        
    }
}



