<div class="custom-defined-msg-box store-event-popup welcome-txt-popup-sec">
  <!-- <div class="popup-sec-icon">
    <div class="sparkle-bg"></div> -->
    <div class="popup-sec-icon store-popup-header-sec">
      <div class="store-popup-header-overlay dy-header-color"></div>

    <div class="store-popup-heading-sec welcome-txt-popup">
      <button type="button" mat-mini-fab class="dy-action-btn-color close-btn-popup" (click)="dialogRef.close()">
        <mat-icon class="mini-fab-btn"><i class="material-icons">close</i></mat-icon>
      </button>
      <h3>{{data.title}}</h3>
    </div>
  </div>

  <mat-dialog-content class="welcome-sec">
    <div class="dy-body-txt-color" [innerHtml]="data.description"></div>
  </mat-dialog-content>

</div>