@import './_variables';
@import './_mixins';

h5{
    @extend .subheading;
    @extend .offsetB1;
}

.mat-table{
   // @extend .offsetB2;

    .mat-header-row{
        border-top: solid 1px #ddd;
        // padding-right: 0px;

        .mat-header-cell{
            justify-content: flex-start;
            &:nth-child(1){width:14%; flex: inherit; }
            &:nth-child(2){width:26%; flex: inherit;}
            &:nth-child(3){width:14%; flex: inherit;}
            &:nth-child(4){width:22%; flex: inherit; }
            &:nth-child(5){width:14%; flex: inherit;                 justify-content: flex-start;
                padding-right: 0.5rem;}
            &:nth-child(6){width:10%; flex: inherit; justify-content: flex-start; padding-right:0px;}
            // &:nth-child(7){width:10%; flex: inherit;}
            // &:nth-child(8){width:6%; flex: inherit; justify-content: flex-end; padding-right:0px;}
            
        }
    }
    .mat-row{
        cursor:pointer;
        // padding-right: 0px;

        .mat-cell{

            &:nth-child(1){width:14%; flex: inherit;  color: $color-4d89f7; text-transform: capitalize; }
            &:nth-child(2){width:26%; flex: inherit;}
            &:nth-child(3){width:14%; flex: inherit;}
            &:nth-child(4){width:22%; flex: inherit; }
            &:nth-child(5){width:14%; flex: inherit;                 justify-content: flex-start;
                padding-right: 0.5rem;}
            &:nth-child(6){width:10%; flex: inherit; justify-content: flex-start; padding-right:0px;}
            // &:nth-child(7){width:10%; flex: inherit;}
            // &:nth-child(8){width:6%; flex: inherit; justify-content: flex-end; padding-right:0px;}
        }

    }
}


.mat-table.additionalClassAdded{
    @extend .offsetB2;

    .mat-header-row{
        border-top: solid 1px #ddd;
        // padding-right: 0px;

        .mat-header-cell{
            justify-content: flex-start;
            &:nth-child(1){width:15%; flex: inherit; }
            &:nth-child(2){width:30%; flex: inherit;}
            &:nth-child(3){width:20%; flex: inherit;}
            // &:nth-child(4){width:22%; flex: inherit; }
            &:nth-child(4){width:20%; flex: inherit;}
            &:nth-child(5){width:15%; flex: inherit; justify-content: flex-start; padding-right:0px;}            
        }
    }
    .mat-row{
        cursor:pointer;
        // padding-right: 0px;

        .mat-cell{

            &:nth-child(1){width:15%; flex: inherit;  color: $color-4d89f7; text-transform: capitalize; }
            &:nth-child(2){width:30%; flex: inherit;}
            &:nth-child(3){width:20%; flex: inherit;}
            // &:nth-child(4){width:22%; flex: inherit; }
            &:nth-child(4){width:20%; flex: inherit;}
            &:nth-child(5){width:15%; flex: inherit; justify-content: flex-start; padding-right:0px;}
        }

    }
}

