<div class="container-fluid">

  <div class="page-content-wrapper-sec inventory-list-page-cls">

    <div class="content-heading-sec">
      <div class="page-heading-sec">
        <h2>Inventory List
          <span class="total-record-cls">(Total {{totalRecords}} records)</span>
        </h2>
      </div>

      <div class="button-group-in-heading-sec relative-sec-cls">
        <app-filter-box [data]="{showFilter: true, categories : filterCat, values : filterValues}" (filterChange)="onChangeFilter($event)"></app-filter-box>
      </div>
    </div>

    <div class="container-fluid">
      <div class="page-content-sec">
        <div class="row">
          <div infiniteScroll [infiniteScrollDistance]="1" debounce [infiniteScrollThrottle]="300" (scrolled)="onScroll()"
            [infiniteScrollUpDistance]="2">
            <mat-table [dataSource]="dataSource" matSort class="" [ngClass]="!isVisibility ? 'additionalClassAdded': ''"
              [hidden]="!noRecords">

              <!-- Product number Column -->
              <ng-container matColumnDef="productNumber">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Product Id</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.productNumber}} </mat-cell>
              </ng-container>

              <!-- Product Name Column -->
              <ng-container matColumnDef="productname">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.productName}} </mat-cell>
              </ng-container>

              <!-- Category Column -->
              <ng-container matColumnDef="category">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.category}}</mat-cell>
              </ng-container>

              <!-- Visibility group Column -->
              <ng-container matColumnDef="visibilitygroup" *ngIf="isVisibility">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Visibility Group </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  
                      
                  <span *ngIf="element.visibilityGroup.length <= 50">{{element.visibilityGroup}}</span>
                  <div *ngIf="element.visibilityGroup.length > 50" >
                    <span>{{(element.visibilityGroup | slice:0:50)}}
                      <span class="dots" matTooltip="{{element.visibilityGroup}}" >...</span>
                    </span>
                  </div>
                </mat-cell>
              </ng-container>

              <!-- Warehouse Column -->
              <ng-container matColumnDef="warehouse">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Warehouse </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                  <span *ngIf="element.warehouse">{{element.warehouse}} </span>
                  <span *ngIf="!element.warehouse">&mdash;</span>
                </mat-cell>
              </ng-container>

              <!-- Total Quantity Column -->
              <ng-container matColumnDef="totalquantity">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Total Quantity </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.totalQuantity}}</mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="/inventory/detail/{{row.id}}"></mat-row>

            </mat-table>
            <div class="" *ngIf="noRecords">
              <mat-card>
                <div class="center">No Records Found</div>
              </mat-card>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>

</div>