@import './_variables';
@import './_mixins';
.white-bg {
    background: #fff;
    border-radius: 5px;
    padding: 2rem 1.25rem;
    @media screen and (max-width: $break-at-ipad) {
        padding:1.25rem 0.25rem;
    }
    h2 {
        margin: 0px;
        padding: 0rem 0.65rem;
        box-sizing: border-box;
        @media screen and (max-width: $break-at-ipad) {
            padding: 0rem 0.5rem;
        }
    }
    p {
        padding: 0rem 0.65rem;
        box-sizing: border-box;
        @media screen and (max-width: $break-at-ipad) {
            padding: 0rem 0.5rem;
        }
    }
}

.no-record-sec {
    width: 100%;
}

.store-category-sec {
    float: left;
    width: 100%;
    box-sizing: border-box;
}

.product-list-box:hover .prod-item-list .prod-detail-sec .show-on-hover-sec {
    display: block;
    @media screen and (max-width: $break-at-mobile-414) {
        display:none;
    }
}

.select-qty-sec {
    width: 100% !important;
}

.add-to-cart-btn-sec {
    width: 100% !important;
    justify-content: space-between !important;
    margin-top: 1rem !important;
    padding: 0rem 1rem;
    align-items: flex-start !important;
    @media screen and (max-width: $break-at-ipad) {
        margin-top: 0.5rem !important;
        padding: 0rem 0.75rem;
    }
}

.store-card-layout.cus-footer-txt-sec {
    padding-left: 0.65rem;
}

// .mat-expansion-panel-header.mat-expanded{color:#4d89f7!important;}
// 
.browse-product-heading-sec-only{
    display: flex;
    justify-content: space-between;
    &.on-store-side-mob-ver{
        @media screen and (max-width: $break-at-mobile-414) {
        flex-wrap: wrap;
        
        }
    }
}

.browse-footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;

    .actionable-ntm-group{align-items: flex-end;margin-right: 0.6rem;
    .mat-flat-button{margin-left: 5px;}}
}

// Product Name Visibility Enhancement


html {
    --lh: 1.4rem;
    line-height: var(--lh);
  }
.module {
    width: 100%;
    margin: 0 0 1em 0;
    overflow: hidden;
  }
  .module{
    p {
        margin: 0;
        padding:0!important;
        font-size: .875rem;
        font-weight: 400;
      }
  }

  .overflow {
    --max-lines: 3;
    position: relative;
    // max-height: calc(var(--lh) * var(--max-lines));
    max-height: 3.3rem;
    overflow: hidden;
    padding-right: 0rem; /* space for ellipsis */
  }
//   .overflow::before {
//     position: absolute;
//     content: "...";
//     bottom: 0;
//     right: 0;
//   }
  .overflow {

span.eclipse-sec-cls{
    position: absolute;
    // content: "...";
    bottom: 0;
    right: 0;
}    
  }
.prod-detail-sec{min-height: 131px;}

.search-box.store-side{
    max-height:38px; 
    padding-left: 14px;
    box-sizing: border-box;
    @media screen and (max-width: $break-at-ipad) {
        align-self: auto;
    }
    .search-close-btn{top:0.4rem;
        @media screen and (max-width: $break-at-ipad) {
            top: 50%!important;
        }
    }

    @media screen and (max-width: $break-at-mobile-414) {
        
        input.expand-input-field{
            width: 8rem !important;
        }
    }
}