

.custom-defined-msg-box.kit-associate{max-width:60vw; min-width:60vw;}

.add-sub-category-popup.mat-dialog-content {
    .mat-table {
        .mat-header-row {
            .mat-header-cell{
                flex: auto;
                &:nth-child(1) {
                    //width: 7%;
                    overflow: visible;
                }
                &:nth-child(5) {justify-content: flex-start; box-sizing: border-box; padding-right:0.5rem;}
            }
        }
        .mat-row {
            .mat-cell{
                flex: auto;
                &:nth-child(1) {
                    //width: 7%;
                    overflow: visible;
                }
                &:nth-child(5) {justify-content: flex-start; box-sizing: border-box; padding-right:0.5rem;}
            }
        }
    }
    
    
}
