@import './_variables';
@import './_mixins';
.store-login-page-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url(/assets/images/store-login-big-bg-pattern.jpg) no-repeat left top;
    background-size: cover;
    @media screen and (max-width: $break-at-mobile-414) {
        background: #fff;
    }
    .store-login-page-container-overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.1;
        @media screen and (max-width: $break-at-mobile-414) {
            display: none;
        }
    }
    .store-login-form-sec {
        display: flex;
        flex-direction: row;
        height: 50vh;
        width: 60%;
        z-index: 2;
        @media screen and (max-width: $break-at-desktop) {
            height: 70vh;
        }
        @media screen and (max-width: $break-at-ipad) {
            height: 55vh;
        }
        @media screen and (max-width: $break-at-mobile-414) {
            width: 100%;
            height: 100vh;
            flex-direction: column-reverse;
        }
        .store-login-form-left-sec {
            display: flex;
            align-items: center;
            position: relative;
            width: 50%;
            height: 100%;
            background: url(/assets/images/store-login-small-bg-pattern.jpg) no-repeat left top;
            background-size: cover;
            @media screen and (max-width: $break-at-mobile-414) {
                height: 2.5rem;
                width: 100%;
                justify-content: center;
                align-items: center;
            }
            .store-header-overlay {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0.6;
            }
            .welcome-txt {
                color: #fff;
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 1;
                padding-left: 3rem; // @extend .gutterL3;
                padding-left: 3rem;
                width: 100%;
                box-sizing: border-box;
                align-items: baseline;
                z-index: 9;
                @media screen and (max-width: $break-at-ipad) {
                    padding-left:2rem;
                }
                @media screen and (max-width: $break-at-mobile-414) {
                    display: none;
                }
                span {
                    color: #fff;
                    font-size: 3rem; // font-weight: 500;
                    font-weight: $heading-font-weight;
                    line-height: 1;
                    word-break: break-word;
                    display: flex;
                }
            }
            .powered-by-txt {
                color: #fff;
                font-size: 0.7rem;
                font-weight: 400;
                line-height: 1;
                position: absolute;
                bottom: 2rem;
                left: 3rem;
                @media screen and (max-width: $break-at-ipad) {
                    left: 2rem;
                }
                @media screen and (max-width: $break-at-mobile-414) {
                    position: relative;
                    bottom: 0;
                    left: 0;
                }
                span {
                    display: inline-block;
                    img {
                        // @extend .offsetL104;
                        margin-left: 5px;
                        max-width: 100%;
                        height: 1rem;
                        margin-bottom: -4px;
                    }
                }
            }
        }
        .store-login-form-right-sec {
            display: flex;
            flex-direction: column;
            width: 50%;
            height: 100%;
            background: #fff; //@extend .gutter3;
            padding: 3rem;
            box-sizing: border-box;
            justify-content: space-between;
            position: relative;
            @media screen and (max-width: $break-at-ipad) {
                padding:2rem;
            }
            @media screen and (max-width: $break-at-mobile-414) {
                width: 100%;
                justify-content: center;
                height: calc(100vh - 2.5rem);
                box-sizing: border-box;
                padding: 1rem 2rem; // .store-login-logo-sec{display: flex; justify-content: center;}
            }
            .contact-us-txt{
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 0;
                padding: 0.75rem 3rem;
                background: #e6ebf1;
                box-sizing: border-box;
                color: #4d89f7;
                text-decoration: none;
                font-size: 0.85rem;
                @media screen and (max-width: $break-at-ipad) {
                    padding:0.5rem 2rem;
                }

            }
            .store-login-logo-sec {
                max-width: 10rem;
                max-height: 3.75rem;
                height: 100%;
                @media screen and (max-width: $break-at-mobile-414) {
                    // display: flex;
                    // justify-content: center;
                    // align-items: flex-start;
                    margin-bottom: 1rem;
                    width:100%;
                    max-width: 8rem;
                    max-height: 3rem;
                }
                img {
                    float: left;
                    max-width: 10rem;
                    max-height: 3.75rem;
                    @media screen and (max-width: $break-at-ipad) {
                        max-height: 3rem;
                    }
                    @media screen and (max-width: $break-at-mobile-414) {
                        max-width: 8rem;
                        max-height: 3rem;
                    }
                }
            }
            .store-login-sign-in-form-sec {
                p {
                    margin: 0px;
                    .mat-form-field {
                        width: 100%;
                        .mat-icon {
                            margin-right: 1rem;
                            @media screen and (max-width: $break-at-mobile-414) {
                                margin-right: 0.5rem;
                            }
                            img {
                                float: left;
                                max-width: 85%;
                                margin-top: 6px;
                            }
                        }
                    }
                }
                .form-actionable-sec {
                    display: flex;
                    justify-content: space-between; // padding-top:0.5rem;
                    // @extend .gutterT05;
                    padding-top: 0.5rem;
                    @media screen and (max-width: $break-at-mobile-414) {
                        padding-top: 0.25rem;
                    }
                    .store-active-btn.mat-flat-button {
                        // box-shadow: 0px 3px 15px #d34141a6;
                        @extend .button-shadow;
                        margin-left:0px!important;
                    }
                    .store-active-btn.mat-button {
                        text-transform: none;
                        margin-right: -0.75rem; //color: $color-616167;
                        color: #B7B7B7;
                    } // a{}
                }
                @media screen and (max-width: $break-at-mobile-414) {
                    padding: 1rem 0rem 3rem;
                }
            }
            .form-footer-sec {
                display: flex;
                // justify-content: flex-start;
                justify-content: space-between;
                position: relative; // border-top: dashed 2px #ddd;
                @extend .gutterT4; // padding-top: 4rem;
                align-items: baseline;
                @media screen and (max-width: $break-at-desktop) {
                    padding-top: 2rem;
                    margin-top:1rem;
                }
                @media screen and (max-width: $break-at-ipad) {
                    padding-top: 1.5rem;
                    margin-top:1.5rem;
                }
                @media screen and (max-width: $break-at-mobile-414) {
                    display: flex;
                    margin-top:1rem;
                    // justify-content: center;
                }
                &:after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    content:"";
                    background-image: linear-gradient(to left, transparent 50%, #E6E8E7 50%);
                    background-size: 20px 100%;
                }
                span {
                    position: absolute;
                    left: 50%;
                    top: -10px;
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
                    width: 32px; 
                    background: $color-ffffff;
                    color: $color-616167;
                    display: inline-block;
                    text-align: center;
                    z-index: 9;
                }
                a {
                    color: $color-4d89f7;
                    text-decoration: none;
                    font-size: 0.85rem;
                    padding-bottom:0.5rem;
                    em {
                        font-weight: 500;
                        font-style: normal;
                    }
                }
                .contact-us-txt{align-self: flex-end; min-width:4.4rem;}
            }
            // .form-footer-sec:after {
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     width: 100%;
            //     height: 1px;
            //     content:"";
            //     background-image: linear-gradient(to right, transparent 50%, #646464 50%);
            //     background-size: 22px 100%;
            // }
        }
    }
}