<div class="container-fluid">
  <div class="store-login-page-container store-signin-pg">
    <div class="store-login-page-container-overlay dy-header-color"></div>

    <div class="store-login-form-sec">
      <div class="store-login-form-left-sec">
        <div class="store-header-overlay dy-header-color"></div>
        <div class="welcome-txt">Welcome <span>{{common.storeClientInfo.clientName}}</span></div>
        <div class="powered-by-txt">Powered By <span><img src="../assets/images/logo-white.svg" alt=""></span></div>
      </div>
      <div class="store-login-form-right-sec">
        <div class="store-login-logo-sec"><img [src]="_domSanitizationService.bypassSecurityTrustUrl(common.storeLogo)" /></div>
        <form [formGroup]="storeLoginForm">
          <div class="store-login-sign-in-form-sec">
            <div>
              <p>
                <mat-form-field appearance="legacy">
                  <mat-icon matPrefix><img src="../assets/images/store-email.svg" alt=""></mat-icon>
                  <input matInput placeholder="Email" trimDirective formControlName="userEmail" [errorStateMatcher]="matcher" maxlength="100"
                    required>
                  <mat-error *ngIf="storeLoginForm.controls.userEmail.errors && storeLoginForm.controls.userEmail.value && storeLoginForm.controls.userEmail.errors.pattern && !storeLoginForm.controls.userEmail.hasError('required')">
                    {{appMessage.U0005}}
                  </mat-error>
                  <mat-error *ngIf="storeLoginForm.controls.userEmail.hasError('required')">
                    {{appMessage.U0002}}
                  </mat-error>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="legacy">
                  <mat-label>Password</mat-label>
                  <mat-icon matPrefix><img src="../assets/images/store-password.svg" alt=""></mat-icon>
                  <input matInput type="password" placeholder="Password" trimDirective formControlName="userCredential" maxlength="30"
                    [errorStateMatcher]="matcher" required (keypress)="onKeyPress($event)" >
                  <mat-error *ngIf="storeLoginForm.controls.userCredential.hasError('required')">
                    {{appMessage.U0029}}
                  </mat-error>
                </mat-form-field>
              </p>
            </div>

            <div class="form-actionable-sec">
              <button type="button" mat-flat-button class="store-active-btn  dy-action-btn-color" (click)="loginUser()" >Login</button>
              <button type="button" mat-button class="store-active-btn" routerLink= "/forgotpassword" >Forgot Password?</button>
            </div>
          </div>
        </form>
        <div class="form-footer-sec" [style.visibility] = "!common.storeClientInfo.isSignUpEnable ? 'hidden' : ''" >
          <span>or</span>
          <a href="javascript:void(0)" routerLink ="/store-signup" >
            Don't have an account? <em>Signup</em></a>
        </div>
        <a class="contact-us-txt"  href="javascript:void(0)" (click) = "contactEmailPopup()">Contact Us</a>
      </div>
  </div>
</div>
