@import './_variables';
@import './_mixins';
.mat-table {
    //@extend .offsetB2;
    padding-bottom:1.5rem;
    .mat-header-row {
        border-top: solid 1px #ddd;
        padding-right: 0px;
        
        .mat-header-cell {
            &:nth-child(1) {
                width: 25%;
                flex: inherit;
            }
            &:nth-child(2) {
                width: 35%;
                flex: inherit;
            }
            &:nth-child(3) {
                width: 20%;
                flex: inherit;
            }
            &:nth-child(4) {
                width: 14%;
                flex: inherit;
            }
            &:nth-child(5) {
                width: 6%;
                flex: inherit;
                justify-content: flex-end;
                padding-right: 0px;
            }
        }
    }
    .mat-row {
        cursor: pointer;
        padding-right: 0px;
        box-shadow: 0px 1px 4px 0px #d2d1d1;
        transition: all 0.3s ease-in-out;
        &:hover {
            transition: all 0.3s ease-in-out;
            box-shadow: 0px 3px 18px 0px #d2d1d1;
        }
        .mat-cell {
            &:nth-child(1) {
                width: 25%;
                flex: inherit;
                color: $color-4d89f7;
                text-transform: capitalize;
            }
            &:nth-child(2) {
                width: 35%;
                flex: inherit;
            }
            &:nth-child(3) {
                width: 20%;
                flex: inherit;
                text-transform: capitalize;
            }
            &:nth-child(4) {
                width: 14%;
                flex: inherit;
                /** text-align: center; background: #d0f2ca; border-radius: 3px; padding: 0.2rem 0rem; */
            }
            &:nth-child(5) {
                width: 6%;
                flex: inherit;
                justify-content: flex-end;
                padding-right: 0px;
            }
        }
    }
}