#cs {
    display: none;
  }

  // img.pencil{cursor:url(http://cur.cursors-4u.net/cursors/cur-11/cur1046.cur), default !important;}
  img.pencil{cursor:url('./../../../assets/images/cur1046.cur'), default !important;}