.otp-row{width: 100%;}
.resend-txt{display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #4d89f7;
}

    .dialog-bottom{
        display: flex !important;
        justify-content: space-between !important;
        width: 100%;
    }

    .disable-resend{
        pointer-events: none;
        cursor: pointer;
        color: rgba(100, 99, 99, 0.226)!important;
    }