<div class="container-fluid">
  <div class="main-container-sec">

    <!-- Below code is used to call the store header tabbing section -->
    <div class="common-header-sec">
      <div class="store-header-overlay dy-header-color"></div>
      <div class="common-header-tab-sec">
        <div class="cmn-hdr-title-sec">
          <!-- {{common.activatedStep == 'productdetail'? 'Product Detail' : 'Browse Products'}} -->
          {{common.activatedStep == 'productdetail'? 'Product Detail' : common.activatedStep == 'placeorder'? 'Product Gallery' : common.activatedStep == 'services'? 'Services' : common.activatedStep == 'orderdetail'? 'Order Details' : common.activatedStep == 'revieworder'? 'Review Order':'Browse Product'}}
        </div>
        <div class="cmn-hdr-tab-list" *ngIf="!isViewStore">
          <div class="left-nav-arrow" (click)="common.backward()" [class.dis-mode-arrow]="common.activatedStep == 'placeorder' || common.activatedStep == 'productdetail'">
              <span>&laquo;</span> Prev 
            <!-- <i class="material-icons">
              navigate_before
            </i> -->
          </div>
          <ul>
            <li (click)="common.onLinkClick('placeorder')" [class.active]="common.activatedStep == 'placeorder' || common.activatedStep == 'productdetail'"><img
                src="../assets/images/products-tab.svg" alt=""><span>select product</span></li>
            <li [class.active]="common.activatedStep == 'services'" *ngIf="common.storeClientInfo && common.storeClientInfo.isServicePageEnable"
              (click)="common.onLinkClick('services')"><img src="../assets/images/services-tab.svg" alt=""><span>select
                services</span></li>
            <li [class.active]="common.activatedStep == 'orderdetail'" (click)="common.onLinkClick('orderdetail')"><img src="../assets/images/order-tab.svg"
                alt=""><span>order
                details</span></li>
            <li [class.active]="common.activatedStep == 'revieworder'" (click)="common.onLinkClick('revieworder')"><img src="../assets/images/place-tab.svg"
                alt=""><span>Review order</span>
                <!-- This span is to replaced with the cart icon to show the added items-->
              <aside *ngIf="common.addedCartCount != 0">{{common.addedCartCount}}</aside>
            </li>
          </ul>
          <div class="right-nav-arrow" (click)="common.forward()" [class.dis-mode-arrow]="common.activatedStep == 'revieworder'">
              Next <span>&raquo;</span> 
            <!-- <i class="material-icons">
              navigate_next
            </i> -->
          </div>
        </div>
      </div>
    </div>

    <div [ngSwitch]="common.activatedStep">
      <ng-container *ngSwitchCase="'services'">
        <app-services></app-services>
      </ng-container>
      <ng-container *ngSwitchCase="'orderdetail'">
        <app-order-detail></app-order-detail>
      </ng-container>
      <ng-container *ngSwitchCase="'productdetail'">
        <app-product-detail></app-product-detail>
      </ng-container>
      <ng-container *ngSwitchCase="'revieworder'">
        <app-review-order></app-review-order>
      </ng-container>
      <div *ngSwitchDefault>
        <app-browse-product></app-browse-product>
      </div>
    </div>

    <div class="store-page add-user-btn-sec active" [class.showDiv]="showTopLink">
      <!-- <button mat-fab (click)="animateToTop($event)">
        <i class="material-icons">keyboard_arrow_up</i>
      </button> -->
      <button type="button" class="top-arrow-nav" mat-mini-fab (click)="animateToTop(0)">
        <mat-icon class="mini-fab-btn"><img src="../assets/images/top-icon.svg" /></mat-icon>
      </button>
    </div>

    <!-- change the html and design of back and forward button -->
    <!-- <div class="store-page add-user-btn-sec active showDiv" style="bottom:8.25rem;right: 4rem;">
      <button mat-mini-fab (click)="common.backward()">
        <i class="material-icons">keyboard_arrow_left</i>
      </button>
    </div>
    <div class="store-page add-user-btn-sec active showDiv" style="bottom:8.25rem;">
      <button mat-mini-fab (click)="common.forward()">
        <i class="material-icons">keyboard_arrow_right</i>
      </button>
    </div> -->
   


  </div>
</div>