<div class="container-fluid">
  <div class="landing-page-cls">
    <div class="landing-pg-sign-in-sec">
      <div class="sign-in-sec">
        <div class="main-logo-sec">
          <img src="../assets/images/Sparks-Link-Logo-login.png" alt="">
        </div>
        <div class="landing-content-sec">
          <label>Welcome to SparksLink!</label>
          <p class="landing-text-sec">
            If your account has been migrated to the new SparksLink, please use your dedicated URL provided by your
            Sparks account team to access your SparksLink site.</p>
            <p class="landing-text-sec"> If your account is still on the legacy SparksLink system, please use the button below to access your
            SparksLink site.
          </p>
          
          <p class="landing-text-sec">
            If you have any questions please contact your Sparks account manager.
          </p>
          <button mat-stroked-button class="existing-btn" (click)="navigateToExisting()">Old SparksLink</button>
          <p class="landing-text-sec">
            For site help, please contact the <a href="mailto:helpdesk@wearesparks.com">Sparks Help Desk</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>