<div class="container-fluid">


  <div [ngClass]="!util.isStore ? 'page-content-wrapper-sec' : 'main-container-sec'">

    <div class="content-heading-sec" [class.extend-sec]="enum['Order_' + data.orderStatus] != 8 && !util.isStore" *ngIf="!util.isStore">
      <div class="page-heading-sec" [class.extend-sec]="enum['Order_' + data.orderStatus] != 8 && !util.isStore">
        <h2>Order#{{data.orderNumber}}</h2>
      </div>
      <div class="order-detail-stepper-sec extend-sec" *ngIf="enum['Order_' + data.orderStatus] != 8 && !util.isStore">
        <ul class="order-detail-stepper">
          <li class="active">Placed</li>
          <li [ngClass]="enum['Order_' + data.orderStatus] >= 2 ? 'active': ''">confirmed</li>
          <li [ngClass]="enum['Order_' + data.orderStatus] >=3 ? 'active': ''">Processing</li>
          <li [ngClass]="enum['Order_' + data.orderStatus] >=4 ? 'active': ''">Ready to Ship</li>
          <li [ngClass]="enum['Order_' + data.orderStatus] >=5 ? 'active': ''">Shipped</li>
          <li *ngIf="isEventEnabled && isReturnable" [ngClass]="enum['Order_' + data.orderStatus] >=6 ? 'active': ''">returned</li>
          <li [ngClass]="enum['Order_' + data.orderStatus] ==7 ? 'active': ''">completed</li>
        </ul>
      </div>
      <div class="order-detail-stepper-sec" *ngIf="enum['Order_' + data.orderStatus] == 8 && !util.isStore">
        <ul class="order-detail-stepper">
          <li class="active">Placed</li>
          <li class="active">Canceled</li>
        </ul>
      </div>
      <div class="button-group-in-heading-sec" *ngIf="!util.isStore" [class.extend-sec]="enum['Order_' + data.orderStatus] != 8 && !util.isStore">
        <button *ngIf="hasPermission && data.orderStatus == enum.Order_Confirmed" mat-flat-button class="active-btn mat-primary" (click)="releaseToWorkShop()">Release
          To Workshop</button>
        <button *ngIf="checkToEnableReadyToShip()"
          mat-flat-button class="active-btn mat-primary" (click)="readyToShip()">Ready To Ship</button>
        <button *ngIf="checkToEnableShipped()"
          mat-flat-button class="active-btn mat-primary" (click)="shipped()">Shipped</button>
        <button *ngIf="data.orderStatus == enum.Order_Shipped && showReturnButton && isEventEnabled && isReturnable" mat-flat-button
          class="active-btn mat-primary" (click)="returned()">Returned</button>
        <button *ngIf="hasPermission && (data.orderStatus == enum.Order_Received || (data.orderStatus == enum.Order_Shipped && (!isEventEnabled || !isReturnable)))"
          mat-flat-button class="active-btn mat-primary" (click)="complete()">Complete</button>
        <button mat-flat-button class="active-btn mat-primary" *ngIf="hasPermission && (enum['Order_' + data.orderStatus] < 7) && !(data.orderStatus == enum.Order_Shipped && (!isEventEnabled || !isReturnable))"
          (click)="updateOrderStatus()">submit</button>
          <!-- this submit btn is to show only when user is neither admin or manager and status is either processing or shipped : It is for team role -->
          <button mat-flat-button class="active-btn mat-primary" *ngIf="!hasPermission && (data.orderStatus == enum.Order_Processing || data.orderStatus == enum.Order_Shipped)"
          (click)="updateOrderStatus()">submit</button>
          <!-- this submit btn is to show a disabled submit button in case of event not enabled and order is in shipped condition because after that only complete button comes and there is nothing to edit-->
        <button mat-flat-button class="mat-primary" *ngIf="data.orderStatus == enum.Order_Shipped && (!isEventEnabled || !isReturnable)"
          disabled>submit</button>
        <button mat-button class="transparent-btn" routerLink="/orders">Cancel</button>
        <mat-icon class="mini-fab-btn"><i class="material-icons" (click)="printOrder()">print</i></mat-icon>
      </div>

    </div>

    <div class="container-fluid" *ngIf="!util.isStore">
      <div class="page-content-sec">
        <div class="row">

          <mat-accordion>
            <mat-expansion-panel #order_details [hideToggle]="true" [expanded]="enum['Order_' + data.orderStatus] <= 2 || enum['Order_' + data.orderStatus] >= 7 || util.isStore">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span class="panel-title-sec"> ORDER DETAILS</span>
                </mat-panel-title>

                <!-- Accordian row Open/Close Icon-->
                <mat-panel-description>
                  <mat-icon *ngIf="!order_details.expanded">add</mat-icon>
                  <mat-icon *ngIf="order_details.expanded">remove</mat-icon>
                </mat-panel-description>

              </mat-expansion-panel-header>
              <app-manage-order-detail (productDeleted)="productDeleteChange($event)"></app-manage-order-detail>
            </mat-expansion-panel>

            <div *ngIf="data.orderStatus && enum['Order_' + data.orderStatus] >= 3 && enum['Order_' + data.orderStatus] != 8 && !util.isStore">
              <mat-expansion-panel #freight_details [hideToggle]="true" [expanded]="data.orderStatus == enum.Order_Processing">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span class="panel-title-sec">FREIGHT DETAILS</span>
                  </mat-panel-title>

                  <!-- Accordian row Open/Close Icon-->
                  <mat-panel-description>
                    <mat-icon *ngIf="!freight_details.expanded">add</mat-icon>
                    <mat-icon *ngIf="freight_details.expanded">remove</mat-icon>
                  </mat-panel-description>

                </mat-expansion-panel-header>

                <app-manage-freight-detail></app-manage-freight-detail>

              </mat-expansion-panel>
            </div>

            <div *ngIf="data.orderStatus && enum['Order_' + data.orderStatus] >= 4 && enum['Order_' + data.orderStatus] != 8 && !util.isStore">
              <mat-expansion-panel #ship_details [hideToggle]="true" 
              [expanded]="data.orderStatus == enum.Order_Ready_to_ship || (data.orderStatus == enum.Order_Shipped && (!isEventEnabled || !isReturnable))">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span class="panel-title-sec">SHIPMENT DETAILS</span>
                  </mat-panel-title>

                  <!-- Accordian row Open/Close Icon-->
                  <mat-panel-description>
                    <mat-icon *ngIf="!ship_details.expanded">add</mat-icon>
                    <mat-icon *ngIf="ship_details.expanded">remove</mat-icon>
                  </mat-panel-description>

                </mat-expansion-panel-header>
                <app-manage-shipment-detail></app-manage-shipment-detail>
              </mat-expansion-panel>
            </div>

            <div *ngIf="data.orderStatus && enum['Order_' + data.orderStatus] >= 5 && enum['Order_' + data.orderStatus] != 8  && isEventEnabled && !util.isStore && isReturnable">
              <mat-expansion-panel #rec_details [hideToggle]="true" [expanded]="enum['Order_' + data.orderStatus] == 5 || enum['Order_' + data.orderStatus] == 6">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span class="panel-title-sec"> RECEIVING DETAILS</span>
                  </mat-panel-title>

                  <!-- Accordian row Open/Close Icon-->
                  <mat-panel-description>
                    <mat-icon *ngIf="!rec_details.expanded">add</mat-icon>
                    <mat-icon *ngIf="rec_details.expanded">remove</mat-icon>
                  </mat-panel-description>

                </mat-expansion-panel-header>
                <app-manage-receiving-detail></app-manage-receiving-detail>
              </mat-expansion-panel>
            </div>

          </mat-accordion>
        </div>
      </div>
    </div>

    <!-- Below code is called from Store Order List Section -->
    <div class="order-detail-page" *ngIf="util.isStore">
      <div class="common-header-sec">
        <div class="store-header-overlay dy-header-color"></div>

        <div class="common-header-tab-sec">
          <div class="cmn-hdr-title-sec">
            Order Detail
          </div>
          <!-- <div class="button-group-in-heading-sec relative-sec-cls">
              <button mat-flat-button class="active-btn mat-primary" *ngIf="data.orderStatus == 'PLACED'|| data.orderStatus == 'CONFIRMED'"
                (click)="cancelOrder()">Cancel Order</button>
              <button mat-button class="transparent-btn" routerLink="/storeorders">Cancel</button>
            </div> -->
        </div>
      </div>


      <div class="store-page-content-sec">
        <div class="white-bg">
          <div class="store-page-heading">
            <div class="dsbrd-left-hdng-sec dy-body-txt-color">Order#{{data.orderNumber}}</div>
            <div class="dsbrd-right-hdng-sec">
              <button mat-flat-button class="dy-action-btn-color mat-primary" *ngIf="data.orderStatus == 'PLACED'|| data.orderStatus == 'CONFIRMED'"
                (click)="cancelOrder()">Cancel Order</button>
              <button mat-button class="transparent-btn" routerLink="/storeorders">Cancel</button>
              <!-- <mat-icon class="mini-fab-btn print-btn-store"><i class="material-icons" (click)="printOrder()">print</i></mat-icon> -->
              <mat-icon class="mini-fab-btn print-btn-store"><img (click)="printOrder()" src="../assets/images/print-order-detals.svg"></mat-icon>
            </div>
          </div>

          <app-manage-order-detail></app-manage-order-detail>
        </div>
      </div>

    </div>

  </div>

</div>