.example-full-width{
    width: 100%;
}

// .component-selected-tab-content-cls{
//     &.popup-from-step-import-btn-sec{
        .popup-from-step-import-btn-sec{
            margin-bottom: 2rem;
            .left-right-padding-cls{
                display: flex;
                box-sizing: border-box;
                align-items: center;
                justify-content: space-around;
                .left-checkbox-option-cls{
                    display: inline-flex;
                    // .mat-form-field{
                    //     &.input-f-cls{
                    //         padding:0rem 0.5rem;
                    //     }
                        
                    // }
                }
            }
        }
//     }
    
// }