<div class="custom-defined-msg-box">
  <div class="popup-sec-icon">
    <div class="sparkle-bg"></div>

    <button class="alert-popup-icon">
      <mat-icon><img src="../assets/images/link-popup-icon.svg" alt="" /></mat-icon>
    </button>

  </div>

  <mat-dialog-content class="add-sub-category-popup">
    <mat-form-field class="example-full-width f1">
      <mat-select placeholder="Link Field" [(ngModel)]="data.field.linkedFieldId" (ngModelChange)="onLinkSelection(data.field.linkedFieldId)"
      name="linkField">
      <mat-option *ngFor="let field of fieldData" [value]="field.id">
          {{field.description}}
        <!-- {{(field.type == 'DROP_DOWN' ||  field.type == 'CHECK_BOX' || field.type == 'RADIO_BUTTON') ? field.description : ''}} -->
      </mat-option>
    </mat-select>
    </mat-form-field>
    
    <mat-form-field class="example-full-width f1">
      <mat-select placeholder="Link Value" [(ngModel)]="data.field.linkedFieldValue"
      name="linkValue">
      <mat-option *ngFor="let value of lookupListData" [value]="value">
        {{value}}
      </mat-option>
    </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <div class="popup-btn-sec aligned-right">
    <div mat-dialog-actions>
      <button mat-button class="transparent-btn popup-sec-btn" (click)="dialogRef.close()">CANCEL</button>
      <button mat-flat-button class="popup-sec-btn" [disabled]="!(data.field.linkedFieldId && data.field.linkedFieldValue)"
      [class.active-btn]="data.field.linkedFieldId && data.field.linkedFieldValue" (click)="complete()" >DONE</button>
    </div>
  </div>

</div>