<div class="row">

  <div class="col s12 m6 l6">
    <div class="left-col-content-sec">

      <div class="row">
        <h5>Add Logo <span class="mat-placeholder-required mat-form-field-required-marker">*</span></h5>
        <div class="logo-drag-drop-sec">
          <div class="logo-area">
            <small *ngIf="isImage">Maximum Logo Height 60px</small>
            <div *ngIf="!isCropped && !isImage" class="upload-div">


              <p>Drag & Drop Logo<br />or<br /><button mat-flat-button class="active-btn">Browse file</button></p>
              <mat-error *ngIf="fileErrorMessage">{{fileErrorMessage}}</mat-error>
              <input type="file" accept="image/*"  (change)="fileChangeEvent($event)" />

            </div>

            <image-cropper *ngIf="isImage" id="img" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false"
              [resizeToWidth]="250" (imageCroppedBase64)="imageCropped($event)">
            </image-cropper>

            <div *ngIf="isCropped">
              <app-custom-img [target]="target" (colorChange)="getColor($event)" [src]="croppedImage" [isColorPicker]="isPencil"></app-custom-img>
            </div>

            <mat-slider *ngIf="isImage" style="width: 400px;" [value]="sliderValue" min="60" [max]="sliderValue" step="1"
              (change)="onSliderChange($event)"></mat-slider>

            <div class="croppping-img-sec-btn">
              <button *ngIf="isImage" mat-flat-button class="active-btn" [disabled]="!isImage" (click)='crop()'>Crop</button>
              <button *ngIf="isImage || isCropped" mat-flat-button class="active-btn" (click)="onImageReset()">Reset</button>
            </div>

          </div>


        </div>

      </div>



      <div class="row">
        <h5>Customize Theme Colors</h5>
        <div class="theme-color-sec">
          <div *ngFor="let item of colorItems;" [ngClass]="item.target">
            <span class="title">{{item.text}}</span>

            <!-- to show the selected color -->
            <aside [(colorPicker)]="color" id="{{item.target}}" [cpOutputFormat]="'hex'" (colorPickerClose)="colorPickerColorChanged($event,item.target)"
              [ngStyle]="{'background' : data[item.target]}"></aside>

            <!-- to pick the color from color palette -->
            <span class="color-picker-sec">Fill</span>

            <!-- to pick the color from the uploaded logo -->
            <mat-icon matTooltip="select a color from logo"><img id="{{item.target}}" (click)="onCustomizeColorClick($event)"
                src="./assets/images/picker-pencil.svg"></mat-icon>
          </div>
        </div>
      </div>

      <div class="editor-sec row">
        <h5>Header</h5>
        <ckeditor placeholder="Header" name="editor1" debounce="500" [(ngModel)]="headerText" language="en"
          #editor1="ngModel" [config]="util.ckEditorBaseConfigDescription"></ckeditor>
          <mat-error *ngIf="headerError">{{headerError}}</mat-error>
        <!-- <mat-error *ngIf="editor1.touched && editor1.value && editor1.value.length > 2070 ">Maximum 2000 characters are
          allowed.</mat-error> -->
      </div>

      <div class="editor-sec row">
        <h5>Footer</h5>
        <ckeditor placeholder="Footer" maxlength="2070" debounce="500" name="editor2" [(ngModel)]="footerText" language="en"
          #editor2="ngModel" [config]="util.ckEditorBaseConfigDescription"></ckeditor>
          <mat-error *ngIf="footerError">{{footerError}}</mat-error>
        <!-- <mat-error *ngIf="editor2.touched && editor2.value && editor2.value.length > 2070 ">Maximum 2000 characters are
          allowed.</mat-error> -->
      </div>

    </div>
  </div>


  <app-theme-preview-one [data]="data"></app-theme-preview-one>

  <div class="col s12 m6 l6">

    <div class="right-col-content-sec">
      <h6>Help & Resources</h6>
      <div class="row">
        <div class="help-resource-upload-sec">

          <div class="upload-sec-placeholder-icon-sec">
            <img src="./assets/images/other-res-upload-icon-img.svg" alt="" />
          </div>
          <div class="upload-sec-click-to-upload-sec">
            <p class="placeholder-img-sec"><img src="./assets/images/cloud-computing.svg" alt="" /></p>
            <p><strong>Drag & Drop</strong> <a class="browse-file-anchor-tag" href="javascript:void(0)"><em>your
                  files here, or </em>Browse file</a></p>
          </div>
          <input style="opacity:0;" id="docinputfile" type="file" (change)="fileChangeEvent($event, 'OTHER_RESOURCES')" />
        </div>

        <small><em>Note:</em> Available format: DOCX, PDF, XLSX, CSV, PPT, JPG, JPEG, PNG. Size must be less than 30MB.</small>
        <div *ngIf="helpResourceArr.length > 0" class="help-resource-upload-img-list-sec">
          <div class="heading-row">
            <div class="heading-row-col-cell">File Name</div>
            <div class="heading-row-col-cell">Action</div>
          </div>
          <div class="content-row" *ngFor="let item of helpResourceArr;let i = index;">
            <div *ngIf="!item.isRename;else renameFile1;" class="content-row-col-cell">{{item.fileName}}</div>
            <ng-template #renameFile1>
              <div class="content-row-col-cell">
                <mat-form-field class="">
                  <input matInput placeholder="File name" name="filename" maxlength="100" class="form-control" trimDirective
                    [(ngModel)]="item.newFileName" #filename=ngModel required />
                  <mat-hint *ngIf="filename.errors?.required && filename.touched" class="alert alert-danger">
                    {{appMessage.U0066}}
                  </mat-hint>
                </mat-form-field>

              </div>
            </ng-template>
            <div *ngIf="item.isRename" class="content-row-col-cell">
              <div class="edit-sec-btn">
                <mat-icon matSuffix (click)="renameFile(item, i)" class="done-btn">done</mat-icon>
                <mat-icon matSuffix (click)="item.isRename = false;">close</mat-icon>
              </div>
            </div>
            <div *ngIf="!item.isRename" class="content-row-col-cell">
              <button mat-icon-button id="link" [matMenuTriggerFor]="menu">
                <mat-icon aria-label="">more_vert</mat-icon>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="downloadFile(item.resourceId)">Download</button>
                  <button mat-menu-item (click)="renameAction(item)">Rename</button>
                  <button mat-menu-item (click)="deleteFile(item.resourceId, i)">Delete</button>
                </mat-menu>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>