@import './_variables';
@import './_mixins';

.left-col-content-sec { @extend .gutterR2nh; }
.right-col-content-sec { @extend .gutterL2nh; }

h5 {
  @extend .subheading;
  margin-bottom: 1.25em;
}

.logo-drag-drop-sec {
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;

  .logo-area{
    position: relative;

    small{margin-bottom:2rem; display:inline-block;     color: #616167;}

    .upload-div{
      padding-top:3rem;
      padding-bottom: 3rem;
      
      input[type="file"]{
        opacity:0;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        cursor: pointer;
      }
      p{
        margin:0px;     color: #616167;
        line-height: 1.5rem;
      .active-btn{    text-transform: none; }
      }

      .mat-error{margin-top:0.75rem;}
    }
  }
}

// .upload-div {
//   position: relative;
//   background-color: #f1f1f1;
//   border: solid 1px #ccc;
//   overflow: auto;
// }

// .upload-div input {
//   width: 100%;
//   opacity: 0;
//   position: relative;
//   z-index: 10;
//   text-overflow: ellipsis;
//   overflow: hidden;
//   margin-left: 0;
//   height: 100%
// }

.resize {
  width: 400px !important;
}

.theme-color-sec{
  display: flex;
  flex-flow: column nowrap;

  .headerColorCode{
    display: flex;
    width: 20rem;
    margin-bottom: 1rem;
    align-items: center;

    span.title {
      display: inline-block;
      width: 10rem;
      font-size: 0.875rem;
      color: #616167;
    }

    aside {
      display: inline-block;
      width: 1.3rem;
      height: 1.3rem;
      background: #1C57B7;
      border: $table-border;
      margin-right: 1rem;
    }

    span.color-picker-sec{
      display: inline-block;
      width: 4.5rem;
      font-size: 0.875rem;
      color: #616167;
    }

    .mat-icon{
      img{
        width:1.13rem;
        height: 1.13rem;
      }
    }
  }

  .bodyTextColorCode{
    display: flex;
    width: 20rem;
    margin-bottom: 1rem;
    align-items: center;

    span.title {
      display: inline-block;
      width: 10rem;
      font-size: 0.875rem;
      color: #616167;
    }

    aside {
      display: inline-block;
      width: 1.3rem;
      height: 1.3rem;
      background: #999999;
      border: $table-border;
      margin-right: 1rem;
    }

    span.color-picker-sec{
      display: inline-block;
      width: 4.5rem;
      font-size: 0.875rem;
      color: #616167;
    }

    .mat-icon{
      img{
        width:1.13rem;
        height: 1.13rem;
      }
    }

  }

  .actionButtonColorCode {
    display: flex;
    width: 20rem;
    margin-bottom: 1rem;
    align-items: center;

    span.title {
      display: inline-block;
      width: 10rem;
      font-size: 0.875rem;
      color: #616167;
    }

    aside {
      display: inline-block;
      width: 1.3rem;
      height: 1.3rem;
      background: #D11E47;
      border: $table-border;
      margin-right: 1rem;
    }

    span.color-picker-sec{
      display: inline-block;
      width: 4.5rem;
      font-size: 0.875rem;
      color: #616167;
    }

    .mat-icon{
      img{
        width:1.13rem;
        height: 1.13rem;
      }
    }

  }
}


// .upload-div { position: relative; background-color: #f1f1f1; border: solid 1px #ccc;overflow: auto;}
// .upload-div input {width: 100%; opacity: 0; position: relative; z-index: 10; text-overflow: ellipsis; overflow: hidden; margin-left: 0; height: 100%}
.croppping-img-sec-btn{
  float:none; width:100%; text-align: center;

  .mat-flat-button{
    @extend .offsetL04;
  }
}

.help-resource-upload-sec {
    width: 100%;
    min-height: 2rem;
    border: dashed 1px #dedede;
    display: inline-flex;
    margin-bottom: 0.5rem;
    justify-content: center;
    position: relative;
    #imginputfile,
    #docinputfile {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .upload-sec-placeholder-icon-sec {
        display: inline-flex;
        width: 50%;
        align-items: center;
        justify-content: center;
        img {
            max-width: 6.5rem;
        }
    }
    .upload-sec-click-to-upload-sec {
        display: inline-flex;
        width: 50%;
        align-items: center;
        justify-content: center;
        .placeholder-img-sec {
            // display: inline-flex;
            // width: 25%;
            // align-items: center;
            // justify-content: flex-end;
            // img {
            //   max-width: 3rem;
            //   opacity: 0.4;
            //   margin-right:0.75rem;
            //   @media screen and (max-width: $break-at-ipad) {
            //       margin-right:0.5rem;
            //   }
            // }
            display: inline-flex;
            max-width:5rem;
            width: 100%;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: $break-at-ipad) {
                max-width:4rem;
            }
            img {
              max-width: 3rem;
              opacity: 0.4;
          }
        }
        p {
            display: inline-flex;
            width: calc(100% - 5rem);
            align-items: center;
            justify-content: flex-start;
            flex-flow: column nowrap;
            @media screen and (max-width: $break-at-ipad) {
              width: calc(100% - 4rem);
          }
            strong {
                font-weight: 500;
                color: #616167;
                float: left;
                width: 100%;
            }
            a {
                font-weight: 400;
                color: #4D89F7; // float: left;
                // width: 100%;
                align-self: flex-start;
                font-size: 0.85rem;
                em {
                    font-weight: 400;
                    color: #616167;
                    display: inline-block;
                    margin-right: 0.5rem;
                    pointer-events: none;
                    font-style: inherit;
                }
            }
        }
    }
}

.help-resource-upload-img-list-sec {
  display: block;
  flex: 1;
  padding: 0rem 0rem 0rem 0rem;
  width: 100%;
  box-sizing: border-box;
  .heading-row,
  .content-row {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding: 0 16px;
  }
  .heading-row {
      display: flex;
      background-color: transparent;
      min-height: 2.5rem;
      .heading-row-col-cell {
          color: #616167;
          font-weight: 400;
          font-size: 0.7rem;
          line-height: 1rem;
          padding: 0.5rem;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          overflow: hidden;
          word-wrap: break-word;
          min-height: inherit;
          flex: 1;
          text-transform: uppercase;
          &:nth-child(1) {
              width: 85%;
              flex: inherit;
          }
          &:nth-child(2) {
              width: 15%;
              flex: inherit;
              justify-content: center;
          }
      }
  }
  .content-row {
      background: #fff;
      min-height: 3.25rem;
      transition: all 0.2s ease-in-out;
      border: $table-border;
      margin-bottom: 0.3rem;
      margin-top: 0px;
      align-items: center;
      border-radius: 4px;
      h5 {
          margin: 0px;
          display: inline-flex;
          align-items: center;
          cursor: pointer;
          min-height: 3.25rem;
          @extend .subheading;
          .material-icons {
              margin-right: 0.3rem;
          }
      }
      .content-row-col-cell {
          color: #616167;
          font-size: 0.875rem;
          font-weight: 400;
          line-height: 1rem;
          padding: 0.5rem;
          box-sizing: border-box;
          display: flex;
          word-break: break-word;
          min-height: inherit;
          flex: 1;
          align-items: center;
          //cursor: pointer; // justify-content: space-between;
          &:nth-child(1) {
              width: 85%;
              flex: inherit;
          }
          &:nth-child(2) {
              width: 15%;
              flex: inherit;
              justify-content: center;
          }
          .edit-sec-btn {
              .mat-icon {
                  cursor: pointer;
              }
          }
      }
  }
}