@import './_variables';
@import './_mixins';

.page-content-sec{
        
    .extra-top-margin-spc{
        margin-top:2.75rem;
    
        small{
            display: block;
            margin-bottom:1rem;
            color:#616167;
            font-size: 12px;
            line-height: 1;
            font-weight:400;
        }
    }
        
    h5{
        @extend .subheading;
        border-bottom: solid 1px #ddd;
        padding-bottom: 0.5rem;
        margin-bottom: 1.25em;
        &.no-border-heading{
            border-bottom: 0rem;
            padding-bottom: 0rem;
            margin-bottom:0rem;
        }
    }

    h6{
        float: left;
        width: 100%;
        margin: 0px;
        font-size: 0.85rem;
        font-weight: 500;
        color: #616161;
        padding-top:0.85rem;
        padding-bottom:1rem;
        display: flex;
        align-items: center;
        .mat-icon.material-icons{margin-left:0.5rem;}
    }
    .price-method-cls{
        padding-bottom: 0.75rem;
        #select-price-method{
            font-size: 0.85rem;
                font-weight: 400;
                color: #616161;
        }
        .select-price-method{
            font-size: 0.85rem;
                font-weight: 400;
                color: #616161;
            .mat-radio-button{padding:0 1.25rem; }
        }
    }
    
    .mat-mini-fab{
        margin-left:0rem;
        background-color: #f3f0f0;
        color:#727270;
    }
    .padding-left-0{padding-left:0px!important;}
    .left-col-content-sec { @extend .gutterR2nh;
      }
    .right-col-content-sec { @extend .gutterL2nh; 
        .col.s1.m1.l1{margin-top:0.5rem;}
    }

    .extra-bottom-margin-with-checkbox{margin-bottom:0.5rem;}

    .mat-checkbox{    
        width: 100%;
        display: inline-block;
        margin-bottom: 0.7rem;
    }
    
    .select-all-chip-list{
        max-height: 8rem;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .mat-icon{cursor:pointer;     color: #828280;}
    .mat-error{margin-top:0.4rem;}
    .disabled-cls {
        opacity: 0.4;
        pointer-events: none;
        cursor: default;
    }
}

.sec-heading-with-two-col {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #ddd;
    margin-bottom: 1.25em;
    align-items: center;
    justify-content: space-between;
   
    .mat-flat-button.active-btn,
    .mat-flat-button[disabled][disabled]{margin-bottom:0.5rem;}
    .step-btn-group{
        display: inline-flex;
        justify-content: flex-end; 
        .mat-flat-button.active-btn,
        .mat-flat-button[disabled][disabled]{margin-bottom:0.5rem; margin-left:0.5rem;}
    }
}

.fixed-price-sec{}
.range-price-sec{
    display: flex;
    justify-content: space-between;
    .min-price-sec{
        width: 50%;
        display: inline-block;
        padding-right: 1rem;
        box-sizing: border-box;
    }
    .max-price-sec{
        width: 50%;
        display: inline-block;
        padding-left: 1rem;
        box-sizing: border-box;
    }
}

.add-prod-btn-sec{
    text-align: center;
    border-bottom: solid 1px #ddd;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    margin-bottom: 0.75rem;
    a{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #D11E47;
        &.active-link-btn{pointer-events: none;
        color:rgba(0,0,0,.26);}
        span{
            padding-left: 0.5rem;
            text-transform: uppercase;
            font-size: 1rem;
        }
    }
}

.associate-ordering{
    &.mat-table{
        margin-bottom: 2rem;
        .mat-header-row {
            .mat-header-cell {
                flex: auto;
                &:nth-child(1) { width:12%;
                img{    max-width: 4rem;}
            }
                &:nth-child(2) {width:16%;}
                &:nth-child(3) {width:16%;}
                &:nth-child(4) {width:22%;}
                &:nth-child(5) {width:14%;     box-sizing: border-box;
                    padding-right: 4%;}
                &:nth-child(6) {width:14%;     box-sizing: border-box;
                    padding-right: 4%;}
                &:nth-child(7) {width:6%; justify-content: center;}
            }
        }
        .mat-row {
            min-height: 5.5rem;
            background: linear-gradient(to right,#f8f8f8 65%,#fff 35%);
            .mat-cell {
                flex: auto;
                &:nth-child(1) { width:12%;
                    img{    max-width: 4rem;}
                }
                &:nth-child(2) {width:16%;}
                &:nth-child(3) {width:16%;}
                &:nth-child(4) {width:22%;}
                &:nth-child(5) {width:14%;     box-sizing: border-box;
                    padding-right: 4%;}
                &:nth-child(6) {width:14%;     box-sizing: border-box;
                    padding-right: 4%;}
                &:nth-child(7) {width:6%;     justify-content: flex-end;}
            }
        }
    }
}

.associate-prod-form-sec{
    display: flex;
    align-items: stretch;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    .associate-form-field{
        align-items: flex-start;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
        height: 100%;
        &.clear-btn{align-items: center;}
    }
}

.input-quantity{
    input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
}

.select-ondemand-method{
    .mat-radio-button{padding-right: 1.25rem; }
    .add-text-on-graphics{
        .mat-radio-label{
            .mat-radio-label-content{
                display: inline-flex;
                align-items: center;

            }
        }
    }
}
.radio-grp-sec{height:3rem;}
.max-char-limit{
    margin-top: 0.5rem;
    max-width: 11rem;
}
.reset-button-style{
    position: relative;
    .mat-mini-fab{
        margin-left:0rem;
        background-color: #f3f0f0;
        color:#727270;
        top: 22%;
        position: absolute;
    }
}
.disable-ckeditor{
    pointer-events: none;
    background: #727270;
}