@import './_variables';
@import './_mixins';
.mat-table {
    //@extend .offsetB2;
    //overflow-y: auto;
    padding-bottom:1.5rem;
    .mat-header-row {
        border-top: solid 1px #ddd;
        padding-right: 0px;
        @media screen and (max-width: $break-at-mobile-414) {
            display:none;
        }
        .mat-header-cell {
            &:nth-child(1) {
                width: 19%;
                flex: inherit;
            }
            &:nth-child(2) {
                width: 19%;
                flex: inherit;
            }
            &:nth-child(3) {
                width: 14%;
                flex: inherit;
            }
            &:nth-child(4) {
                width: 14%;
                flex: inherit;
            }
            &:nth-child(5) {
                width: 18%;
                flex: inherit;
                justify-content: flex-start;
                padding-right: 0.5rem;
            }
            &:nth-child(6) {
                width: 10%;
                flex: inherit;
            }
            &:nth-child(7) {
                width: 6%;
                flex: inherit;
                justify-content: flex-end;
                padding-right: 0px;
            }
        }
    }
    .mat-row {
        cursor: pointer;
        padding-right: 0px;
        box-shadow: 0px 1px 4px 0px #d2d1d1;
        transition: all 0.3s ease-in-out;
        &:hover {
            transition: all 0.3s ease-in-out;
            box-shadow: 0px 3px 18px 0px #d2d1d1;
        } // @media screen and (max-width: $break-at-mobile-414) {
        //     flex-wrap: wrap;
        //     width: 100%;
        // }
        .mat-cell {
            // @media screen and (max-width: $break-at-mobile-414) {
            //     position:relative;
            //     width: 100% !important;
            //     padding-left: 6rem;
            // }
            // &:before {
            //     @media screen and (max-width: $break-at-mobile-414) {
            //         position:absolute;
            //         width: 40%;
            //         left: 0;
            //         top: 50%;
            //         transform: translateY(-50%);
            //         text-transform: uppercase;
            //     }
            // }
            &:nth-child(1) {
                width: 19%;
                flex: inherit;
                &:before {
                    @media screen and (max-width: $break-at-mobile-414) {
                        content:"Name"
                    }
                }
            }
            &:nth-child(2) {
                width: 19%;
                flex: inherit;
                &:before {
                    @media screen and (max-width: $break-at-mobile-414) {
                        content:"Email"
                    }
                }
            }
            &:nth-child(3) {
                width: 14%;
                flex: inherit;
                &:before {
                    @media screen and (max-width: $break-at-mobile-414) {
                        content:"Work Phone"
                    }
                }
            }
            &:nth-child(4) {
                width: 14%;
                flex: inherit;
                &:before {
                    @media screen and (max-width: $break-at-mobile-414) {
                        content:"Role"
                    }
                }
            }
            &:nth-child(5) {
                width: 18%;
                flex: inherit;
                justify-content: flex-start;
                padding-right: 0.5rem;
                &:before {
                    @media screen and (max-width: $break-at-mobile-414) {
                        content:"Hierarchy"
                    }
                }
            }
            &:nth-child(6) {
                width: 10%;
                flex: inherit;
                &:before {
                    @media screen and (max-width: $break-at-mobile-414) {
                        content:"Status"
                    }
                }
            }
            &:nth-child(7) {
                width: 6%;
                flex: inherit;
                justify-content: flex-end;
                padding-right: 0px;
                @media screen and (max-width: $break-at-mobile-414) {
                    overflow: visible;
                }
                // &:before {
                //     // @media screen and (max-width: $break-at-mobile-414) {
                //     //     content:"Link"
                //     // }
                // }
                .mat-icon-button {
                    @media screen and (max-width: $break-at-mobile-414) {
                        margin-right:-1rem;
                    }
                }
            }
        }
    }
}

.mat-table.additionalClassAdded {
    .mat-header-row {
        .mat-header-cell {
            &:nth-child(1) {
                width: 24%;
                flex: inherit;
            }
            &:nth-child(2) {
                width: 24%;
                flex: inherit;
            }
            &:nth-child(3) {
                width: 17%;
                flex: inherit;
            }
            &:nth-child(4) {
                width: 17%;
                flex: inherit;
            }
            &:nth-child(5) {
                width: 12%;
                flex: inherit;
            }
            &:nth-child(6) {
                width: 6%;
                flex: inherit;
                justify-content: flex-end;
                padding-right: 0px;
            }
        }
    }
    .mat-row {
        .mat-cell {
            &:nth-child(1) {
                width: 24%;
                flex: inherit;
                &:before {
                    @media screen and (max-width: $break-at-mobile-414) {
                        content:"Name"
                    }
                }
            }

            &:nth-child(2) {
                width: 24%;
                flex: inherit;
                &:before {
                    @media screen and (max-width: $break-at-mobile-414) {
                        content:"Email"
                    }
                }
            }
            &:nth-child(3) {
                width: 17%;
                flex: inherit;
                &:before {
                    @media screen and (max-width: $break-at-mobile-414) {
                        content:"Work Phone"
                    }
                }
            }
            &:nth-child(4) {
                width: 17%;
                flex: inherit;
                &:before {
                    @media screen and (max-width: $break-at-mobile-414) {
                        content:"Role"
                    }
                }
            } // &:nth-child(5){width:18%; flex: inherit;}
            &:nth-child(5) {
                width: 12%;
                flex: inherit;
                &:before {
                    @media screen and (max-width: $break-at-mobile-414) {
                        content:"Status"
                    }
                }
            }
            &:nth-child(6) {
                width: 6%;
                flex: inherit;
                justify-content: flex-end;
                padding-right: 0px;
                &:before {
                    @media screen and (max-width: $break-at-mobile-414) {
                        content:""
                    }
                }
                @media screen and (max-width: $break-at-mobile-414) {
                    overflow: visible;
                }
                // &:before {
                //     // @media screen and (max-width: $break-at-mobile-414) {
                //     //     content:"Link"
                //     // }
                // }
                .mat-icon-button {
                    @media screen and (max-width: $break-at-mobile-414) {
                        margin-right:-1rem;
                    }
                }
            }
        }
    }
}

.main-container-sec {
    .store-page-content-sec {
        margin-top: -1.5rem;
        @media screen and (max-width: $break-at-mobile-414) {
            flex-wrap: wrap;
            margin-top: 0.5rem;
            margin-bottom: 1rem;
        }
        .store-order-list-content-sec.white-bg {
            width: 100%;
            background: #fff;
            border-radius: 5px;
            padding: 1.5rem 1.25rem 0rem;
            @media screen and (max-width: $break-at-mobile-414) {
                padding: 1rem 0.75rem 0rem;
            }
            .row {
                @media screen and (max-width: $break-at-mobile-414) {
                    margin-bottom:10px;
                }
                .mat-table {
                    .mat-header-row {
                        border-top: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $break-at-mobile-414) {
    //Global Table CSS
    .mat-table {
        .mat-header-row {
            display: none;
        }
        .mat-row {
            flex-wrap: wrap;
            width: 100%;
            padding: 0.875rem 0.75rem 0.25rem 0.75rem !important;
            .mat-cell {
                position: relative;
                width: 100% !important;
                padding-left: 6rem !important;
                padding-right: 0rem !important;
                display: inline-flex;
                align-items: flex-start;
                min-height: 1.5rem;
                font-weight: 400;
                font-size: 0.815rem;
                line-height: 1;
                &:before {
                    @media screen and (max-width: $break-at-mobile-414) {
                        position: absolute;
                        width: 40%;
                        left: 0;
                        top: 0.25rem;
                        text-transform: capitalize;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}