<div class="container-fluid">

  <div [ngClass]="!util.isStore ? 'page-content-wrapper-sec client-store-user-list-page-cls' : 'main-container-sec'">
    <!-- Below code is used for Store User List Page -->
    <div class="common-header-sec" *ngIf="util.isStore">
      <div class="store-header-overlay dy-header-color"></div>
      <div class="common-header-tab-sec">
        <div class="cmn-hdr-title-sec">
          Store User List
        </div>
        <div class="button-group-in-heading-sec relative-sec-cls">
          <app-filter-box [data]="{showFilter: true, categories : filterCat, values : filterValues}"
            (filterChange)="onChangeFilter($event)"></app-filter-box>
        </div>
      </div>
    </div>

    <!-- Below code is used forStore User List of Admin Sec -->
    <div class="content-heading-sec" *ngIf="!util.isStore">
      <div class="page-heading-sec">
        <h2>Store User List
          <span class="total-record-cls">(Total {{totalRecords}} records)</span>
        </h2>
      </div>
      <div class="button-group-in-heading-sec relative-sec-cls">
        <app-filter-box [data]="{showFilter: true, categories : filterCat, values : filterValues}"
          (filterChange)="onChangeFilter($event)"></app-filter-box>
      </div>
    </div>
    <div class="store-page-content-sec s-order-list-page">
      <div class="white-bg" [ngClass]="!util.isStore ? 'page-content-sec' : 'store-order-list-content-sec'">
        <!-- <div class="container-fluid">
      <div class="page-content-sec"> -->
        <div class="row">
          <div infiniteScroll [infiniteScrollDistance]="1" debounce [infiniteScrollThrottle]="300"
            (scrolled)="onScroll()" [infiniteScrollUpDistance]="2">
            <mat-table [dataSource]="dataSource" matSort class="responsive-table" [hidden]="!noRecords"
              [ngClass]="hierarchyLabelName == '' ? 'additionalClassAdded': ''">
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> NAME</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
              </ng-container>

              <!-- Email Column -->
              <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header> EMAIL </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
              </ng-container>

              <!-- Work Phone Column -->
              <ng-container matColumnDef="workPhone">
                <mat-header-cell *matHeaderCellDef> WORK PHONE </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.workPhone | phoneNumber}} </mat-cell>
              </ng-container>

              <!-- Role Column -->
              <ng-container matColumnDef="roles">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ROLE </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span *ngIf="element.role">{{element.role}} </span>
                  <span *ngIf="!element.role">&mdash;</span>
                </mat-cell>
              </ng-container>

              <!-- Hierarchy Column -->
              <ng-container matColumnDef="hierarchy" *ngIf="hierarchyLabelName != ''">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{hierarchyLabelName}} </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span *ngIf="element.hierarchy != ''">{{element.hierarchy}}</span>
                  <span *ngIf="element.hierarchy == ''">&mdash; </span>
                </mat-cell>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header> STATUS </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <!-- <span [ngClass]="element.status == 'ACTIVE' ? 'active-status' : 'inactive-status'">{{element.status}}</span> -->
                  <span
                    [ngClass]="element.status == 'ACTIVE' ? 'active-status' : element.status == 'INACTIVE' ? 'inactive-status' : element.status == 'VERIFICATION_PENDING' ? 'not-verified-status' : 'locked-status' ">{{element.status
                    == 'VERIFICATION_PENDING' ? 'NOT VERIFIED' : element.status}}</span>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="link">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">

                  <button id="link" [matMenuTriggerFor]="menu" mat-icon-button>
                    <mat-icon aria-label="">
                      <i id="link" class="material-icons three-dots-icon">more_vert</i>
                    </mat-icon>
                    <mat-menu #menu="matMenu" y-position="below" [overlapTrigger]="false">
                      <button mat-menu-item *ngIf="element.status == 'ACTIVE'"
                        (click)="changeStatus('INACTIVE', element)">Mark Inactive</button>
                      <button mat-menu-item *ngIf="element.status == 'INACTIVE' || element.status == 'VERIFICATION_PENDING'"
                        (click)="changeStatus('ACTIVE', element)">Mark Active</button>
                      <button mat-menu-item *ngIf="element.status == 'LOCKED'"
                        (click)="changeStatus('LOCKED', element)">Unlock User
                      </button>
                      <button mat-menu-item *ngIf="element.status == 'VERIFICATION_PENDING'"
                        (click)="resendEmailVerification('VERIFICATION_PENDING', element)">Resend Email
                      </button>
                      <button mat-menu-item (click)="cloneUser(element.id)">Clone Profile</button>
                    </mat-menu>
                  </button>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick($event, row.id)"></mat-row>

            </mat-table>

            <div class="" *ngIf="noRecords">
              <mat-card>
                <div class="center">No Records Found</div>
              </mat-card>
            </div>

          </div>



          <div class="add-user-btn-sec" *ngIf="!util.isStore">
            <button mat-fab routerLink="/client-store-users/add">
              <i class="material-icons">add</i>
            </button>
          </div>
          <div class="add-user-btn-sec2" *ngIf="util.isStore">
            <button class="dy-action-btn-color" mat-fab routerLink="/client-store-users/add">
              <i class="material-icons">add</i>
            </button>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>