<div class="container-fluid">
  <div class="login-page-cls">
    <div class="login-pg-informative-sec">
      <h1>We Are Sparks</h1>
      <span>A Global Brand Experience Agency</span>
    </div>
    <div class="login-pg-sign-in-sec">
      <div class="sign-in-sec">
        <div class="main-logo-sec">
          <img src="../assets/images/Sparks-Link-Logo-login.png" alt="">
          <!--<img src="../assets/images/logo.png" alt="" />-->
        </div>
        <div class="sign-in-google-sec">
          <div class="g-signin2" data-onsuccess="onSignIn" id="sparksLink-signin"></div> 
        </div>
      </div>
    </div>
  </div>
</div>
