<div class="row">
  <form #placeOrderForm="ngForm">
    <div class="col s12 m6 l6 padding-l-0">
      <div class="left-col-content-sec">
        <mat-form-field [class.order-detail-page-con-sec]="util.isStore">
          <input matInput placeholder="Order Date" [value]="data.orderDate" disabled>
        </mat-form-field>

        <mat-form-field *ngIf="!util.isStore" [class.order-detail-page-con-sec]="util.isStore">
          <input matInput placeholder="AMP Project#" maxlength="8" name="ampProjectnum" class="form-control"
            [disabled]="data.orderStatus != 'PLACED' && data.orderStatus != 'CONFIRMED'" [(ngModel)]="data.ampProjectNo"
            #ampProjectnum=ngModel [pattern]="appConstant.wholeNumberRegEx" required />
          <mat-hint *ngIf="ampProjectnum.errors?.pattern" class="alert alert-danger">
            {{appMessage.U0054}}
          </mat-hint>
          <mat-hint *ngIf="ampProjectnum.errors?.required && (ampProjectnum.touched || !isFormValid)"
            class="alert alert-danger">
            {{appMessage.U0096}}
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="col s12 m6 l6 padding-r-0">
      <div class="right-col-content-sec">
        <mat-form-field [class.order-detail-page-con-sec]="util.isStore">
          <input matInput placeholder="Requestor Name" [value]="data.requestorName" disabled>
        </mat-form-field>
        <mat-form-field *ngIf="!util.isStore" [class.order-detail-page-con-sec]="util.isStore">
          <input matInput placeholder="Work Order Task#" maxlength="6" name="workOrderNum" class="form-control"
            [disabled]="(data.orderStatus != 'PLACED' && data.orderStatus != 'CONFIRMED') || util.isStore"
            [(ngModel)]="data.workOrderTaskNo" #workOrderNum=ngModel required />
          <mat-hint *ngIf="workOrderNum.errors?.required && (workOrderNum.touched || !isFormValid)"
            class="alert alert-danger">
            {{appMessage.U0097}}
          </mat-hint>
        </mat-form-field>
      </div>

    </div>
  </form>
  <div class="col s12 m12 l12 padding-l-0 padding-r-0">
    <mat-form-field [class.ta-order-detail-page-con-sec]="util.isStore">
      <textarea cdkTextareaAutosize matInput placeholder="Order Notes" maxlength="2000" name="otherNotes"
        [(ngModel)]="data.notes"
        [disabled]="(data.orderStatus != 'PLACED' && data.orderStatus != 'CONFIRMED') || util.isStore">
        </textarea>
    </mat-form-field>
  </div>

</div>

<div class="row">
  <table mat-table [dataSource]="dataSource" class="manage-order-detail-table">
    <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

    <!-- Product Column -->
    <ng-container matColumnDef="productNumber">
      <mat-header-cell *matHeaderCellDef> PRODUCT ID</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span *ngIf="!element.isNew"> {{element.productNumber}} </span>
        <mat-form-field *ngIf="element.isNew">
          <input matInput placeholder="PRODUCT ID" name="productNum" (click)="openSelectProductPopup()" readonly />
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Product Name Column -->
    <ng-container matColumnDef="productName">
      <mat-header-cell *matHeaderCellDef> PRODUCT NAME </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span *ngIf="!element.isNew">
          <span *ngIf="element.productName">{{element.productName}} </span>
          <span *ngIf="!element.productName">&mdash;</span>
        </span>
        <mat-form-field *ngIf="element.isNew">
          <input matInput placeholder="PRODUCT NAME" name="productName" (click)="openSelectProductPopup()" readonly />
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="categories">
      <mat-header-cell *matHeaderCellDef> CATEGORY </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span *ngIf="element.categories">{{element.categories}} </span>
        <span *ngIf="!element.categories">&mdash;</span>
      </mat-cell>
    </ng-container>

    <!-- Order Quantity Column -->
    <ng-container matColumnDef="orderedQuantity">
      <mat-header-cell *matHeaderCellDef> ORDER QUANTITY </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span *ngIf="!element.isEdit">{{element.orderedQuantity}}</span>
        <div *ngIf="element.isEdit">
          <app-quantity [data]="element"></app-quantity>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="link" *ngIf="!util.isStore">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">

        <button mat-icon-button *ngIf="!element.isNew && !element.isEdit" [matMenuTriggerFor]="menu" id="link">
          <mat-icon aria-label="">
            <i id="link" class="material-icons three-dots-icon">more_vert</i>
          </mat-icon>
          <mat-menu #menu="matMenu" [overlapTrigger]="false" xPosition="before">
            <button mat-menu-item class="small-menu-item-btn" [disabled]="checkDisabled() || util.isStore"
              (click)="editQuantity(element)">Edit</button>
            <button mat-menu-item class="small-menu-item-btn" [disabled]="checkDisabled() || util.isStore"
              (click)="deleteProduct(element)">Delete</button>
          </mat-menu>
        </button>
        <button mat-icon-button *ngIf="element.isEdit" class="done-btn" (click)="updateQuantity(element)">
          <mat-icon matSuffix>done</mat-icon>
        </button>
        <button mat-icon-button *ngIf="element.isEdit" (click)="close(element)">
          <mat-icon matSuffix>close</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="read-only-table-row" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
  <!-- additional row is added to show the add new product column -->
  <div class="add-productbtn-sec" *ngIf="!util.isStore && !checkDisabled()">
    <button mat-menu-item [disabled]="isProductDialogOpen || isNewProduct" (click)="addNewProduct()"> + ADD
      PRODUCT</button>
  </div>
  <!-- <div class="" *ngIf="noRecords">
    <mat-card>
      <div class="center">No Records Found</div>
    </mat-card>
  </div> -->
</div>
<div class="row order-tabbing-content-sec relative">
  <button (click)="updateEventShipping()" [disabled]="util.disableSaveBtnOnOrder" *ngIf="!checkDisabled()"
    mat-flat-button class="mat-primary ship-save" [class.active-btn]="!util.disableSaveBtnOnOrder">SAVE</button>

  <mat-tab-group *ngIf="data.orderDate && modulesData.length>0" class="order-tab">

    <!-- <mat-tab class="tab-content-sec" label="Services" *ngIf="data.fixedServiceInfos.length>0">
      <div class="row">
        <div class="store-card-layout">
          <div class="title-sec-card-content dy-body-txt-color">Services</div>
          <div class="common-details-row" *ngFor="let serviceData of data.fixedServiceInfos">
            <div class="subheading-cls"> {{serviceData.title}}</div>
            
            <div class="common-details-row common-details-row-loop"
              *ngFor="let customFields of serviceData.fixedServiceInfoDetails">
              <div class="common-detail-cell common-detail-label font-bold">
                {{customFields.fieldLabel}}</div>
              <div class="common-detail-cell">{{customFields.fieldValue}}</div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab> -->

    <mat-tab label="Service Details"
      *ngIf="data.serviceInfoDetails && data.serviceInfoDetails.customFieldValues.length>0">
      <div class="row">
        <div class="store-card-layout">
          <div class="service-value-sec">
            <div *ngFor="let sTitle of serviceCustomFields;let i = index;">

              <div *ngIf="sTitle.fieldDetails.length > 0" class="row" id="title{{i}}">
                <div class="title-sec-card-content dy-body-txt-color">
                  {{i + 1}}. {{sTitle.serviceTitleName}}
                </div>
                <div *ngFor="let field of sTitle.fieldDetails" class="detail-sec-card-content dy-body-txt-color">
                  <div class="service-description-sec dy-body-txt-color">
                    {{field.description}}
                    <span *ngIf="field.isRequired"
                      class="mat-placeholder-required mat-form-field-required-marker">*</span>
                  </div>
                  <div class="service-value-sec dy-body-txt-color">
                    <app-dynamic-input-field [field]="field" obj="serviceDetails" [type]="Enum.Manage_Order">
                    </app-dynamic-input-field>
                  </div>

                  <div class="service-description-sec" *ngIf="field.value">
                    <app-display-linked-fields [field]="field" obj="serviceDetails" [type]="Enum.Manage_Order">
                    </app-display-linked-fields>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab class="tab-content-sec" label="Event Details" *ngIf="data.eventDetails">
      <div>
        <div class="row" #events>
          <div class="store-card-layout">
            <div class="title-sec-card-content dy-body-txt-color">Event Details</div>
            <div class="service-value-sec">
              <div class="ser-field-two-col" *ngFor="let field of eventDetailsField">
                <app-dynamic-input-field [field]="field" obj="eventDetails" [type]="Enum.Manage_Order">
                </app-dynamic-input-field>
                <div class="service-description-sec" *ngIf="field.value">
                  <app-display-linked-fields [field]="field" obj="eventDetails" [type]="Enum.Manage_Order">
                  </app-display-linked-fields>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>


      <!-- for event custom field -->
      <!-- <div class="row" *ngIf=" data.eventDetails.customFields?.length > 0">
        <div class="val-sec" *ngFor="let item of data.eventDetails.customFields">
          <h4>{{item.fieldLabel}}:</h4>
          <p>{{item.fieldValue}}</p>
        </div>
      </div> -->

    </mat-tab>

    <mat-tab label="Shipping Details" *ngIf="data.shipmentDetails">
      <!-- for shipment static field -->
      <!-- <div class="row" *ngIf="data.shipmentDetails.staticFields?.length>0">
        <div class="val-sec"><label>Name:</label> <span>{{staticShipmentDetails.name}}</span></div>
        <div class="val-sec"><label>Arrival Date:</label><span>{{staticShipmentDetails.startDate}}</span></div>
        <div class="val-sec" *ngIf="staticShipmentDetails.venue"><label>Location:</label><span>{{staticShipmentDetails.venue}}</span></div>
        <div class="val-sec" *ngIf="staticShipmentDetails.arrivalTime"><label>Arrival Time:</label> <span>{{staticShipmentDetails.arrivalTime}}</span></div>
        <div class="address-sec-in-tab"><label>Address:</label>
          <p>{{staticShipmentDetails.address1}}</p>
          <p *ngIf="staticShipmentDetails.address2">{{staticShipmentDetails.address2}}</p>
          <p>{{staticShipmentDetails.cityStateZip}}</p>
          <p>{{staticShipmentDetails.country}}</p>
        </div>
      </div> -->

      <!-- for shipment custom field -->
      <!-- <div class="row" *ngIf=" data.shipmentDetails.customFields?.length > 0">
        <div class="val-sec" *ngFor="let item of data.shipmentDetails.customFields">
          <h4>{{item.fieldLabel}}:</h4>
          <p>{{item.fieldValue}}</p>
        </div>
      </div> -->

      <div class="row" #shipments>
        <div class="store-card-layout">
          <div class="title-sec-card-content dy-body-txt-color">Shipment Details
          </div>
          <div class="service-value-sec">
            <div class="ser-field-two-col" *ngFor="let field of shipmentDetailFields">
              <app-dynamic-input-field [field]="field" obj="shipmentDetails" [type]="Enum.Manage_Order">
              </app-dynamic-input-field>
              <div class="service-description-sec" *ngIf="field.value">
                <app-display-linked-fields [field]="field" obj="shipmentDetails" [type]="Enum.Manage_Order">
                </app-display-linked-fields>
              </div>
            </div>

          </div>
        </div>
      </div>

    </mat-tab>



    <mat-tab label="Pick Up Details" *ngIf="data.pickupDetails">
      <!-- for pickUp static field -->
      <!-- <div class="row" *ngIf="data.pickupDetails.staticFields?.length>0">
        <div class="val-sec"><label>Name:</label> <span>{{staticPickupDetails.name}}</span></div>
        <div class="val-sec"><label>Pick Up Date:</label><span>{{staticPickupDetails.startDate}}</span></div>
        <div class="val-sec" *ngIf="staticPickupDetails.venue"><label>Location:</label><span>{{staticPickupDetails.venue}}</span></div>
        <div class="val-sec" *ngIf="staticPickupDetails.pickupTime"><label>PickUp Time:</label> <span>{{staticPickupDetails.pickupTime}}</span></div>
        <div class="address-sec-in-tab"><label>Address:</label>
          <p>{{staticPickupDetails.address1}}</p>
          <p *ngIf="staticPickupDetails.address2">{{staticPickupDetails.address2}}</p>
          <p>{{staticPickupDetails.cityStateZip}}</p>
          <p>{{staticPickupDetails.country}}</p>
        </div>
      </div> -->

      <!-- for pickUp custom field -->
      <!-- <div class="row" *ngIf=" data.pickupDetails.customFields?.length > 0">
        <div class="val-sec" *ngFor="let item of data.pickupDetails.customFields">
          <h4>{{item.fieldLabel}}:</h4>
          <p>{{item.fieldValue}}</p>
        </div>
      </div> -->


      <div class="row" #pickups>
        <!-- {{ pickupDetailsFields | json}} -->
        <div class="store-card-layout">
          <div class="title-sec-card-content dy-body-txt-color">Pickup Details
          </div>

          <div class="service-value-sec">
            <div class="ser-field-two-col" *ngFor="let field of pickupDetailsFields">
              <app-dynamic-input-field [field]="field" obj="pickupDetails" [type]="Enum.Manage_Order">
              </app-dynamic-input-field>
              <div class="service-description-sec">
                <app-display-linked-fields [field]="field" obj="pickupDetails" [type]="Enum.Manage_Order">
                </app-display-linked-fields>
              </div>
            </div>

          </div>
        </div>
      </div>

    </mat-tab>
    <!-- for Additional Tab field Sec-->
    <mat-tab label="Additional Information" *ngIf="data.additionalInfoDetails.customFieldValues.length>0">
      <!-- <div class="row">
          <div class="val-sec" *ngFor="let item of data.additionalInfoDetails">
              <h4>{{item.fieldLabel}}:</h4>
              <p>{{item.fieldValue}}</p>
            </div>
      </div> -->
      <!-- {{additionalInfoDetails | json}} -->
      <div class="row" #additionals>
        <div class="store-card-layout">
          <div class="title-sec-card-content dy-body-txt-color">Additional Info</div>
          <div class="service-value-sec alignment-issue-cls">
            <div class="ser-field-two-col" *ngFor="let field of additionalInfoDetailFields">
              <app-dynamic-input-field [field]="field" obj="additionalInfoDetails" [type]="Enum.Manage_Order">
              </app-dynamic-input-field>
              <div class="service-description-sec" *ngIf="field.value">
                <app-display-linked-fields [field]="field" obj="additionalInfoDetails" [type]="Enum.Manage_Order">
                </app-display-linked-fields>
              </div>
            </div>

          </div>
        </div>
      </div>

    </mat-tab>

    <!-- Adding On Demand Graphics Tab -->
    <!-- Demand Graphics Tab -->
    <mat-tab label="On Demand Graphics" *ngIf="data.productInfoWithGraphicsList.length>0">

      <div class="row">
        <div class="store-card-layout">
          <div class="title-sec-card-content dy-body-txt-color">On Demand Graphics Details</div>

          <div class="service-value-sec alignment-issue-cls">
            <div class="ser-field-one-col">

              <table mat-table [dataSource]="onDemandDataSource" class="on-demand-graphics-table"
                [class.store-on-demand]="util.isStore">

                <!-- Graphics ID -->
                <ng-container matColumnDef="productNumber">
                  <mat-header-cell *matHeaderCellDef> PRODUCT ID </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <span>
                      {{element.productNumber}}
                    </span>
                  </mat-cell>
                </ng-container>

                <!-- Graphics Name -->
                <ng-container matColumnDef="productName">
                  <mat-header-cell *matHeaderCellDef> PRODUCT NAME </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <span> {{element.productName}}</span>
                  </mat-cell>
                </ng-container>

                <!-- Graphics Text / Detail -->
                <ng-container matColumnDef="onDemandTextGraphic">
                  <mat-header-cell *matHeaderCellDef> Graphics Text/Uploaded File </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <span *ngIf="!element.fileName && editRow.rowId != element.id"
                      [innerHtml]="element.onDemandTextGraphic"> </span>

                    <a href="javascript: void(0);"
                      (click)="sharedService.openOnDemandFile(element); sharedService.downloadOnDemandFile(element)"
                      *ngIf="element.fileName && editRow.rowId != element.id"><span> {{element.fileName}} </span>
                    </a>
                    <!-- No more in used to download image -->
                    <!-- <a href="javascript: void(0);" (click)="sharedService.downloadOnDemandFile(element)"
                    *ngIf = "element.fileName && editRow.rowId != element.id" ><span>
                       <i class="material-icons">cloud_download</i> 
                      </span>
                   </a>  -->

                    <span class="editable-txt-sec"
                      *ngIf="editRow.rowId == element.id && editRow.isOnDemandProdEditable && element.onDemandTextGraphic">
                      <ckeditor class="on-demand-product-text-ckeditor" name="editor1" debounce="500"
                        [(ngModel)]="element.onDemandTextGraphic" #editor1="ngModel" language="en"
                        [config]="util.ckEditorBaseConfigDescription">
                      </ckeditor>
                    </span>
                    <span class="editable-txt-sec"
                      *ngIf="editRow.rowId == element.id && editRow.isOnDemandProdEditable && element.fileName">
                      <input accept="image/*" type="file" (change)="changeGraphicFile($event,element)" />
                    </span>

                  </mat-cell>
                </ng-container>

                <!-- Actionable Link -->
                <ng-container matColumnDef="link" *ngIf="!util.isStore">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <!-- Edit Button -->
                    <button mat-menu-item class="small-menu-item-btn edit-btn" [disabled]="checkDisabled()"
                      *ngIf="!checkDisabled() && editRow.rowId !== element.id" (click)="editGraphicsText(element)">
                      <mat-icon class="edit-btn-cus">
                        <i id="link" class="material-icons edit-icons">edit</i>
                      </mat-icon>
                      Edit
                    </button>
                    <!-- Enable button once the row is editable -->
                    <span *ngIf="editRow.rowId == element.id && editRow.isOnDemandProdEditable">
                      <button mat-icon-button class="done-btn" (click)="updateOnDemandText(element)">
                        <mat-icon matSuffix>done</mat-icon>
                      </button>
                      <button mat-icon-button (click)="cancelOnDemandProdEditable(element)">
                        <mat-icon matSuffix>close</mat-icon>
                      </button>
                    </span>

                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="onDemandDisplayedColumns"></mat-header-row>
                <mat-row class="read-only-table-row" *matRowDef="let row; columns: onDemandDisplayedColumns;"></mat-row>
              </table>

            </div>
          </div>

        </div>
      </div>

    </mat-tab>

    <mat-tab label="Payment Details" *ngIf="clientSettings.creditCardPayment">
      <div class="row" #payment>
        <div class="store-card-layout">
          <div class="title-sec-card-content dy-body-txt-color">Payment Details</div>
          <div class="common-details-row" *ngIf="data.cardInfo && data.creditDetails">
            <div class="card-detail-info">
              <div class="card-input">
                <mat-form-field>
                  <input matInput placeholder="Name on Card" [value]="data.creditDetails.name" name="nameOnCard"
                    readonly />
                </mat-form-field>
              </div>
              <div class="card-input">
                <mat-form-field>
                  <input matInput placeholder="Card Number" *ngIf="!isCreditCardAdmin && !util.isStore"
                    value="**** **** **** ****" name="cardNum1" readonly />
                  <input matInput placeholder="Card Number" *ngIf="isCreditCardAdmin && !util.isStore"
                    [value]="data.creditDetails.number" name="cardNum3" readonly />
                  <input matInput placeholder="Card Number"
                    *ngIf="util.isStore && (data.cardInfo.requestorId != common.storeUserInfo.value.id)"
                    value="**** **** **** ****" name="cardNum3" readonly />
                  <input matInput placeholder="Card Number"
                    *ngIf="util.isStore && (data.cardInfo.requestorId == common.storeUserInfo.value.id)"
                    [value]="data.creditDetails.number" name="cardNum2" readonly />


                  <mat-icon class="click-to-see" matSuffix *ngIf="isCreditCardAdmin" (click)="getCreditCardNumber()">
                    {{!isCardNumberVisible ? 'visibility_off' : 'visibility' }}
                  </mat-icon>
                </mat-form-field>
              </div>
              <div class="card-input">
                <mat-form-field>
                  <input matInput placeholder="Expiry Date" [value]="data.creditDetails.expiryDate" name="validTill"
                    readonly />
                    <!-- <mat-icon matSuffix>date_range</mat-icon> -->
                </mat-form-field>
              </div>

              <div class="card-input" *ngIf="isCreditCardAdmin" [class.add-role]="isCreditCardAdmin">
                <mat-form-field>
                  <input matInput placeholder="CVV" [value]="data.creditDetails.cvv" name="cvv" readonly />
                </mat-form-field>
              </div>

            </div>

          </div>

          <div *ngIf="!data.cardInfo">
            No details available!
          </div>
        </div>
      </div>

    </mat-tab>

  </mat-tab-group>
</div>