<div class="container-fluid">

  <div class="page-content-wrapper-sec add-user-page-cls">

    <div class="content-heading-sec">
      <div class="page-heading-sec">
        <h2>Client
          <span class="total-record-cls">(Total {{totalRecords}} records)</span>
        </h2>
      </div>

      <div class="button-group-in-heading-sec relative-sec-cls">
        <app-filter-box [data]="{showFilter: true, categories : filterCat, values : filterValues}" (filterChange)="onChangeFilter($event)"></app-filter-box>
      </div>
    </div>

    <div class="container-fluid">
      <div class="page-content-sec">
        <div class="row">
          <div infiniteScroll [infiniteScrollDistance]="1" debounce [infiniteScrollThrottle]="300" (scrolled)="onScroll()"
            [infiniteScrollUpDistance]="2">
            <mat-table [dataSource]="dataSource" matSort class="" [hidden]="!noRecords">

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> NAME</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
              </ng-container>

              <!-- SignUp Column -->
              <ng-container matColumnDef="signUpModule">
                <mat-header-cell *matHeaderCellDef mat-sort-header> SignUp Module </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span *ngIf="element.signUpModule">{{element.signUpModule}} </span>
                  <span *ngIf="!element.signUpModule">&mdash;</span>
                </mat-cell>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header> STATUS </mat-header-cell>
                <mat-cell *matCellDef="let element"> <span [ngClass]="element.status == 'Active' ? 'active-status' : 'inactive-status'">{{element.status}}</span></mat-cell>
              </ng-container>

              <ng-container matColumnDef="link">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">

                  <button mat-icon-button id="link" [matMenuTriggerFor]="menu">
                    <mat-icon aria-label="" ><i id="link" class="material-icons three-dots-icon">more_vert</i></mat-icon>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item *ngIf="element.status == 'Active'" (click)="changeStatus(0, element)">Mark
                        Inactive</button>
                      <button mat-menu-item *ngIf="element.status == 'InActive'" (click)="changeStatus(1, element)">Mark
                        Active
                      </button>
                    </mat-menu>
                  </button>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick($event, row.id)"></mat-row>
            </mat-table>
            <div class="" *ngIf="noRecords">
              <mat-card>
                <div class="center">No Records Found</div>
              </mat-card>
            </div>
          </div>

          <div class="add-user-btn-sec">
            <button mat-fab (click)="onAddBtnClick()"><i class="material-icons">add</i></button>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>