<div class="container-fluid">
  <div class="main-container-sec">
    <div class="common-header-sec">
      <div class="store-header-overlay dy-header-color"></div>

      <div class="common-header-tab-sec">
        <div class="cmn-hdr-title-sec">
          Help & Resource
        </div>
      </div>

    </div>

    <div class="store-page-content-sec s-order-list-page">
      <div class="white-bg store-order-list-content-sec">
        
        <div class="store-page-heading">
          <div class="dsbrd-left-hdng-sec dy-body-txt-color"></div>
          <div class="dsbrd-right-hdng-sec">
            <button mat-flat-button class="dy-action-btn-color mat-primary" (click) = "goBack()">Back</button>
          </div>
        </div>

        <div class="row">

          <mat-table [dataSource]="dataSource" class="responsive-table" [hidden]="!noRecords">
            <!-- Name Column -->
            <ng-container matColumnDef="resourceName">
              <mat-header-cell *matHeaderCellDef>RESOURCE NAME</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.resourceName}} </mat-cell>
            </ng-container>

            <!-- <ng-container matColumnDef="link">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let element">
  
                    <button [matMenuTriggerFor]="menu" mat-icon-button>
                      <mat-icon aria-label="" >
                        <i class="material-icons three-dots-icon">more_vert</i>
                      </mat-icon>
                      <mat-menu #menu="matMenu" y-position="below" [overlapTrigger]="false">
                        <button mat-menu-item (click)="downloadFile(element.id)">Download</button>
                      </mat-menu>
                    </button>
                  </mat-cell>
                </ng-container> -->

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="downloadFile(row.id)"></mat-row>

          </mat-table>

          <div class="" *ngIf="noRecords">
            <mat-card>
              <div class="center">No Records Found</div>
            </mat-card>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>