@import './_variables';
@import './_mixins';

.mat-expansion-panel-header{ 
    background: #ffffff; 
    text-transform: uppercase;
    padding: 0 18px;
    &:focus{background: #edf8ff!important;}
    &:hover{background: #edf8ff!important;}
}
.mat-expansion-panel-header.mat-expanded{background: #edf8ff!important;}


.mat-expansion-panel-header-title{
    align-items: center;
    
    span{
        @extend .accordian-heading;
        margin-right: 0.75rem;
        line-height: 1;
        min-width:10rem;
        font-weight: 400;
    }
}

.mat-expansion-panel-header-description{
    margin-right:0px;
    justify-content: flex-end;

    .mat-icon{
        background: #1c57b7;
        color: #fff;
        border-radius: 3px;
    }

    
}

.max-width-binding-cls{max-width:30%;}

i.info-sec{    font-weight: 300;
    font-size: 0.875rem;}