@import './_variables';
@import './_mixins';

.warehouse-pg-con-sec{
    display: flex;
    justify-content: space-between;

    .card-view-layout{    
        background: #fff;
        padding: 40px 2rem;
        width: 40%;
        box-sizing: border-box;
        height: calc(100vh - 150px);

        h5{
            @extend .subheading;
            @extend .offsetB1;
        }

        .mat-table{
            overflow: auto;
            max-height: calc(100vh - 22.53rem);
            margin-bottom: 0.4rem;
            padding-right: 0.4rem;
            .mat-header-row{

                position: sticky;
                top: 0px;
                background: #fff;
                z-index: 7;

                .mat-header-cell{

                    &:nth-child(1){width:75%; flex: inherit; }
                    &:nth-child(2){width:25%; flex: inherit; justify-content: flex-end; padding-right:0px;}
                }
                
            }
            .mat-row{
                background: $grid-bg-color-f8f8f8;
                padding-right:0px;
                box-shadow: none!important;
                // box-shadow: 0px 1px 4px 0px #d2d1d1;
                // transition: all 0.3s ease-in-out;
                // &:hover {
                //     transition: all 0.3s ease-in-out;
                //     box-shadow: 0px 3px 18px 0px #d2d1d1;
                // }

                .mat-cell{
                    text-transform: none;
                    // display:inline-block;

                    &:nth-child(1){width:82%; flex: inherit;
                        @media screen and (max-width: $break-at-desktop) {
                            width:78%;
                        }
                    }
                    &:nth-child(2){width:18%; flex: inherit; justify-content: flex-end; padding-right:0px;
                        @media screen and (max-width: $break-at-desktop) {
                            width:22%;
                        }
                    }
                }
                // .mat-cell:first-letter{text-transform: uppercase;}
            }
        }
        .click-to-add-warehouse-detail{

            box-shadow: 0 4px 5px 0 rgb(248, 248, 248), 0 1px 10px 0 rgb(248, 248, 248), 0 2px 4px -1px rgb(248, 248, 248);

            a{
                cursor:pointer;
                margin: 0px;
                display: inline-flex;
                align-items: center;
                min-height:3.25rem;
                font-size: 0.875rem;
                font-weight: 400;
                color: #4D89F7;
                padding:0rem 1rem;
                box-sizing: border-box;
                text-transform: uppercase;
            }
            
        }
        .add-warehouse-detail-sec{

            .add-warehouse-input-sec{
                padding:0.5rem 1rem 0rem;
                box-sizing: border-box;
                border-radius: $border-radius-4;
                box-shadow: 0 4px 5px 0 rgb(248, 248, 248), 0 1px 10px 0 rgb(248, 248, 248), 0 2px 4px -1px rgb(248, 248, 248);
            }

            .warehouse-pg-button-group{
                display: inline-flex; 
                justify-content: flex-end;
                width:100%;
                @extend .offsetT1;
                
                .active-btn {
                    @extend .offsetL04;
                    
                }
            }
        }

        .warehouse-pg-button-group{
            display: inline-flex; 
            width:100%; 
            justify-content: flex-end;
            margin-top: 5px;
            .mat-mini-fab{    margin: 0 0.25rem;
                background: none;
                color: #707070;
            }
            .transparent-btn.popup-sec-btn, .active-btn.popup-sec-btn{margin-right:0px;}
            .transparent-btn.popup-sec-btn, .active-btn.popup-sec-btn{margin-left:5px;}
            .active-btn.popup-sec-btn{
                @extend .button-shadow;
            }
        }
        
    }
    .warehouse-content-img-sec{
        width: 60%;
        padding: 0rem 5rem;
        box-sizing: border-box;
        align-items: center;
        display: inline-flex;

        img{float:left; width:100%;}
    }
}

.editable-warehouse-field-sec{width:100%;

}