<div class="container-fluid">
    <div class="main-container-sec">

        <!-- Below code is used to call the global store header section -->

        <!-- Below code is used to call the store header tabbing section -->
        <div class="common-header-sec">
            <div class="store-header-overlay dy-header-color"></div>

            <div class="common-header-tab-sec">
                <div class="cmn-hdr-title-sec">
                    <!-- Store Dashboard -->Dashboard
                </div>
            </div>

        </div>

        <!-- Below code is used to call the store left and right content section -->
        <div class="store-page-content-sec s-dashboard-page" *ngIf="common.storeClientInfo">
            <!-- NOTE: In case of removing left section, please add a class name extended-width in right section div-->
            <div class="store-page-left-content-sec" *ngIf="common.storeClientInfo.isEventEnable || isStoreAdmin">
                <!-- <div class="store-page-left-content-sec"> -->
                <div class="btn-tab-sec">

                    <div class="usr-event-tab-icon-sec tab-bg-color-cls dy-action-btn-color" *ngIf="common.storeClientInfo.isEventEnable"
                        routerLink="/eventcalendar">
                        <div class="tab-bg-img-sec-cls">
                            <div class="tab-btn-title-sec">
                                <aside><img src="../assets/images/dshbrd-event-tab-icon.svg"></aside>
                                <p>Event<span>Calendar</span></p>
                            </div>

                            <!-- <div class="tab-btn-sec">
                                <button (click)="openAddEventPopup()" type="button" mat-mini-fab class="">
                                    <mat-icon class="mini-fab-btn"><i class="material-icons dy-btn-color">add</i></mat-icon>
                                </button>
                            </div> -->
                        </div>
                    </div>
                    <div class="usr-mngmt-tab-icon-sec tab-bg-color-cls dy-action-btn-color" *ngIf="isStoreAdmin" routerLink="/client-store-users">
                        <div class="tab-bg-img-sec-cls">
                            <div class="tab-btn-title-sec">
                                <aside><img src="../assets/images/dshbrd-usr-mngmt-tab-icon.svg"></aside>
                                <p>User<span>Management</span></p>
                            </div>
                            <!-- <div class="tab-btn-sec">
                                <button type="button" mat-mini-fab class="">
                                    <mat-icon class="mini-fab-btn"><i class="material-icons dy-btn-color">add</i></mat-icon>
                                </button>
                            </div> -->
                        </div>
                    </div>
                    <!-- <div class="usr-mngmt-tab-icon-sec tab-bg-color-cls dy-action-btn-color" routerLink="/helpresource">
                        <div class="tab-bg-img-sec-cls">
                            <div class="tab-btn-title-sec">
                                <aside><img src="../assets/images/dshbrd-help-resource-tab-icon.svg"></aside>
                                <p>Help &<span> Resources</span></p>
                            </div>

                        </div>
                    </div> -->

                    <div class="usr-mngmt-tab-icon-sec tab-bg-color-cls dy-action-btn-color" *ngIf="isViewReport" routerLink="/storereport">
                        <div class="tab-bg-img-sec-cls">
                            <div class="tab-btn-title-sec">
                                <aside><img src="../assets/images/dshbrd-help-resource-tab-icon-old.svg"></aside>
                                <p>View<span>Report</span></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="store-page-right-content-sec white-bg" [ngClass]="!isStoreAdmin && !common.storeClientInfo.isEventEnable ? 'extended-width': ''">

                <div class="store-page-heading">
                    <div class="dsbrd-left-hdng-sec dy-body-txt-color">Recent Orders <span routerLink="/storeorders" *ngIf="totalRecords > 5">View
                            all</span></div>
                    <div class="dsbrd-right-hdng-sec">
                        <button type="button" mat-flat-button class="store-active-btn  dy-action-btn-color" (click)="checkForExistingCart()">
                            <mat-icon class="mini-fab-btn"><img src="../assets/images/s-order-btn.svg"></mat-icon>
                            {{!isViewStore ? newOrder ? 'Place New Order' : ' Place Order' : 'View Products' }}
                        </button>
                    </div>
                </div>
                <div class="store-dashboard-table">
                    <table mat-table [dataSource]="dataSource" class="dy-body-txt-color">

                        <ng-container matColumnDef="OrderID">
                            <mat-header-cell *matHeaderCellDef>ORDER ID </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.orderNumber}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="OrderDate">
                            <mat-header-cell *matHeaderCellDef>ORDER DATE </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.orderDate}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="ArrivalDate">
                            <mat-header-cell *matHeaderCellDef> ARRIVAL DATE </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span *ngIf="element.arrivalDate">{{element.arrivalDate}} </span>
                                <span *ngIf="!element.arrivalDate">&mdash;</span>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="RequestedBy">
                            <mat-header-cell *matHeaderCellDef>REQUESTED BY </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.requestedBy}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="EventName">
                            <mat-header-cell *matHeaderCellDef> EVENT NAME </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span *ngIf="element.eventName">{{element.eventName}} </span>
                                <span *ngIf="!element.eventName">&mdash;</span>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Status">
                            <mat-header-cell *matHeaderCellDef> STATUS </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span [ngClass]="element.status == 'Placed' ? 'placed-status' : element.status == 'Confirmed' ? 'confirmed-status' : 
                                element.status == 'Processing' ? 'processing-status': element.status == 'Ready To Ship' ? 'readytoship-status':
                                element.status == 'Shipped' ? 'shipped-status': element.status == 'Received' ? 'received-status':
                                element.status == 'Complete' ? 'complete-status': 'canceled-status' ">
                                    {{element.status}}
                                </span>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="/manageorder/{{row.id}}"></mat-row>
                    </table>

                    <div class="" *ngIf="noRecords">
                        <mat-card>
                            <div class="center">No Records Found</div>
                        </mat-card>
                    </div>
                </div>
            </div>

            <!-- <button type="button" mat-flat-button class="">Event Management</button>
            <button type="button" mat-flat-button class="" routerLink="/order/placeorder">Place Order</button> -->
        </div>

    </div>
</div>