<div>
  <div class="associate-product on-demand-popup upload-img-popup">
    <div class="associate-header">
      <div class="associate-header-overlay dy-header-color"></div>
      <button type="button" mat-mini-fab class="dy-action-btn-color close-btn-popup demand-graphics-btn" (click)="close()">
        <mat-icon class="mini-fab-btn"><i class="material-icons">close</i></mat-icon>
      </button>
      <div class="associate-header-info">
        <p>On Demand Graphics</p>
      </div>
    </div>

    <div class="on-demand-graphics-cls">
      <mat-dialog-content>

        <div class="editor-sec" *ngIf="data.item.isTextGraphic || data.item.onDemandTextGraphic">
          <small><strong>Description</strong></small>
          <ckeditor name="desc_editor" debounce="10" [(ngModel)]="description" language="en" #editor2="ngModel"
            [config]="util.ckEditorBaseConfigDescription"></ckeditor>
            <small *ngIf= "data.item.textGraphicCount"> Note: Maximum character limit is {{ data.item.textGraphicCount }}</small>
            <mat-error *ngIf="descriptionError">{{ appMessage.U0182 }}</mat-error>
        </div>


        <div *ngIf="data.item.isUploadGraphic || data.item.filePath" class="row">
          <div class="product-images-upload-sec">
            <div class="product-images-upload-sec-placeholder-icon-sec">
              <img src="./assets/images/upload-images-icon-img.svg" alt="" />
            </div>
            <div class="product-images-upload-sec-click-to-upload-sec">
              <p class="placeholder-img-sec"><img src="./assets/images/cloud-computing.svg" alt="" /></p>
              <p><strong>Drag & Drop</strong> <a class="browse-file-anchor-tag"  href="javascript:void(0)"><em>your
                    files here, or </em>Browse file</a></p>
            </div>
            <input accept="image/*" type="file" (change)="graphicUploadEvent($event)" />
          </div>

          <div class="product-res-img-sec">
            <img
              [src]="uploadedDemandGraphic.imageUrl ? _domSanitizationService.bypassSecurityTrustUrl(uploadedDemandGraphic.imageUrl) : defaultImageSrc" />
          </div>
        </div>

      </mat-dialog-content>

      <div class="popup-btn-sec aligned-right">
        <div mat-dialog-actions class="popup-left-right-btn-sec">
          <button mat-flat-button *ngIf="data.item.isTextGraphic || data.item.onDemandTextGraphic" [class.dy-action-btn-color]="description" 
          [disabled]="!description" (click)="submitOndemandText()">SUBMIT</button>
          <button mat-flat-button *ngIf="data.item.isUploadGraphic || data.item.filePath" [class.dy-action-btn-color]="uploadedDemandGraphic.imageUrl" 
          [disabled]="!uploadedDemandGraphic.imageUrl" (click)="submitOndemandFile()">SUBMIT</button>
        </div>
      </div>

    </div>

  </div>
</div>