@import './_variables';
@import './_mixins';
.mat-checkbox{    display: inline-flex; width: 100%;}
.upload-img-list-sec {
    display: block;
    flex: 1;
    padding: 0rem 0rem 0rem 0rem;
    width: 25em;
    box-sizing: border-box;
    .heading-row,
    .content-row {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 0 16px;
    }
    
    .content-row {
        background: #fff;
        min-height: 3.25rem;
        transition: all 0.2s ease-in-out;
        border: $table-border;
        margin-bottom: 0.3rem;
        margin-top: 0px;
        align-items: center;
        border-radius: 4px;
       
        .content-row-col-cell {
            color: #616167;
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1rem;
            padding: 0.5rem;
            box-sizing: border-box;
            display: flex;
            word-break: break-word;
            min-height: inherit;
            flex: 1;
            align-items: center;
            //cursor: pointer; // justify-content: space-between;
           
            .edit-btn {
                cursor: pointer;
            }
        }
    }
}