@import './_variables';
@import './_mixins';

.left-col-content-sec { @extend .gutterR2nh; }
.right-col-content-sec { @extend .gutterL2nh; }


.client-detail-domain-read-only{
    .domain-read-only-placeholder{
        color: rgba(0,0,0,.54);
        font-size: 12px;
        padding-top: 1px;
    }

    .domain-read-only-name{
        padding-top: 5px;
        border-bottom: dashed 1px rgba(0,0,0,.42);
        padding-bottom: 5px;
    }
}

.mat-tab-body-wrapper {
    @extend .card-layout-shadow;
    .mat-tab-body.mat-tab-body-active{
        
    }
    
}