@import './_variables';
@import './_mixins';


.store-login-page-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100vh;
    background: url(/assets/images/store-login-big-bg-pattern.jpg) no-repeat left top;
    background-size: cover;
    @media screen and (max-width: $break-at-mobile-414) {
        background: #fff;
    }

    .store-login-page-container-overlay{
        position: absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        opacity: 0.1;
        @media screen and (max-width: $break-at-mobile-414) {
            display: none;
           }
    }
    // .dy-body-color{}

    .store-login-form-sec{
        display: flex;
        flex-direction: row;
        height: 50vh;
        width: 60%;
        z-index: 2;
        @media screen and (max-width: $break-at-desktop) {
            height: 70vh;
        }
        @media screen and (max-width: $break-at-ipad) {
            height: 50vh;
        }
        @media screen and (max-width: $break-at-mobile-414) {
            width:100%;
            height:100vh;
            flex-direction: column-reverse;
        }
        .store-login-form-left-sec{
            display: flex;
            // flex-direction: column;
            align-items: center;
            position: relative;
            width:50%;
            height: 100%;
            background: url(/assets/images/store-login-small-bg-pattern.jpg) no-repeat left top;
            background-size: cover;
            @media screen and (max-width: $break-at-mobile-414) {
                height: 2.5rem;
                width:100%;
                justify-content: center;
                align-items: center;
            }
            .store-header-overlay{
                position: absolute;
                left:0;
                top:0;
                width:100%;
                height:100%;
                opacity: 0.6;
            }
            // .dy-body-color{}

            .welcome-txt{
                color: #fff;
                font-size: 24px;
                font-weight: 500;
                line-height: 1;
                z-index: 9;
                // -webkit-transform: translateY(-50%);
                // transform: translateY(-50%);
                padding-left: 3rem;
                // display: flex;
                width: 100%;
                box-sizing: border-box;
                align-items: baseline;
                @media screen and (max-width: $break-at-ipad) {
                    padding-left: 2rem;
                }

                @media screen and (max-width: $break-at-mobile-414) {
                    display: none;
                }

                span{
                    color: #fff;
                    font-size: 48px;
                    font-weight: 500;
                    line-height: 1;
                    display:flex;
                }
            }

            .powered-by-txt{
                color: #fff;
                font-size: 0.7rem;
                font-weight: 400;
                line-height: 1;
                position: absolute;
                bottom: 2rem;
                left: 3rem;
                @media screen and (max-width: $break-at-ipad) {
                    left: 2rem;
                }
                @media screen and (max-width: $break-at-mobile-414) {
                    position: relative;
                    bottom: 0;
                    left:0;
                }
                span{
                    display: inline-block;

                    img{
                        margin-left: 5px;
                        max-width: 100%;
                        height: 1rem;
                        margin-bottom: -4px;
                    }
                }
            }

        }

        .store-login-form-right-sec{
            display: flex;
            flex-direction: column;
            width: 50%;
            height: 100%;
            background: #fff;
            padding: 3rem;
            box-sizing: border-box;
            // justify-content: space-between;
            justify-content: center;
            @media screen and (max-width: $break-at-ipad) {
                padding: 2rem;
            }
            @media screen and (max-width: $break-at-mobile-414) {
                width:100%;
                justify-content: center;
                height:calc(100vh - 2.5rem);
                box-sizing: border-box;
                align-items: flex-start;
                padding:1rem 2rem;
            }
            .store-login-logo-sec{
                margin-bottom:1.5rem;
                max-width: 10rem;
                max-height: 3.75rem;
                height: 100%;
                @media screen and (max-width: $break-at-mobile-414) {
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;
                    max-width: 8rem;
                    max-height: 3.0rem;
                    margin-bottom: 1rem;
                    width:100%;
                }
                img{
                    float: left;
                    max-width: 10rem;
                    max-height: 3.75rem;
                    @media screen and (max-width: $break-at-mobile-414) {
                        max-width: 8rem;
                        max-height: 3.0rem;
                    }
                }

            }

            .store-login-sign-in-form-sec{
                @media screen and (max-width: $break-at-mobile-414) {
                    padding:1rem 0rem;
                    width: 100%;
                }

                p{
                    margin: 0px;
                    .mat-form-field{    
                        width: 100%;
                        .mat-icon{
                            margin-right: 1rem;
                            @media screen and (max-width: $break-at-mobile-414) {
                                margin-right: 0.5rem;
                            }
                            img{
                                float: left;
                                max-width: 85%;
                                margin-top: 6px;
                            }
                        }
                    }
                }

                .form-actionable-sec{
                    display: flex;
                    justify-content: flex-start;
                    padding-top:0.5rem;
                    @media screen and (max-width: $break-at-mobile-414) {
                        padding-top: 0.25rem;
                    }

                    // .store-active-btn{}
                    .store-active-btn.mat-button{
                        text-transform: none;
                        margin-right: -0.75rem;
                        color: #616167;
                        margin-left:5px;
                    }
                    .store-active-btn.mat-flat-button {
                        // box-shadow: 0px 3px 15px #d34141a6;
                        @extend .button-shadow;
                        margin-left:0px!important;
                    }

                    // a{}
                }


                
            }


        }
    }
}
.info-regarding-password{
    color: rgb(183, 183, 183);
    position: absolute;
    font-size: 20px!important;
}
::ng-deep .tooltip-list {
    white-space: pre-line;
    max-width: 500px !important;
  }