<div class="container-fluid" *ngIf="v==false || v == 1">
  <div class="store-login-page-container store-forgot-pswd-pg">
    <div class="store-login-page-container-overlay dy-header-color"></div>

    <div class="store-login-form-sec">
      <div class="store-login-form-left-sec">
        <div class="store-header-overlay  dy-header-color"></div>
        <div class="welcome-txt">Welcome <span>{{common.storeClientInfo.clientName}}</span></div>
        <div class="powered-by-txt">Powered By <span><img src="../assets/images/logo-white.svg" alt=""></span></div>
      </div>

      <div *ngIf="!isResetPassword" class="store-login-form-right-sec">
          <div class="store-login-logo-sec"><img [src]="_domSanitizationService.bypassSecurityTrustUrl(common.storeLogo)" /></div>
          <div class="store-login-sign-in-form-sec">
            <div>
              <p>
                <mat-form-field appearance="legacy">
                  <mat-icon matPrefix><img src="../assets/images/store-email.svg" alt=""></mat-icon>
                  <input matInput placeholder="Email" trimDirective [formControl]= 'email' [errorStateMatcher]="matcher" maxlength="100"
                    required>
                  <mat-error *ngIf="email.errors && email.value && email.errors.pattern && !email.hasError('required')">
                    {{appMessage.U0005}}
                  </mat-error>
                  <mat-error *ngIf="email.hasError('required')">
                    {{appMessage.U0002}}
                  </mat-error>
                </mat-form-field>
              </p>
            </div>

            <div class="form-actionable-sec">
              <button type="button" mat-flat-button class="store-active-btn  dy-action-btn-color" (click)="resetPasswordRequest()" >Reset Password</button>
              <button type="button" mat-button class="store-active-btn" routerLink= "/store-login" >CANCEL</button>
            </div>          
          </div>
        </div>
      <!-- Below HTML will be render once the client will open the page from the link, recieved in email -->
      <div *ngIf="isResetPassword" class="store-login-form-right-sec">
        <div class="store-login-logo-sec"><img src="../assets/images/Sparks-Link-Logo-login.png" alt=""></div>
        <div class="store-login-sign-in-form-sec">
          <form [formGroup]="resetPasswordForm">
            <p>
              <mat-form-field appearance="legacy">
                <mat-icon matPrefix><img src="../assets/images/store-password.svg" alt=""></mat-icon>
                <input matInput type="password" placeholder="Password" trimDirective formControlName="password" [errorStateMatcher]="matcher" maxlength="30" required >
                <mat-icon class="info-regarding-password" matTooltip={{appMessage.U0186}} 
                matTooltipClass = "tooltip-list">info</mat-icon>
                <mat-error *ngIf="resetPasswordForm.controls.password.hasError('required')">
                  {{appMessage.U0029}}
                </mat-error>
                <mat-error *ngIf="resetPasswordForm.controls.password.hasError('pattern')">
                  {{appMessage.U0159}}
                </mat-error>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="legacy">
                <mat-icon matPrefix><img src="../assets/images/store-password.svg" alt=""></mat-icon>
                <input matInput type="password" placeholder="Confirm Password" trimDirective formControlName="confirmPassword" [errorStateMatcher]="matcher" maxlength="30" required>
                <mat-hint *ngIf="resetPasswordForm.controls.confirmPassword.touched && resetPasswordForm.controls.confirmPassword.hasError('required')">
                  {{appMessage.U0036}}
                </mat-hint>
                <mat-hint *ngIf="resetPasswordForm.controls.password.value && resetPasswordForm.controls.confirmPassword.value && resetPasswordForm.controls.password.value != resetPasswordForm.controls.confirmPassword.value && !resetPasswordForm.controls.confirmPassword.hasError('required')">
                  {{appMessage.U0034}}
                </mat-hint>
              </mat-form-field>
            </p>
          </form>
          <div class="form-actionable-sec">
            <button type="button" mat-flat-button class="store-active-btn  dy-action-btn-color" (click)="resetPassword()">Reset</button>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>