@import './_variables';
@import './_mixins';
.mat-table {
    .mat-header-row {
        border-top: solid 1px #dedede;
        padding-right: 0px;
        .mat-header-cell {
            &:nth-child(1) {
                width: 21%;
                flex: inherit;
            }
            &:nth-child(2) {
                width: 21%;
                flex: inherit;
            }
            &:nth-child(3) {
                width: 21%;
                flex: inherit;
            }
            &:nth-child(4) {
                width: 21%;
                flex: inherit;
            }
            &:nth-child(5) {
                width: 10%;
                flex: inherit;
            }
            &:nth-child(6) {
                width: 6%;
                flex: inherit;
                padding-right: 0px;
            }
        }
    }
    .mat-row {
        // cursor:pointer;
        padding-right: 0px;
        margin-bottom: 5px; // background: linear-gradient(to right, #F8F8F8 70%, #ffffff 31%);
        cursor:pointer;
        box-shadow: 0px 1px 4px 0px #d2d1d1;
        transition: all 0.3s ease-in-out;
        &:hover {
            transition: all 0.3s ease-in-out;
            box-shadow: 0px 3px 18px 0px #d2d1d1;
        }
        .mat-cell {
            &:nth-child(1) {
                width: 21%;
                flex: inherit;
                color: #4d89f7;
            }
            &:nth-child(2) {
                width: 21%;
                flex: inherit;
            }
            &:nth-child(3) {
                width: 21%;
                flex: inherit;
            }
            &:nth-child(4) {
                width: 21%;
                flex: inherit;
            }
            &:nth-child(5) {
                width: 10%;
                flex: inherit;
            }
            &:nth-child(6) {
                width: 6%;
                flex: inherit;
                padding-right: 0px;
                justify-content: flex-end;
            }
        }
    }
}

.mat-table {
    &.additionalClassAdded{
        .mat-header-row {
            border-top: solid 1px #dedede;
            padding-right: 0px;
            .mat-header-cell {
                &:nth-child(1) {
                    width: 24%;
                    flex: inherit;
                }
                &:nth-child(2) {
                    width: 24%;
                    flex: inherit;
                }
                &:nth-child(3) {
                    width: 28%;
                    flex: inherit;
                }
                &:nth-child(4) {
                    width: 18%;
                    flex: inherit;
                }

                &:nth-child(5) {
                    width: 6%;
                    flex: inherit;
                    padding-right: 0px;
                }
            }
        }
        .mat-row {
            // cursor:pointer;
            padding-right: 0px;
            margin-bottom: 5px; // background: linear-gradient(to right, #F8F8F8 70%, #ffffff 31%);
            cursor:pointer;
            box-shadow: 0px 1px 4px 0px #d2d1d1;
            transition: all 0.3s ease-in-out;
            &:hover {
                transition: all 0.3s ease-in-out;
                box-shadow: 0px 3px 18px 0px #d2d1d1;
            }
            .mat-cell {
                &:nth-child(1) {
                    width: 24%;
                    flex: inherit;
                    color: #4d89f7;
                }
                &:nth-child(2) {
                    width: 24%;
                    flex: inherit;
                }
                &:nth-child(3) {
                    width: 28%;
                    flex: inherit;
                }
                &:nth-child(4) {
                    width: 18%;
                    flex: inherit;
                }
                &:nth-child(5) {
                    width: 6%;
                    flex: inherit;
                    padding-right: 0px;
                    justify-content: flex-end;
                }
            }
        }
    }

    
}

.btn-tab-sec {
    text-decoration: none;
    width: 27.33%;
    .product-tab-btn {
        color: #616167;
        font-size: 0.875rem;
        font-weight: 500;
        padding: 0.65rem 0.5rem 0.62rem 1rem;
        text-decoration: none;
        // background: #fff;
        border: solid 1px #dedede;
        border-top-left-radius: 0.75rem;
        border-bottom-left-radius: 0.75rem;
        margin-right: 1px;
        width: 5rem;
        display: inline-block;
        text-align: center;
    }
    .kits-tab-btn {
        color: #616167;
        font-size: 0.875rem;
        font-weight: 500;
        padding: 0.65rem 1rem 0.62rem 0.5rem;
        text-decoration: none;
        background: #fff;
        border-top-right-radius: 0.75rem;
        border-bottom-right-radius: 0.75rem;
        box-shadow: 0px 3px 19px 0px #d2cece;
        width: 5rem;
        display: inline-block;
        text-align: center;
        border: solid 1px #dedede;
    }
}



.content-heading-sec {
    .page-heading-sec {
        min-width:7rem;

    }
    .button-group-in-heading-sec {
        
    }
}