<div class="container-fluid">
  <div class="page-content-wrapper-sec  add-client-page-cls">

    <div class="content-heading-sec">
      <div class="page-heading-sec">
        <h2>Kits List
          <span class="total-record-cls">(Total {{totalKitRecords}} records)</span>
        </h2>
      </div>

      <div class="btn-tab-sec">
        <a class="product-tab-btn" href="javascript:void(0)" routerLink="/product">Products</a>
        <a class="kits-tab-btn" href="javascript:void(0)" routerLink="/kit">Kits</a>
      </div>

      <div class="button-group-in-heading-sec relative-sec-cls">
        <app-filter-box [data]="{showFilter: true, categories : filterCat, values : filterValues}" (filterChange)="onChangeFilter($event)"></app-filter-box>
      </div>
    </div>

    <div class="row">
      <div class="page-content-sec">

        <div class="row">
          <div infiniteScroll [infiniteScrollDistance]="1" debounce [infiniteScrollThrottle]="300" (scrolled)="onScroll()"
            [infiniteScrollUpDistance]="2">
            <mat-table [dataSource]="dataSource" matSort class="" [ngClass]="!isVisibility ? 'additionalClassAdded': ''"
              [hidden]="!noRecords">

              <!-- Kit No. Column -->
              <ng-container matColumnDef="kitId">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Kit Id </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.kitId}} </mat-cell>
              </ng-container>

              <!-- Kit Name Column -->
              <ng-container matColumnDef="KitName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Kit Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.kitName}} </mat-cell>
              </ng-container>

              <!-- Kit Category Column -->
              <ng-container matColumnDef="category">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Kit Category </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.category}} </mat-cell>
              </ng-container>

              <!-- Visibility Group Column -->
              <ng-container matColumnDef="VisibilityGroup" *ngIf="isVisibility">
                <mat-header-cell *matHeaderCellDef mat-sort-header> VISIBILITY GROUP </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span *ngIf="!element.visibilityGroup">&mdash;</span>
                  <span *ngIf="element.visibilityGroup && element.visibilityGroup.length <= 50">{{element.visibilityGroup}}</span>
                  <div *ngIf="element.visibilityGroup && element.visibilityGroup.length > 50" 
                   >
                   <span>{{(element.visibilityGroup | slice:0:50)}}
                    <span class="dots" matTooltip="{{element.visibilityGroup}}" >...</span>
                  </span>
                  </div>
                  <!-- <span *ngIf="element.visibilityGroup.length <= 50">{{element.visibilityGroup}}</span>
                  <div *ngIf="element.visibilityGroup.length > 50" tooltip="{{element.visibilityGroup}}" placement="bottom"
                    animation-duration="1">
                    <span>{{(element.visibilityGroup | slice:0:50) + "..." }}</span>
                  </div> -->
                </mat-cell>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="Status">
                <mat-header-cell *matHeaderCellDef mat-sort-header> STATUS </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span [ngClass]="element.status == 'ACTIVE' ? 'active-status' :
                   element.status == 'INACTIVE' ? 'inactive-status' : 
                   element.status == 'WAITING_APPROVAL' ? 'shipped-status' :
                   'processing-status' ">{{element.status == 'WAITING_APPROVAL' ? enum.WAITING_APPROVAL : element.status}}</span>
                </mat-cell>
              </ng-container>

              <!-- Link Column -->
              <ng-container matColumnDef="Link">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">

                  <button id="link" mat-icon-button [matMenuTriggerFor]="menu" [disabled]="isOnlyTeam">
                    <mat-icon aria-label="">
                      <i id="link" class="material-icons three-dots-icon">more_vert</i>
                    </mat-icon>
                    <mat-menu #menu="matMenu" y-position="below" [overlapTrigger]="false">
                      <button mat-menu-item *ngIf="element.status == 'INACTIVE' || element.status == 'ON HOLD' || element.status == 'WAITING_APPROVAL'" (click)="changeStatus('1', element)">Mark
                        Active</button>
                      <button mat-menu-item *ngIf="element.status == 'ACTIVE' || element.status == 'ON HOLD'" (click)="changeStatus('0', element)">Mark
                        Inactive</button>
                      <button mat-menu-item *ngIf="element.status == 'ACTIVE' || element.status == 'INACTIVE'" (click)="changeStatus('2', element)">Mark
                        On Hold</button>
                    </mat-menu>
                  </button>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick($event, row.id)"></mat-row>
            </mat-table>
          </div>
        </div>

        <div class="" *ngIf="noRecords">
          <mat-card>
            <div class="center">No Records Found</div>
          </mat-card>
        </div>

        <div class="add-user-btn-sec">
          <button mat-fab routerLink="/kit/add">
            <i class="material-icons">add</i>
          </button>
        </div>

      </div>
    </div>

  </div>
</div>