<div class="row">

  <h5>Inventory Availability</h5>
  <div class="row">
    <div class="inventory-availability-date-picker-sec">
      <div class="date-picker-sec">
        <mat-form-field>
          <input matInput [matDatepicker]="inventoryStartDate" placeholder="Inventory Start Date" [formControl]="fromDate"
          (ngModelChange)="dateChange('fromDate')" readonly (click)="inventoryStartDate.open()">
          <mat-datepicker-toggle matSuffix [for]="inventoryStartDate"></mat-datepicker-toggle>
          <mat-datepicker #inventoryStartDate></mat-datepicker>
          <mat-hint *ngIf="fromDateError" class="alert alert-danger">
            {{appMessage.U0070}}
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="date-picker-sec">
        <mat-form-field>
          <input matInput [matDatepicker]="inventoryEndDate" placeholder="Inventory End Date" [formControl]="toDate"
          (ngModelChange)="dateChange('toDate')" readonly (click)="inventoryEndDate.open()">
          <mat-datepicker-toggle matSuffix [for]="inventoryEndDate"></mat-datepicker-toggle>
          <mat-datepicker #inventoryEndDate></mat-datepicker>
          <mat-hint *ngIf="toDateError" class="alert alert-danger">
            {{appMessage.U0071}}
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="date-picker-sec">
        <button mat-flat-button [class.active-btn]="(fromDate.dirty && !fromDateError) || (toDate.dirty && !toDateError)" [disabled]="(!fromDate.dirty || fromDateError) && (!toDate.dirty || toDateError)"  (click)="getInventoryAvailability()">APPLY</button>
      </div>
    </div>

  </div>
  <mat-table [dataSource]="dataSource" [hidden]="!noRecords">

    <!-- Total Quantity Column -->
    <ng-container matColumnDef="totalquantity">
      <mat-header-cell *matHeaderCellDef>TOTAL QUANTITY</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.totalQuantity}} </mat-cell>
    </ng-container>

    <!-- Available Quantity Column -->
    <ng-container matColumnDef="availablequantity">
      <mat-header-cell *matHeaderCellDef>AVAILABLE QUANTITY</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.availableQuantity}} </mat-cell>
    </ng-container>

    <!-- On Order Quantity Column -->
    <ng-container matColumnDef="onorderquantity">
      <mat-header-cell *matHeaderCellDef> ON ORDER QUANTITY </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.onOrderQuantity}}</mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="not-editable-table-row"></mat-row>
  </mat-table>
  <div class="" *ngIf="noRecords">
    <mat-card>
      <div class="center">No Records Found</div>
    </mat-card>
  </div>

</div>