@import './_variables';
@import './_mixins';

.reports-list-page-cls{
    .content-heading-sec{
        .page-heading-sec{
            display: flex;
            justify-content: space-between;
            width: 40%;
            align-items: center;
        }
    }
}

.align-column-cls{
    display:flex; align-items: center;
    .padding-l-0{
        .error-move-up-sec{margin-top:-13px;}
    }
}



.reports-pg-con-sec{
    display: flex;
    justify-content: space-between;

    .card-view-layout{    
        background: #fff;
        padding: 40px 2rem;
        width: 40%;
        box-sizing: border-box;
        height: calc(100vh - 150px);

        .padding-l-0{padding-left:0;}
        .padding-r-0{padding-right:0;}
        h5{
            @extend .subheading;
            @extend .offsetB1;
        }   
        
    }
    .reports-content-img-sec{
        width: 60%;
        padding: 0rem 5rem;
        box-sizing: border-box;
        align-items: center;
        display: inline-flex;

        img{float:left; width:100%;}
    }
}

.report-radio-btn-sec{
    display:flex; justify-content: space-between;     padding: 0.5rem 0px;
.excel-pdf-chk-list{
 .mat-radio-button{margin-right:1rem;}
}
}