<div class="custom-defined-msg-box">
    <div class="popup-sec-icon">
      <div class="sparkle-bg"></div>
      <button class="alert-popup-icon"><mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">
        <img  alt="" src="../assets/images/active-popup.svg"></mat-icon>
      </button>
    </div>


  <mat-dialog-content>
    <h6 class="popup-content-heading">Select Category</h6>
    <app-category-tree *ngIf="categoryService.data.length > 0" [data]="categoryService.data"  class="category-tree-component-sec"></app-category-tree>
    <p class="notfound" *ngIf="categoryService.data.length == 0">{{appMessage.U0065}}</p>
  </mat-dialog-content>

  <div class="popup-btn-sec aligned-right">
    <div mat-dialog-actions>
        <button mat-button class="transparent-btn" type="button"  (click)="close()">CANCEL</button>
        <button mat-flat-button *ngIf="categoryService.data.length > 0" class="active-btn mat-primary" type="button" (click)="getSelectedCat()">SELECT</button>
    </div>
  </div>

</div>
