<!-- <mat-accordion *ngIf="data.orderStatus">
  <mat-expansion-panel [expanded]="data.orderStatus == enum.Order_Processing">
    <mat-expansion-panel-header>
      <mat-panel-title>
        FREIGHT DETAILS
      </mat-panel-title>
    </mat-expansion-panel-header> -->
<div class="row" *ngIf="data.dimensionDetails">
  <form #freightDetailForm="ngForm">
    <div class="col s12 m6 l6 padding-l-0">
      <div class="left-col-content-sec">

        <div class="row">
          <mat-form-field>
            <input matInput placeholder="No. of Boxes" readonly [value]="data.dimensionDetails.length">
          </mat-form-field>
        </div>

        <div class="row">
          <ul class="freight-detail-dimention-sec" *ngFor="let item of data.dimensionDetails;let i = index;"
            [class.read-only-freight-detail-sec]="data.orderStatus != enum.Order_Processing">
            <li>Dimensions</li>
            <li>
              <mat-form-field>
                <input matInput placeholder="Length" maxlength="50" appFocus [(ngModel)]="item.length"
                  [required]="!data.freightDetailDisable" name="length_{{i}}" #length="ngModel" 
                  [disabled]="data.orderStatus != enum.Order_Processing || data.freightDetailDisable">
                <mat-hint *ngIf="length.errors?.required && (length.touched || !isFormValid)"
                  class="alert alert-danger">
                  {{appMessage.U0106}}
                </mat-hint>
              </mat-form-field>
            </li>
            <li>
              <mat-form-field>
                <input matInput placeholder="Width" maxlength="50" [(ngModel)]="item.width" [required]="!data.freightDetailDisable"
                  name="width_{{i}}" #width="ngModel" [disabled]="data.orderStatus != enum.Order_Processing || data.freightDetailDisable">
                <mat-hint *ngIf="width.errors?.required && (width.touched || !isFormValid)" class="alert alert-danger">
                  {{appMessage.U0107}}
                </mat-hint>
              </mat-form-field>
            </li>
            <li>
              <mat-form-field>
                <input matInput placeholder="Height" maxlength="50" [(ngModel)]="item.height" [required]="!data.freightDetailDisable"
                  name="height_{{i}}" #height="ngModel" [disabled]="data.orderStatus != enum.Order_Processing || data.freightDetailDisable">
                <mat-hint *ngIf="height.errors?.required && (height.touched || !isFormValid)"
                  class="alert alert-danger">
                  {{appMessage.U0108}}
                </mat-hint>
              </mat-form-field>
            </li>
            <li>
              <mat-form-field>
                <input matInput placeholder="Weight" maxlength="50" [(ngModel)]="item.weight"
                  [disabled]="data.orderStatus != enum.Order_Processing || data.freightDetailDisable" name="weight_{{i}}">
              </mat-form-field>
            </li>
            <li *ngIf="data.dimensionDetails.length > 1 && data.orderStatus == enum.Order_Processing && !data.freightDetailDisable">
              <button type="button" mat-mini-fab (click)="onRemoveDimensionItems(i)">
                <mat-icon class="mini-fab-btn"><i class="material-icons">clear</i></mat-icon>
              </button>
            </li>
          </ul>
          <button type="button" mat-mini-fab (click)="onAddDimensionItems()"
            *ngIf="data.orderStatus == enum.Order_Processing && !data.freightDetailDisable">
            <mat-icon class="mini-fab-btn"><i class="material-icons">add</i></mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l6 padding-r-0">
      <div class="right-col-content-sec">

        <mat-checkbox [(ngModel)]="data.freightDetailDisable" name="freightDisable" 
        *ngIf="data.orderStatus == enum.Order_Processing || (data.orderStatus != enum.Order_Processing && data.freightDetailDisable)"
          [disabled]="data.orderStatus != enum.Order_Processing">
          Freight Details Not Required
        </mat-checkbox>

        <mat-form-field>
          <textarea matInput placeholder="Notes" [(ngModel)]="notes" name="notes" maxlength="2000"
            [disabled]="data.orderStatus != enum.Order_Processing || data.freightDetailDisable"></textarea>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<!-- </mat-expansion-panel>
</mat-accordion> -->