@import './_variables';
@import './_mixins';
.first-store-card,
.store-card-layout {
    background: #fff;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    padding: 2rem 2rem;
    flex-direction: column;
    @media screen and (max-width: $break-at-ipad) {
        padding:1.25rem 1rem;
    }
    h2 {
        font-size: 28px;
        line-height: 1;
        font-weight: 500;
        text-align: left;
        margin: 0rem;
        color: inherit;
        @media screen and (max-width: $break-at-desktop) {
            // font-size: 2.0rem;
            font-size: 1.5rem;
        }
        @media screen and (max-width: $break-at-ipad) {
            font-size: 1.25rem;
        }
        @media screen and (max-width: $break-at-mobile-414) {
            font-size: 1.0rem;
        }
    }
    p {
        margin-bottom: 0rem;
        font-size: .875rem;
        font-weight: 400;
        line-height: 1rem;
        word-break: break-word;
        color: inherit;
        opacity: 0.85;
        strong {}
        .mat-checkbox {
            display: block;
            color: inherit !important;
            .mat-checkbox-inner-container {
                color: inherit !important;
                .mat-checkbox-frame {
                    border-color: inherit !important;
                }
            }
            .mat-checkbox-layout {
                color: inherit !important;
                .mat-checkbox-label {
                    color: inherit !important;
                }
            }
        }
        .mat-radio-group {
            .mat-radio-button {
                display: block;
                margin-bottom: 0.75rem;
            }
        }
    }
    .title-sec-card-content {
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 0.75rem;        
        @media screen and (max-width: $break-at-ipad) {
            font-size: 1.1rem;
        }
        @media screen and (max-width: $break-at-mobile-414) {
            font-size: 0.9rem;
        }
        .same-as-pickup { 
            float: right; 
            font-size: .86rem; 
            font-weight: 400;
            @media screen and (max-width: $break-at-ipad) {
                font-size: .76rem; 
            }
            @media screen and (max-width: $break-at-mobile-414) {
                font-size: .66rem; 
            }
        }
    }
    .detail-sec-card-content {
        .service-description-sec {
            font-size: 1rem;
            font-weight: 400;
            opacity: 1;
            margin: 0.8rem 0rem 0.5rem;
            color: inherit;
            @media screen and (max-width: $break-at-ipad) {
                font-size: 1.0rem;
                margin:0.5rem 0rem 0.5rem;
            }
        }
        .service-value-sec {
            font-size: 0.875rem;
            font-weight: 400;
            opacity: 0.7;
            // .ser-field-two-col{
            //     width:100%;
            //     &:nth-child(odd){
            //         padding-right:10%;
            //     }
            //     &:nth-child(even){
            //         padding-left:10%;
            //     }
            // }
            
            p {
                font-size: 0.875rem;
                font-weight: 400;
                opacity: 0.7;
            }
        }
    }
    .con-detail-store-card-layout {
        padding: 0rem 1.25rem;
    }
}

.row {
    display: flex;
    width: 100%;
}

.first-store-card {
    padding: 2rem;
    border-bottom: $table-border;
    @media screen and (max-width: $break-at-ipad) {
        padding:1.25rem 1rem;
    }
}

.store-card-layout.cus-footer-txt-sec {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.cus-footer-txt-sec {
    border-top: $table-border;
    margin-top: -20px;
}

.ser-field-two-col {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    @media screen and (max-width: $break-at-mobile-414) {
        width: 100%;
    }
    &:nth-child(odd){
        padding-right:4%;
        @media screen and (max-width: $break-at-mobile-414) {
            padding-right:0%;
        }
    }
    &:nth-child(even){
        padding-left:4%;
        @media screen and (max-width: $break-at-mobile-414) {
            padding-left:0%;
        }
    }
    .mat-form-field {
        width: 100%;
        //max-width: 20rem;
    }
}
.first-store-card {
    padding: 2rem;
    border-bottom: $table-border;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    @media screen and (max-width: $break-at-ipad) {
        padding:1.25rem 1rem;
    }
    @media screen and (max-width: $break-at-mobile-414) {
        align-items: flex-start;
        &.mob-issue-fixes{display:block;
            .review-order-heading-sec{display: inline-block; float: left; width:calc(100% - 150px);}        
            .actionable-ntm-group{display: inline-block; float:right; width:150px;}
        }
    }

    .review-order-heading-sec{
        display: inline-flex;
        flex-direction: column;

        h2{display: flex; width: 100%;}
    }
    .actionable-ntm-group {
        display: inline-flex;
        justify-content: flex-end;
        .transparent-btn.mat-button {
            margin-left: 5px;
        }
        .mat-flat-button{margin-left: 5px;}
    }

}

.order-footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;

    .actionable-ntm-group{align-items: flex-end;.mat-flat-button{margin-left: 5px;}}
}

@media screen and (max-width: $break-at-mobile-414) {.row{margin-bottom:10px;}}

.service-value-sec.alignment-issue-cls{display:flex; align-items: flex-start; flex-wrap: wrap;}