<div class="container-fluid">
  <div class="store-login-page-container store-signup-pg">
    <div class="store-login-page-container-overlay dy-header-color"></div>

    <div class="store-login-form-sec">
      <div class="store-login-form-left-sec" [ngClass]="isAnimation ? 'fd' : ''">
        <div class="store-header-overlay  dy-header-color"></div>
        <div class="welcome-txt">Welcome <span>{{common.storeClientInfo.clientName}}</span></div>
        <div class="powered-by-txt">Powered By <span><img src="../assets/images/logo-white.svg" alt=""></span></div>
      </div>
      <div class="store-login-form-right-sec">
        <div class="store-login-logo-sec"><img [src]="_domSanitizationService.bypassSecurityTrustUrl(common.storeLogo)" /></div>
        <form [formGroup]="signUpForm">
          <div class="store-login-sign-in-form-sec">
            <p>
              <mat-form-field appearance="legacy">
                <mat-icon matPrefix><img src="../assets/images/store-name.svg" alt=""></mat-icon>
                <input matInput placeholder="Name" trimDirective formControlName="userName" [errorStateMatcher]="matcher" maxlength="100"
                  required>
                <mat-error *ngIf="signUpForm.controls.userName.hasError('required')">
                  {{appMessage.U0003}}
                </mat-error>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="legacy">
                <mat-icon matPrefix><img src="../assets/images/store-email.svg" alt=""></mat-icon>
                <input matInput placeholder="E-mail" trimDirective formControlName="userEmail" [errorStateMatcher]="matcher" maxlength="100"
                required>
              <mat-error *ngIf="signUpForm.controls.userEmail.errors && signUpForm.controls.userEmail.value && signUpForm.controls.userEmail.errors.pattern && !signUpForm.controls.userEmail.hasError('required')">
                {{appMessage.U0005}}
              </mat-error>
              <mat-error *ngIf="signUpForm.controls.userEmail.hasError('required')">
                {{appMessage.U0002}}
              </mat-error>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="legacy" *ngIf="common.storeClientInfo.isHierarchy">
                <mat-icon matPrefix><img src="../assets/images/store-hierarchy.svg" alt=""></mat-icon>
                <mat-select [placeholder]="hierarchies.hierachyLabelName" formControlName="hierarchyId" >
                  <mat-option>Select {{hierarchies.hierachyLabelName}}</mat-option>
                  <mat-option *ngFor="let hierarchy of hierarchies.hierarchies" [value]="hierarchy.id">
                    {{hierarchy.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="legacy">
                <mat-icon matPrefix><img src="../assets/images/store-password.svg" alt=""></mat-icon>
                <input matInput  [type]="isVisiblePassword ? 'text' : 'password'"  placeholder="Password" trimDirective formControlName="credential" maxlength="30"
                 [errorStateMatcher]="matcher" required>
                <mat-error *ngIf="signUpForm.controls.credential.hasError('required')">
                  {{appMessage.U0029}}
                </mat-error>
                <mat-hint *ngIf="signUpForm.controls.credential.errors?.pattern"
                  class="alert alert-danger signup-pg">
                  {{appMessage.U0160}} 
                  <mat-icon matTooltipClass="tooltip-wrap-cls" matTooltip={{appMessage.U0186}}>info</mat-icon>
                </mat-hint>
                <mat-icon class="cursor-pointer"  matSuffix  (click)="isVisiblePassword = !isVisiblePassword">{{isVisiblePassword ? 'visibility' :
                  'visibility_off' }}
                </mat-icon>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="legacy">
                <mat-icon matPrefix><img src="../assets/images/store-password.svg" alt=""></mat-icon>
                <input matInput [type]="isVisibleConfirmPassword ? 'text' : 'password'"  placeholder="Confirm Password" trimDirective formControlName="confirmCredential" maxlength="30"
                 [errorStateMatcher]="matcher" required>
                <mat-hint *ngIf="signUpForm.controls.confirmCredential.touched && signUpForm.controls.confirmCredential.hasError('required')">
                  {{appMessage.U0036}}
                </mat-hint>
                <mat-hint *ngIf="signUpForm.controls.credential.value && signUpForm.controls.confirmCredential.value && signUpForm.controls.credential.value != signUpForm.controls.confirmCredential.value && !signUpForm.controls.confirmCredential.hasError('required')">
                  {{appMessage.U0034}}
                </mat-hint>
                <mat-icon class="cursor-pointer" matSuffix (click)="isVisibleConfirmPassword = !isVisibleConfirmPassword">{{isVisibleConfirmPassword ? 'visibility' :
                  'visibility_off' }}
                </mat-icon>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field class="">
                <input matInput placeholder="Title" maxlength="100"  formControlName="designation" [errorStateMatcher]="matcher" >
              </mat-form-field>
            </p>
            <!-- New field added -->
            <p>
              <mat-form-field class="">
                <input matInput placeholder="Mobile Number" maxlength="12" formControlName="mobileNumber"   
                [value]="signUpForm.get('mobileNumber').value | phoneNumber">
                   <mat-error *ngIf="signUpForm.controls.mobileNumber.errors?.pattern && signUpForm.controls.mobileNumber.value"  class="alert alert-danger">
                    {{appMessage.U0035}}
                  </mat-error>

              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="legacy">
                <mat-icon matPrefix><img src="../assets/images/store-work-phone.svg" alt=""></mat-icon>
                <input matInput placeholder="Work Phone" trimDirective formControlName="workPhone"
                [value]="signUpForm.get('workPhone').value | phoneNumber" [errorStateMatcher]="matcher" maxlength="12" required>
              <mat-error *ngIf="signUpForm.controls.workPhone.errors && signUpForm.controls.workPhone.value && signUpForm.controls.workPhone.errors.pattern && !signUpForm.controls.workPhone.hasError('required')">
                {{appMessage.U0054}}
              </mat-error>
              <mat-error *ngIf="signUpForm.controls.workPhone.hasError('required')">
                {{appMessage.U0030}}
              </mat-error>
              </mat-form-field>
            </p>
            <!-- New field added -->

            <p>
              <mat-form-field class="">
                <input matInput [required]="common.storeClientInfo.isAddressRequired" placeholder="Address 1" maxlength="100"  formControlName="addressOne" [errorStateMatcher]="matcher"  >
                <mat-error *ngIf="signUpForm.controls.addressOne.hasError('required')">
                  {{appMessage.U0188}}
                </mat-error>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field class="">
                <input matInput  placeholder="Address 2" maxlength="100" formControlName="addressTwo" [errorStateMatcher]="matcher">
              </mat-form-field>
            </p>
            <p>
              <mat-form-field class="">
                <mat-select placeholder="Country" formControlName="countryId" 
                (selectionChange)="fieldChanged('countryId', ['stateId', 'city', 'zip'])" [required]="common.storeClientInfo.isAddressRequired">
                  <mat-option>Select Country</mat-option>
                  <mat-option *ngFor="let country of common.countryList" [value]="country.id">
                    {{country.name}}
                  </mat-option>
                </mat-select>
                <mat-hint *ngIf="signUpForm.controls.countryId.touched && signUpForm.controls.countryId.errors?.required">
                  {{appMessage.U0189}}
                </mat-hint>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field class="">
                <mat-select placeholder="State" formControlName="stateId" [required]="common.storeClientInfo.isAddressRequired" 
                (selectionChange)="fieldChanged('stateId', ['city', 'zip'])">
                  <mat-option>Select State</mat-option>
                  <mat-option *ngFor="let state of statesList" [value]="state.id">
                    {{state.name}}
                  </mat-option>

                </mat-select>
                <mat-hint *ngIf="signUpForm.controls.stateId.touched && signUpForm.controls.stateId.errors?.required">
                  {{appMessage.U0190}}
                </mat-hint>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field class="">
                <input matInput [required]="common.storeClientInfo.isAddressRequired" placeholder="City" maxlength="100" formControlName="city" [errorStateMatcher]="matcher"
                (input)="fieldChanged('city', ['zip'])">
                 <mat-error *ngIf="signUpForm.controls.city.touched && signUpForm.controls.city.hasError('required')">
                  {{appMessage.U0191}}
                </mat-error>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field class="">
                <input [required]="common.storeClientInfo.isAddressRequired" matInput placeholder="Zip" maxlength="10" formControlName="zip" [errorStateMatcher]="matcher"
                  >
                  <mat-error *ngIf="signUpForm.controls.zip.touched && signUpForm.controls.zip.hasError('required')">
                    {{appMessage.U0192}}
                  </mat-error>
              </mat-form-field> 
            </p>




            <div class="form-actionable-sec">
              <button type="button" mat-flat-button class="store-active-btn  dy-action-btn-color" (click)="onSubmit()">Sign Up</button>
              <button type="button" mat-button class="store-active-btn" routerLink = "/store-login">Cancel</button>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>