<div class="hemberg-icon-sec">
  <button id="menubtn" mat-icon-button>
    <mat-icon aria-label=""><i id="menubtn" class="material-icons">menu</i></mat-icon>
  </button>

  <!-- <button mat-icon-button class="pin-btn-sec">
    <mat-icon aria-label=""><img src="../assets/images/pin.svg" /></mat-icon>
  </button> -->
</div>

<ul class="menu-item-list">
  <li (click)="menuItemClick('dashboard')" title="Dashboard" class="active-menu-item" [ngClass]="util.currentPageLink == 'dashboard' ? 'active-link' : '' ">
    <img src="../assets/images/dashboard.svg" /><span>Dashboard</span>
  </li>
  <li *ngIf="isAdmin" (click)="menuItemClick('users')" title="SparksLink User" [ngClass]="util.currentPageLink == 'users' ? 'active-link' : '' ">
    <img src="../assets/images/sparksLinkusers.svg" /><span>SparksLink User</span>
  </li>
  <li *ngIf="isAdmin" (click)="menuItemClick('clients')" title="Client" [ngClass]="util.currentPageLink == 'clients' ? 'active-link' : '' ">
    <img src="../assets/images/clients.svg" /><span>Client</span>
  </li>
  <li *ngIf="isAdmin" (click)="menuItemClick('warehouse')" title="Warehouse" [ngClass]="util.currentPageLink == 'warehouse' ? 'active-link' : '' ">
    <img src="../assets/images/warehouse.svg" /><span>Warehouse</span>
  </li>
  <li *ngIf="isAdmin || isAccountManager" (click)="menuItemClick('client-store-users')"title="Store User" [ngClass]="util.currentPageLink == 'client-store-users' ? 'active-link' : '' ">
    <img src="../assets/images/storeusers.svg" /><span>Store User</span>
  </li>
  <li *ngIf="isAdmin || isAccountManager" (click)="menuItemClick('category')" title="Category" [ngClass]="util.currentPageLink == 'category' ? 'active-link' : '' ">
    <img src="../assets/images/category.svg" /><span>Category</span>
  </li>
  <li (click)="menuItemClick('product')" title="Product" [ngClass]="util.currentPageLink == 'product' ? 'active-link' : '' ">
    <img src="../assets/images/products.svg" /><span>Product</span>
  </li>
  <li (click)="menuItemClick('inventory')" title="Inventory" [ngClass]="util.currentPageLink == 'inventory' ? 'active-link' : '' ">
    <img src="../assets/images/inventory.svg" /><span>Inventory</span>
  </li>
  <li (click)="menuItemClick('orders')" title="Order" [ngClass]="util.currentPageLink == 'orders' ? 'active-link' : '' ">
    <img src="../assets/images/oreders-menu-icon.svg" /><span>Order</span>
  </li>
  <li *ngIf="isAdmin || isAccountManager" (click)="menuItemClick('damageproduct')" title="Damage Product" [ngClass]="util.currentPageLink == 'damageproduct' ? 'active-link' : '' ">
    <img src="../assets/images/damage-items-menu-icon.svg" /><span>Damage Product</span>
  </li>
  <li (click)="menuItemClick('reports')" title="Reports" [ngClass]="util.currentPageLink == 'reports' ? 'active-link' : '' ">
    <img src="../assets/images/reports.svg" /><span>Reports</span>
  </li>
  <!-- <li routerLink="/dashboard" routerLinkActive="active-link" class="active-menu-item"><img src="../assets/images/dashboard.svg" /><span>Dashboard</span></li>
    <li routerLink="/users" routerLinkActive="active-link"><img src="../assets/images/users.svg" /><span>SparksLink User</span></li>
    <li routerLink="/clients" routerLinkActive="active-link"><img src="../assets/images/clients.svg" /><span>Client</span></li>
    <li routerLink="/client-store-users" routerLinkActive="active-link"><img src="../assets/images/clients.svg" /><span>Store User</span></li>
    <li routerLinkActive="active-link"><img src="../assets/images/reports.svg" /><span>Reports</span></li>
    <li routerLink="/warehouse" routerLinkActive="active-link"><img src="../assets/images/reports.svg" /><span>Warehouse</span></li> -->
</ul>

<div class="sidenav-footer-sec">
  <div class="client-name-sec">SparksLink V1.0.0</div>
  <div class="copyright-sec"> &copy; {{currentDate.getFullYear()}} <span class="client-name-sec">Sparks Marketing Corp.</span></div>
</div>